ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset{margin:0 0 14px;}
div, span, applet, embed, object, iframe, frameset, p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center, h1, h2, h3, h4, h5, h6, b, strong, big, u, ins, i, cite, em, var, dfn, address, s, strike, del, dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt, fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio,video {border:0;}
html,
body { height: 100%; }
body {
    min-width:320px;
    webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    font-family: 'Domine', serif;
}
h2
{
    font-family: 'Domine', serif;
}
a {
    text-decoration: underline;
    outline:none;
}
img {
    max-width:100%;
    vertical-align:top;
}
input, textarea, select {
    font: 12px "Domine",sans-serif;
    vertical-align:middle;
    overflow: auto;
    color: #878787;
}

.form-error
{
display: none; 
}
.wpcf7-select
{
    width: 100%; 
    margin: 0;
    padding: 7px 11px 8px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    float: left;
    color: #a9a9a9;
    height: 35px;  
}

.circle-header h2, .latest-news h2, .top-block h2{
    font-family: 'Domine', serif;

}

.wpcf7-form .error input[type=text],
.wpcf7-form .error input[type=email],
.wpcf7-form .block .error span{
    color:#f00 !important;
}
input[type=email],
input[type=tel],
input[type=search],
input[type=text],
input[type=password],
input[type=file],
input[type=submit],
textarea {-webkit-appearance:none;}
input[type=email],
input[type=tel],
input[type=search],
input[type=text],
input[type=password],
input[type=file],
input[type=submit] { overflow: hidden; }
label{
    vertical-align:middle;
    font-weight: normal;
    margin: 0;
}
i, cite, em, var, dfn{font-style:italic;}
u, ins {text-decoration: underline;}
s, strike, del {text-decoration: line-through;}
kbd {
    box-shadow: none;
    -webkit-box-shadow: none;
    background: none;
}
blockquote, blockquote:before, blockquote:after, q, q:before, q:after {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}
blockquote{
    border-left:4px solid #ccc;
    padding-left:10px;
    margin-left:14px;
}
cite{
    display:block;
    text-align:right;
}
table, caption, tbody, tfoot, thead, tr, th, td{
    border-collapse: collapse;
    border-spacing: 0;
}
th, td{
    border:1px solid #ccc;
    padding:3px 7px;
    text-align:left;
    vertical-align:top;
}
th{
    font-weight: bold;
    border-color:#878787;
    text-align:center;
    vertical-align:middle;
}
ul{padding-left:27px;}
ul ul,
ul ol,
ol ul,
ol ol{padding-left:18px;}
ul li {list-style-position:outside;}
ol li {list-style-position:inside;}
ul>li{list-style-type:disc;}
dl dt{
    float:left;
    clear:left;
    padding-right:7px;
    font-weight:bold;
}
.list-unstyled>li {
    list-style:none;
    list-style-position:outside;
}
.comment-form textarea,
.comment-form input[type=text],
.searchform input[type=text]{
    border:1px solid #ccc;
    background:#fff;
    margin:0 4px 0 0;
    padding:3px 4px;
    width:300px;
}
.searchform input[type=text]{width:200px;}
.commentlist{margin:0 0 14px;}
.commentlist .edit-link{margin:0;}
.commentlist-item .commentlist-item {padding:0 0 0 24px;}
.comment,
.commentlist-holder{overflow:hidden;}
.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item{padding-top:14px;}
.commentlist .avatar-holder{
    float:left;
    margin:0 14px 4px 0;
}
.comment-form label{
    display:block;
    padding-bottom:4px;
}
.comment-form textarea{
    padding:3px 4px;
    overflow:auto;
    margin:0;
    height:120px;
}
.navigation{overflow:hidden;}
.navigation .next{float:left;}
.navigation .prev{float:right;}
.aligncenter {text-align: center;}
img.aligncenter {
    display: block;
    margin: 0 auto;
}
.alignleft {float: left;}
.alignright {float: right;}
.btn { text-transform: uppercase; }
.btn.download {width:100%;}
.btn.download span {
    position: relative;
    padding-right:33px;
    cursor:pointer;
}
.btn.download span:after {
    width:21px;
    height:17px;
    content:'';
    background: url(images/sprite.png) no-repeat;
    position:absolute;
    top:50%;
    right:0;
    margin-top:-8px;
}
.more-link {
    width: 150px;
    margin-bottom:0;
    padding: 8px 12px 10px;
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    background:#ffd400;
    border:1px solid #ffd400;
    white-space:nowrap;
    font-size:14px;
    line-height:21px;
    font-weight:700;
    color:#000;
    border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
a.btn,
.more-link {text-decoration:none;}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default,
.more-link:hover,
.more-link:focus {
    background-color: #ffe897;
    border-color: #ffe897;
    text-decoration:none;
    box-shadow:none;
    -webkit-box-shadow:none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-submit:hover,
.download-container a:hover .btn {
    background-color: #575756;
    border-color: #575756;
}
.btn-submit,
.btn-submit input[type=submit] {
    font-size: 12px;
    font-weight: 700;
    text-transform:uppercase;
    color: #fff;
    background: #542f90;
    border-radius: 3px;
    -webkit-border-radius: 3px;

}
.btn-submit input[type=submit] {
    width: 100%;
    height: 36px;
    overflow: hidden;
    /*padding: 0 34px 0 0;*/
    border-style: none;
    display: block;
    cursor: pointer;
    background: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    position: relative;
    z-index: 1;
}
@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: auto !important; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
#wrapper {
    width: 100%;
    min-height: 100%;
    overflow:hidden;
}
#wrapper.home {background: url(images/bg-home.jpg) no-repeat 50% -80px;}
.tel-link,
#footer .tel-link {
    cursor:default;
    /*pointer-events:none;*/
    text-decoration:none;
}
#header {
    padding-bottom: 33px;
    background: #ffd400 url(images/bg-header.png) no-repeat 50% 0;
    position:relative;
    z-index:100;
}
.logo {
    width:150px;
    height:49px;
    overflow: hidden;
    margin: 38px -1px 0 2px;
    text-indent:-9999px;
    background:url(images/logo.png) no-repeat;
}
.logo a {
    display: block;
    height: 100%;
}
#nav {
    height: 1%;
    overflow: hidden;
    margin: 0;
    padding: 62px 0 0 2px;
}
#nav li {
    float: left;
    list-style:none;
    list-style-position:outside;
    position: relative;
    text-transform:uppercase;
    padding: 0 16px;
}
#nav li:first-child { padding-left: 0; }
#nav li.last { padding-right: 0; }
#nav li:first-child:after {display: none;}
#nav li:after {
    width:1px;
    height:19px;
    content:'';
    background:#fff;
    position:absolute;
    top:50%;
    left:0;
    margin: -9px 0 0 1px;
}
#nav a {
    color: #202020;
    font-weight: 700;
    text-decoration: none;
}
#nav a:hover,
#nav a:focus {color: #575756;}
#nav .active a,
#nav .active a:focus {color: #fff;}
.header-widget-holder .widget {
    margin-bottom: 23px;
    padding: 25px 25px 18px 20px;
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    overflow: hidden;
}
.header-widget-holder .widget h2 {
    margin: 0 0 8px;
    font-size: 23px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
}
.header-widget-holder {
    width: 100%;
    position: absolute;
    top:0;
    right:0;
    padding: 0 20px;
}
address {
    margin: 0 0 0 3px;
    color: #878787;
    font-weight: 700;
}
address dl { margin: 7px 0 0; }
address dt {color: #000;}
address a,
address a:hover,
address a:focus {
    color: #878787;
    text-decoration: none;
}

#header address{
    font-weight: normal;
}
#header .form-holder { background: #ffd400; }
.home #header .form-holder { background: none; }
.wpcf7-form {margin: -7px 0 0;}
.wpcf7-form .holder { padding: 5px 0 0; }
.wpcf7-form .block {
    height: 1%;
    position: relative;
    padding-bottom: 6px;
}
.wpcf7-form .block:after {
    content: "";
    display: block;
    clear: both;
}
.wpcf7-form input[type=text],
.wpcf7-form input[type=email] {
    width: 100%;
    margin: 0;
    padding: 8px;
    border: none;
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    float: left;
}
.wpcf7-form .input-placeholder-text {
    top: 8px;
    left: 8px;
    font-size: 12px;
    line-height: 15px;
}
.wpcf7-form .btn-submit {
    position: relative;
    margin: 4px 0 -1px;
}
/*.wpcf7-form .btn-submit:after {*/
/*width:21px;*/
/*height:17px;*/
/*content:'';*/
/*background: url(images/sprite.png) no-repeat;*/
/*position:absolute;*/
/*top:50%;*/
/*right:24px;*/
/*margin-top: -8px;*/
/*}*/
.wpcf7-form .btn-submit .ajax-loader {
    position: absolute;
    margin: -7px 0 0 4px;
    top: 50%;
    left:0;
}
.wpcf7-not-valid-tip,
.wpcf7-validation-errors,
.wpcf7-mail-sent-ok {
    clear: both;
    color: #f00;
    background: #fff;
    padding: 2px 8px 3px;
    display: block;
    border: 1px solid #f00;
    font-size: 12px;
    line-height: 16px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
    top: 2px;
}
.wpcf7-mail-sent-ok {
    top:-3px;
    color: #398f14;
    border-color: #398f14;
}
#main {
    background: #fff;
    min-height: 430px;
}
.home #main {
    padding: 76px 0 0;
    margin-bottom: 37px;
    border-bottom:1px solid #3c3c3c;
    background: none;
}
.home #main>.container>.row {padding-bottom:100px;}

.circle-header {
    width:550px;
    height: 550px;
    margin: 0 0 4px 73px;
    display: table;
    text-align:center;
    overflow: hidden;
    border-radius:50%;
    -webkit-border-radius:50%;
    background: #fcd200 url(images/bg-circle-header.png);
}
.circle-header .circle-content {
    padding: 10px 64px 0;
    display: table-cell;
    vertical-align:middle;
}
.circle-header h2 {
    font-size: 64px;
    line-height: 55px;
    text-transform:uppercase;
    margin-bottom: 30px;
}
.circle-header h2 span {
    display: block;
    color: #fff;
}
.circle-header .btn {
    width: 250px;
    font-size:21px;
    line-height:24px;
    margin-left: -2px;
    padding: 20px 12px;
}
.page-post {
    padding: 9px 95px 23px 5px;
    color: #c6c6c6;
}
.page-post h3 {
    margin: 0 0 38px 3px;
    font-size: 50px;
    line-height: 56px;
    word-spacing:-2px;
    letter-spacing:-1px;
    font-weight: normal;
    font-style: italic;
    color: #fff;
}
.page-post .lead {
    font-size: 22px;
    line-height: 26px;
    color: #fff;
    margin: 0 6px 34px;
}
.page-post ul li {
    list-style:none;
    list-style-position:outside;
    position:relative;
    padding-bottom:23px;
}
.page-post ul li:after {
    width:5px;
    height:5px;
    content:'';
    background:#c6c6c6;
    border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    top:9px;
    left:-21px;
}
.latest-news { padding: 0 87px 23px 9px; }
.latest-news h2 {
    margin: 4px 0 37px;
    font-size: 45px;
    line-height: 48px;
    color: #ffd500;
    text-transform:uppercase;
}
.latest-news .post {
    color: #c6c6c6;
    padding-bottom:10px;
}
.latest-news .entry-title {
    margin-bottom: 5px;
    font-size: 26px;
    line-height: 29px;
    font-style:italic;
    font-weight:normal;
    text-transform:capitalize;
    color: #fff;
}
.latest-news .entry-title a {
    color: #fff;
    text-decoration:none;
}
.latest-news .entry-title a:hover {text-decoration:underline;}
.latest-news .entry-meta {padding-bottom: 33px;}
.latest-news .entry-date {
    font-size:22px;
    line-height:25px;
    color: #fff;
    font-style:normal;
    text-transform:capitalize;
    padding-bottom: 19px;
}
.latest-news .entry-date a {
    color: #fff;
    text-decoration:none;
}
.latest-news .entry-date a:hover {text-decoration:underline;}
.latest-news .entry-content {height: 1%;}
.latest-news .entry-content:after {
    content: "";
    display: block;
    clear: both;
}
.latest-news .entry-content img {
    border-radius:50%;
    -webkit-border-radius:50%;
    border:5px solid #fff;
}
.latest-news .alignright {margin: -12px 0 0 51px;}
.latest-news .alignleft {margin: -12px 51px 0 0;}
.latest-news .entry-content p {margin-bottom:18px;padding-right: 160px;}
/*with border*/
/*.promo {*/
    /*border: 2px solid #ffdf3f;*/
    /*margin: 0 89px 30px 9px;*/
    /*padding:7px 8px;*/
    /*background: #000;*/
/*}*/
.promo {
    margin: 0 89px 30px 9px;
    background: #000;
}
.main-block .promo {
    margin: 0 0 67px 0;
    background:none;
}
.promo-content {
    width:100%;
    overflow:hidden;
    position:relative;
    white-space:nowrap;
    background:#ffd400;
}
.promo-content .media {
    display:inline-block;
    width:100%;
    vertical-align:top;
}
.promo-content .holder {
    width: 100%;
    display:inline-block;
    vertical-align:top;
    position:relative;
    left:-100%;
}
.promo-content .holder-content {
    height:1%;
    font-size:51px;
    line-height:54px;
    font-weight:700;
    text-transform:uppercase;
    color: #1d1d1b;
    padding:10px;
}
.promo-content .holder .entry-content {
    white-space:normal;
    margin:0;
    padding: 20px 200px 5px 30px;
    position:relative;
    letter-spacing:-2px;
}
.main-block .promo-content .holder .entry-content {padding: 20px 210px 5px 35px;}
.promo-content .btn {
    position: absolute;
    width: 158px;
    padding: 9px 12px;
    right: 40px;
    top: 50%;
    margin-top:-18px;
}
.main-block .promo-content .btn {
    width: 173px;
    right: 43px;
}
.top-block {
    min-height:300px;
    margin-bottom:38px;
    color: #000;
    background: #0082b7 url(images/bg-top-block.jpg) no-repeat 50% 0;
    /*background-size: cover;*/
}
.top-block h2 {
    font-size: 45px;
    line-height: 48px;
    color:#fff;
    text-transform:uppercase;
    margin-bottom: 20px;
}
.top-block h3 {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
.top-block .block-content {padding:67px 60px 47px 2px;}
.top-block .lead {
    font-size:22px;
    line-height:26px;
    margin-bottom:21px;
}
.main-block>.row {
    z-index:1;
    position:relative;
}
.has-bg .main-block {position:relative;}
.has-bg .main-block:after {
    width:2416px;
    height:2612px;
    content:'';
    background: url(images/bg-main.png) no-repeat;
    position:absolute;
    top:46px;
    left:50%;
    margin-left: -11px;
}
.communication-container {padding-top: 18px;}
.communication-container .heading-container,
.communication-container .articles-container {
    width: 100%;
    overflow: hidden;
}
.communication-container .heading-container {margin-bottom: -73px;}
.communication-container h2 {
    margin: 0 260px 100px 0;
    font-size: 49px;
    line-height: 55px;
    font-weight: normal;
    font-style: italic;
    color: #ffd500;
}
.communication-container .widget {
    color: #878787;
    line-height: 20px;
    padding: 120px 0 5px;
    position: relative;
    z-index:1;
}

.communication-container .widget h3 {line-height:27px;margin-bottom: 0}
.communication-container .widget p {margin-bottom:10px;font-size: 12px}
.communication-container .widget .btn.download {width: 223px;}
.communication-container .media {
    width:244px;
    height:244px;
    position: relative;
    display:block;
}
.communication-container .media img {
    border-radius:50%;
    -webkit-border-radius:50%;
}
.communication-container .media a em {
    width:170px;
    height:170px;
    background: url(images/sprite.png) no-repeat -26px 0;
    position:absolute;
    top:50%;
    left:50%;
    margin:-85px 0 0 -85px;
    display: none;
}
.communication-container .home a em {background-position: -26px -350px;}
.communication-container .write a em {background-position: -26px -175px;}
.communication-container .sport a em {background-position: -26px -525px;}
.communication-container .break a em {background-position: -26px -700px;}
.communication-container .media a:hover em {display:block;}
.communication-container .left-aligned .media {
    float:left;
    margin: 0 35px 0 3px;
}
.communication-container .right-aligned {text-align:right;}
.communication-container .right-aligned .media {
    float:right;
    margin: 0 0 0 32px;
}
.communication-container article {
    line-height:20px;
    color: #878787;
    margin-bottom: 70px;
}
.communication-container article+article {
    margin-bottom:-51px;
    padding-top:142px;
}
.communication-container article h3 {
    margin-bottom:13px;
    font-size: 27px;
    line-height: 30px;
    font-style:italic;
    font-weight:normal;
    color: #000;
}
.communication-container article .entry-content {
    height: 1%;
    overflow: hidden;
    padding:16px 5px;
}
.location {padding: 77px 2px 77px;}

.location h1{
    font-size: 49px;
    line-height: 55px;
    font-weight: normal;
    font-style: italic;
    color: #ffd500;
}

.location-content {
    width: 100%;
    position: relative;
}
.location h2 {display:none;text-align: center;margin-bottom: 25px}
.location-content ol {
    margin: 0;

    padding: 0;
}
.location-content ol li {
    list-style:none;
    font-weight: 600;
    padding-bottom: 7px;
    text-align: center;
    list-style-position:outside;
}

.pois{
    color:#000000;
}

.pois h2{
    display: block !important;
    text-transform: uppercase;
    font-size: 23px;
    padding-top: 13px;
    margin-bottom: 7px;
}

.pois em{
    width: 71px;
    display: block;
    height: 71px;
    position: relative;
    margin:0 auto;
    overflow: hidden;
    text-indent: -9999px;
    background: url(images/sprite.png) no-repeat -316px 0;
}

.poi{
    width: 60px;
    height: 60px;
    background-color: #ffd400;
    text-align: center;
    font-size: 22px;
    padding-top: 16px;
    line-height: 15px;
    letter-spacing: -0.05px;
    font-weight: 700;
    color:#000000;
    margin: 0 auto 8px auto;
    border-radius: 50%;
    -webkit-border-radius:50%;
}

.poi span{
    font-size: 14px;
    font-weight: 400;
}

.pois .arrow{
    width: 14px;
    height: 46px;
    margin: 0 auto 13px auto;
    background: url('images/arrow.jpg') 0 0 no-repeat;
}


.location-content .glyphicon {
    width:38px;
    height:38px;
    overflow:hidden;
    text-indent: -9999px;
    background:#ffd400;
    color:#fff;
    border-radius:19px;
    -webkit-border-radius:19px;
    position: absolute;
    top:0;
    left:0;
    z-index:1;
    text-decoration:none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.location-content .glyphicon:hover {color: #1d1d1b;}
.location-content .glyphicon-plus:before {
    text-indent:0;
    position:absolute;
    top:0;
    left:8px;
    font:38px/38px Arial, Helvetica, sans-serif;
}
.location-content li[class*='location-01'] .glyphicon {
    left: 308px;
    top: 84px;
}
.location-content li[class*='location-02'] .glyphicon {
    left: 643px;
    top: 109px;
}
.location-content li[class*='location-03'] .glyphicon {
    left: 716px;
    top: 129px;
}
.location-content li[class*='location-04'] .glyphicon {
    left: 283px;
    top: 266px;
}
.location-content li[class*='location-05'] .glyphicon {
    left: 453px;
    top: 251px;
}
.location-content li[class*='location-06'] .glyphicon {
    left: 502px;
    top: 440px;
}
.location-content li[class*='location-07'] .glyphicon {
    left: 963px;
    top: 232px;
}

.location-content h3 {
    margin-bottom: 3px;
    font-size: 26px;
    line-height: 26px;
    color:#fff;
    text-transform:uppercase;
}
.location-content h3 a {color: #fff;}
.location-content p {margin-bottom:27px;}
.location-content .btn {
    margin-left: -7px;
    padding-bottom: 8px;
    width: 133px;
}
.download-container {
    height: 1%;
    padding-bottom: 75px;
    margin-top: 19px;
}

.download-container.inverted{
    margin-top: 0;
}

.download-container:after {
    content: "";
    display: block;
    clear: both;
}
.download-container a, .download-container .na {
    margin-bottom:20px;
    display:block;
    text-align:center;
    color: #000;
    font-size:22px;
    line-height:26px;
    font-weight:700;
    text-decoration:none;
}

.download-container .na span{
    width: 215px;
    display: block;
    padding-top: 85px;
    margin: 0 auto;
    height: 215px;
    margin-bottom: 20px;
    background-color: #ffd500;
    border-radius:50%;
    -webkit-border-radius:50%;
}

.download-container a span,
.download-container a em,
.download-container a b {cursor:pointer;}
.download-container .media {
    display:block;
    position:relative;
    margin-bottom: 14px;
}
.download-container .media img {
    border-radius:50%;
    -webkit-border-radius:50%;
}
.download-container .media em {
    width: 71px;
    height: 71px;
    overflow: hidden;
    position:absolute;
    top:50%;
    left:50%;
    margin: -34px 0 0 -38px;
    text-indent: -9999px;
    background: url(images/sprite.png) no-repeat -316px 0;
    display:none;
}
.download-container a:hover .media em {display:block;}
.download-container a b {
    display: block;
    padding:0 0px 15px;
    text-transform:capitalize;
}
.download-container .btn {padding: 10px 12px 13px;}
.posts-holder {padding: 16px 0 84px 3px;}
.posts-holder .post {
    border-top:1px solid #f1f1f0;
    padding:46px 0 52px;
}
.single-post .post {padding: 13px 0 1px;}
.posts-holder .post:first-child {
    border-style:none;
    padding-top:0;
}
.posts-holder .post .heading {padding-bottom:22px;}
.single-post .post .heading {
    position:relative;
    padding-top: 85px;
}
.posts-holder .post .entry-title,
.single-post .post .entry-title {
    font-size: 27px;
    line-height: 33px;
    text-transform:capitalize;
    margin:0 240px 6px 0;
    font-style:italic;
    font-weight:normal;
    color: #ffd500;
}
.single-post .post .entry-title {
    font-size: 50px;
    line-height: 54px;
    margin: 0 0 30px;
}
.posts-holder .post .entry-title a,
.single-post .post .entry-title a {
    text-decoration:none;
    color: #ffd500;
}
.posts-holder .post .entry-title a:hover,
.single-post .post .entry-title a:hover {color:#1d1d1b;}
.single-post .post .heading .entry-meta {
    width: 100%;
    position:absolute;
    top:0;
    left:0;
    padding: 0 2px 12px;
    border-bottom: 1px solid #f1f1f0;
}
.single-post .post .heading .back {
    float:right;
    color: #9d9d9c;
    position:relative;
    padding-right:13px;
    text-decoration:none;
    font-size:13px;
    line-height:16px;
}
.single-post .post .heading .back:hover {color:#000;}
.single-post .post .heading .back:after {
    width:7px;
    height:11px;
    content:'';
    background: url(images/sprite.png) no-repeat -14px -22px;
    position:absolute;
    top:50%;
    right:0;
    margin-top:-5px;
}
.single-post .post .heading .back:hover:after {background-position:-14px -54px;}
.posts-holder .post .entry-date,
.single-post .post .entry-date {
    font-size:22px;
    line-height:25px;
    color:#000;
    font-style:normal;
    text-transform:capitalize;
}
.single-post .post .entry-date {
    font-size:22px;
    line-height:25px;
}
.posts-holder .post .entry-date a,
.single-post .post .entry-date a {
    text-decoration:none;
    color: #000;
}
.posts-holder .post .entry-date a:hover,
.single-post .post .entry-date a:hover {text-decoration:underline;}
.single-post .post .entry-content {padding-bottom: 75px;}
.posts-holder .post img {
    border-radius:50%;
    -webkit-border-radius:50%;
}
.single-post .post img {margin-bottom:31px;}
.posts-holder .post .alignright {margin: -50px -100px -31px 40px;}
.posts-holder .post .alignleft {margin: -50px 40px -31px 0;}
.posts-holder .post .entry-content {padding-right:100px;}
.posts-holder .post p {margin-bottom:36px;padding-right: 50px;}
.single-post .post p {margin-bottom:23px;padding-right: 80px;}
.posts-holder .post .entry-meta {
    width: 100%;
    clear:both;
}
.posts-holder .more-link {padding:6px 12px 7px;}
.wp-pagenavi {
    height: 1%;
    overflow: hidden;
    border-top: 1px solid #dfdfde;
    text-align:center;
    color: #000;
    position:relative;
    padding:14px 40px;
}
.wp-pagenavi .pages,
.wp-pagenavi .first,
.wp-pagenavi .last {display:none;}
.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
    width:7px;
    height:11px;
    overflow:hidden;
    text-indent:-9999px;
    position:absolute;
    top:50%;
    margin-top:-9px;
    background:url(images/sprite.png) no-repeat;
}
.wp-pagenavi .previouspostslink {
    left:0;
    background-position:0 -22px;
}
.wp-pagenavi .previouspostslink:hover {background-position:0 -38px;}
.wp-pagenavi .nextpostslink {
    right:0;
    background-position:-14px -22px;
}
.wp-pagenavi .nextpostslink:hover {background-position:-14px -38px;}
.wp-pagenavi a {text-decoration:none;}
.wp-pagenavi a:hover {color:#ffd500;}
.wp-pagenavi .page,
.wp-pagenavi .current {margin:0 2px 0 1px;}
.paging {
    height: 1%;
    overflow: hidden;
    border-top:1px solid #f1f1f0;
    padding: 15px 0 103px;
}
.paging a {
    font-size:13px;
    line-height:16px;
    color:#9d9d9c;
    text-decoration:none;
    position:relative;
}
.paging a:hover {color: #1d1d1b;}
.paging a:after {
    width: 7px;
    height: 11px;
    content:'';
    position:absolute;
    top:50%;
    margin-top:-5px;
    background: url(images/sprite.png) no-repeat;
}
.paging .nav-previous {
    float:left;
    padding-left:16px;
}
.paging .nav-previous:after {
    left:0;
    background-position:0 -22px;
}
.paging .nav-previous:hover:after {background-position:0 -54px;}
.paging .nav-next {
    float:right;
    padding-right:16px;
}
.paging .nav-next:after {
    right:0;
    background-position:-14px -22px;
}
.paging .nav-next:hover:after {background-position:-14px -54px;}
#sidebar {padding: 170px 0 15px;}
#sidebar .widget {padding-bottom:29px;}
#sidebar .widget h3 {
    margin-bottom:5px;
    line-height: 26px;
    text-transform:capitalize;
}
.widget_archive ul,
.widget_categories ul {
    margin-bottom:10px;
    padding: 0;
    list-style: none;
}
.widget_archive ul li,
.widget_categories ul li {
    padding-bottom:1px;
    list-style:none;
    list-style-position:outside;
}
.widget_archive a:hover {color:#ffd500;}
.widget_categories a:hover {color:#1d1d1b;}
.mega-list {
    padding-bottom:30px;
    padding-top:70px;
}
.mega-list:after {
    content: "";
    display: block;
    clear: both;
}
.mega-list h2 {
    margin-bottom: 27px;
    font-size: 50px;
    line-height: 53px;
    font-weight:normal;
    font-style:italic;
    color: #ffd500;
    text-transform:capitalize;
}
.search-form {
    margin-bottom:20px;
    padding: 27px 32px 17px 25px;
    border:1px solid #e2e2e2;
    border-radius:2px;
    -webkit-border-radius:2px;
}
.search-form h3 {
    margin: 0 0 18px -3px;
    font-size: 21px;
    line-height: 24px;
    font-style:italic;
    font-weight:normal;
}
.search-form .radio-holder {
    margin: 0 0 21px -5px;
    padding: 0;
}
.search-form .radio-holder li {
    height: 1%;
    overflow: hidden;
    padding: 4px 0;
    list-style:none;
    list-style-position:outside;
    font:14px/17px "open-sans", Arial, Helvetica, sans-serif;
    color:#878787;
}
.search-form .radio-holder label {padding-top:2px;}
.search-form .block {padding:0 0 21px;}
.search-form .block legend {
    font-size:13px;
    line-height:16px;
    color:#000;
    position:relative;
    margin-bottom:0;
    padding-bottom:4px;
    display:block;
    clear:both;
}
.search-form .block legend.icon {padding:0 0 4px 22px;}
.search-form .block .icon:after,
.search-form .block .glyphicon {
    position:absolute;
    top:50%;
    left:0;
}
.search-form .block .icon:after {
    width:12px;
    height:12px;
    content:'';
    background: url(images/sprite.png) no-repeat -9999px -9999px;
    position:absolute;
    left:1px;
}
.search-form .block .size:after {
    background-position: 0 -71px;
    margin-top: -8px;
}
.search-form .block .price:after {
    width:10px;
    height:16px;
    background: url(images/sprite.png) no-repeat 0 -88px;
    margin-top: -10px;
    left:0;
}
.search-form .block .bed:after {
    width:17px;
    height:14px;
    background: url(images/sprite.png) no-repeat 0 -110px;
    margin-top: -8px;
    left:0;
}
.search-form .block .bath:after {
    width:13px;
    height:16px;
    background: url(images/sprite.png) no-repeat 0 -129px;
    margin-top: -9px;
}
.search-form .block .glyphicon-resize-horizontal {margin-top:-8px;}
.search-form .glyphicon-resize-horizontal:before {font-size:15px;}
.search-form .select-area {
    font:14px/31px "open-sans", Arial, Helvetica, sans-serif;
    height:33px;
    border:1px solid #dfdfde;
    border-radius:0;
    -webkit-border-radius:0;
}
.search-form .select-area .select-opener .caret {margin: 0 0 0 8px;}
.search-form .cols {
    height: 1%;
    overflow: hidden;
}
.search-form .cols .col {
    width:87px;
    float:right;
}
.search-form .cols .col:first-child {float:left;}
.search-form .btn-holder {padding: 4px 0 10px;}
.search-form input[type=submit] {
    width: 100%;
    height: 37px;
    padding:0 12px;
    display:block;
    cursor: pointer;
}
.drop-custom-select.select-options {
    margin-top:-1px;
    border-radius:0;
    -webkit-border-radius:0;
    border:1px solid #dfdfde;
    padding-top:0;
}
.drop-custom-select.select-options ul li {font:14px/25px "open-sans", Arial, Helvetica, sans-serif;}
.list-content-holder {
    padding: 25px 0 0;
    border-top:1px solid #f1f1f0;
}
.list-content-holder .heading h3 {
    font-size: 24px;
    line-height: 27px;
    text-transform:uppercase;
    margin-bottom: 9px;
}
.list-content-holder .heading .holder {
    height: 1%;
    overflow: hidden;
    padding-bottom: 13px;
}
.list-content-holder .heading h4 {
    margin-bottom:10px;
    font-size: 21px;
    line-height: 24px;
    float:left;
}
.list-content-holder .heading h4 span {
    font-size:18px;
    font-weight:normal;
    color:#878787;
}
.list-content-holder .heading ul {
    margin: 0;
    padding: 5px 5px 5px 0;
    float:right;
}
.list-content-holder .heading ul li {
    font-size:12px;
    line-height:15px;
    list-style:none;
    list-style-position:outside;
    float:left;
    position:relative;
    padding-left:17px;
}
.list-content-holder .heading ul li:after {
    width:2px;
    height:9px;
    content:'';
    background:#d4d4d4;
    border-right:1px solid #9a9a9a;
    position:absolute;
    top:50%;
    left:8px;
    margin-top:-4px;
}
.list-content-holder .heading ul li:first-child:after {display:none;}
.list-content-holder .heading ul a {
    color:#878787;
    text-decoration:none;
    position:relative;
}
.list-content-holder .heading ul a:hover {color: #000;}
.list-content-holder .heading .attention {padding-right:20px;}
.list-content-holder .heading .attention:after {
    width:15px;
    height:15px;
    content:'';
    background: url(images/sprite.png) no-repeat 0 -150px;
    position:absolute;
    top:50%;
    right:0;
    margin-top:-7px;
}
.list-content-holder .heading .attention:hover:after {background-position:0 -170px;}
.list-content {
    margin: 0;
    padding: 0 0 64px;
    border-top: 1px solid #dbdbda;
}
.land-block-container .list-content {
    margin: 28px 0 -1px;
    padding-bottom: 0;
}
.list-content>li {
    overflow:hidden;
    list-style:none;
    list-style-position:outside;
    border-bottom: 1px solid #dbdbda;
    position:relative;
}

.list-content>li.sold .list-content-slide-add{
    display: none;
}

.list-content>li.active {border-bottom-style:none;}
.list-content>li.sold.active {border-bottom-style: solid;}
.list-content>li .border-t,
.list-content>li .border-b {
    width:0;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    visibility:hidden;
}
.list-content>li.active .border-t,
.list-content>li.active .border-b {visibility:visible;}
.list-content>li.sold.active .border-t,
.list-content>li.sold.active .border-b {display:none;}
.list-content>li.active .border-t:after,
.list-content>li.active .border-t:before,
.list-content>li.active .border-b:after,
.list-content>li.active .border-b:before {content:' ';}
.list-content>li .border-t:after,
.list-content>li .border-t:before,
.list-content>li .border-b:after,
.list-content>li .border-b:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    background:#ffd500;
}
.list-content>li .border-b,
.list-content>li .border-b:after,
.list-content>li .border-b:before {
    top:auto;
    bottom:0;
    left:auto;
    right:0;
}
.list-content>li .border-t:after,
.list-content>li .border-t:before,
.list-content>li .border-b:after,
.list-content>li .border-b:before {
    width:999px;
    height:2px;
}
.list-content>li .border-t:before,
.list-content>li .border-b:before {
    width:4px;
    height:100%;
}
.list-content .data-holder {
    width: 100%;
    display:table;
    margin: 0;
    padding: 0;
    background:#f3f3f3;
    cursor:pointer;
}
.list-content .data-holder:hover,
.list-content .data-holder:hover .col05 {background:#fff;}
.list-content>.active .data-holder,
.list-content>.active .data-holder .col04,
.list-content>.active .data-holder .col05 {background:#fff;}
.list-content .data-holder li {
    padding: 7px 15px 4px;
    vertical-align:middle;
    display:table-cell;
    list-style:none;
    list-style-position:outside;
    border-left: 1px solid #dbdbda;
    font-size:13px;
    line-height:28px;
    color: #000;
    text-align:center;
}
.land-block-container .list-content .data-holder li {padding: 5px 15px 6px;}
.list-content .sold .data-holder li {color: #878786;}
.list-content .data-holder li:first-child {border-left-color: #f3f3f3;}
.list-content .data-holder:hover li:first-child,
.list-content .active .data-holder li:first-child {border-left-color: #fff;}
.list-content .data-holder .icon {
    margin-left: -12px;
    padding: 0 8px 0 18px;
    position:relative;
}
.land-block-container .list-content .data-holder .icon {
    margin-left: -6px;
    padding-right: 4px;
}
.land-block-container .list-content .data-holder .price {padding: 0 7px;}
.list-content .data-holder .icon .glyphicon {
    position:absolute;
    top:50%;
    left:0;
    margin-top: 2px;
    font-size: 16px;
    line-height:0;
}
.list-content .data-holder .icon:after {
    content:'';
    background: url(images/sprite.png) no-repeat -9999px -9999px;
    position:absolute;
    top:50%;
    left:0;
}
.list-content .data-holder .size:after {
    width:11px;
    height:11px;
    background-position:0 -251px;
    margin-top:-5px;
}
.list-content .sold .data-holder .size:after {background-position:0 -267px;}
.list-content .data-holder sup {
    font-size: 55%;
    top: -0.7em;
}
.list-content .data-holder .enquire {
    width: 21px;
    height: 17px;
    overflow: hidden;
    display: block;
    text-indent: -9999px;
    background: url(images/sprite.png) no-repeat 0 -190px;
    margin:-4px auto 0;
    padding:0;
}
.land-block-container .list-content .data-holder .enquire {margin:-4px auto 0;}
.list-content .data-holder:hover .enquire,
.list-content>.active .data-holder .enquire {background-position:0 -212px;}
.list-content .data-holder .available,
.list-content .data-holder .sold {
    width:177px;
    font-size:12px;
    text-transform:uppercase;
    display:block;
    margin-top:-4px;
}
.list-content .data-holder .available span {left:-2px;}
.list-content .data-holder .sold .glyphicon-remove {margin-left: -46px;}
.list-content .sold .data-holder .available,
.list-content .data-holder .sold {display:none;}
.list-content .sold .data-holder .sold {display:block;}
.list-content .data-holder .sold {color: #c00;}
.list-content .data-holder .col01 {
    width: 171px;
    font-size:15px;
    line-height:18px;
    text-transform:uppercase;
}
.list-content .data-holder .col01 span {
    display: block;
    margin-top: -5px;
}
.land-block-container .list-content .data-holder .col01 span {margin:0;}
.list-content .data-holder .col02 {
    width: 189px;
    font-family: 'Domine', serif;
}
.list-content .data-holder .col03 {
    width: 190px;
    font-family: 'Domine', serif;
}
.list-content .data-holder .col04 {
    width: 208px;
    background:#ffd400;
}
.list-content .data-holder:hover .col04 {background:#fff;}
.list-content .sold .data-holder,
.list-content .sold .data-holder .col04,
.list-content .sold .data-holder:hover .col04,
.list-content .sold .data-holder .col05 {background:#f3f3f3;}
.list-content .sold .data-holder:hover,
.list-content .sold .data-holder:hover .col05 {cursor:default;}
.list-content .sold .data-holder li:first-child {border-color:#f3f3f3;}
.list-content .sold .data-content,
.list-content .sold .data-content-add
{

    display:none !important;
    position:absolute !important;
    left:-9999px !important;
    top: -9999px !important;
}
.list-content .sold .enquire {
    background:none;
    cursor:default;
}
.list-content .data-holder .col05 {
    width: 56px;
    background:#1d1d1b;
}
.land-block-container .list-content .data-holder .col01 {width: 148px;}
.land-block-container .list-content .data-holder .col02 {width: 190px;}
.land-block-container .list-content .data-holder .col03 {width: 230px;}
.land-block-container .list-content .data-holder .col04 {width: 188px;}
.land-block-container .list-content .data-holder .col05 {width: 59px;}
.land-block-container .list-content .data-holder .available,
.land-block-container .list-content .data-holder .sold {
    width:157px;
    margin: 0 0 0 -2px;
}
.list-content .data-content,
.list-content .data-content-add{
    width: 100%;
    overflow: hidden;
    position:relative;
}
.list-content .data-content .holder,
.list-content .data-content-add .holder  {
    width: 100%;
    display:table;
    padding: 22px 24px 24px 21px;
    border-top:1px solid #dbdbda;
    background:#fff;
}
.land-block-container .list-content .data-content .holder
{
    padding: 23px 21px 22px 20px;
    border-bottom:1px solid #dbdbda;
}

.land-block-container .list-content .data-content-add .holder{
    padding: 23px 0 22px 0;
}

.list-content .data-content .col,
.list-content .data-content-add .col
{
    width: 412px;
    display:table-cell;
    vertical-align:middle;
    background:#ffd400 url(images/bg-action-block.png) no-repeat 100% 0;
}
.list-content .data-content .col:first-child,
.list-content .data-content-add .col:first-child {
    width: 358px;
    background:none;
}
.land-block-container .list-content .data-content .col:first-child,
.land-block-container .list-content .data-content-add .col:first-child
{width: 362px;}
.enquire-form {
    font-size:12px;
    line-height:15px;
    color:#878787;
    margin-bottom: 0;
    padding: 2px 39px 0 0;
}
.land-block-container .enquire-form {padding:0 43px 3px 0;}
.enquire-form .title {
    margin-bottom: 22px;
    font-size: 21px;
    line-height: 24px;
    color:#000;
    display:block;
    text-transform:uppercase;
}
.land-block-container .enquire-form .title {margin:-1px 0 22px;}
.enquire-form .block,
.enquire-form .submit-block {
    height: 1%;
    position:relative;
    margin-bottom:8px;
}
.land-block-container .enquire-form .block {margin-bottom:9px;}
.enquire-form .submit-block {
    margin-bottom:0;
    padding-top:17px;
}
.land-block-container .enquire-form .submit-block {padding-top:14px;}
.enquire-form .block:after,
.enquire-form .submit-block:after {
    content: "";
    display: block;
    clear: both;
}
.enquire-form .block input[type=text],
.enquire-form .block input[type=tel],
.enquire-form .block input[type=email] {
    width: 100%;
    padding: 8px 11px 8px;
    border: 1px solid #dfdfde;
    background: none;
    float:left;
    font-size:12px;
}
.enquire-form .block .input-placeholder-text {
    top: 11px;
    left: 12px;
    font-size:13px;
    line-height:16px;
}
.enquire-form .btn-submit {
    width: 169px;
    float:left;
    position:relative;
}
.enquire-form .btn-submit:after {
    width:15px;
    height:12px;
    content:'';
    background: url(images/sprite.png) no-repeat 0 -234px;
    position:absolute;
    top:50%;
    right:20px;
    margin-top:-5px;
}
.land-block-container .enquire-form .btn-submit:after {margin-top:-6px;}
.enquire-form .btn-submit input {
    height: 37px;
    padding-right: 22px;
}
.enquire-form .required {
    float:right;
    padding: 23px 3px 0 0;
}
.land-block-container .enquire-form .required {padding: 22px 1px 0 0;}
.list-content .action-block {
    text-transform:uppercase;
    text-align:center;
    font-weight:700;
    color:#1d1d1b;
    font-size:34px;
    line-height:40px;
    padding: 13px 10px 10px;
}
.land-block-container .list-content .action-block {
    padding: 11px 11px 12px;
    font-size:35px;
}
.list-content .action-block span {
    color: #fff;
    display:block;
    padding-bottom: 1px;
}
.land-block-container .list-content .action-block span {padding:0;}
.list-content .action-block .btn {
    margin-top: 17px;
    width: 200px;
    padding-bottom:7px;
    clear:both;
}
.list-content .action-block .btn.download span {padding-right: 32px;}
.list-content .action-block .btn.download span:after {right:14px;}
.land-block-container {
    width: 100%;
    padding: 24px 25px 24px 20px;
    border-top:1px solid #eaeae9;
}
.land-block-container.land-active {
    padding-bottom:0;
    background:#f3f3f3;
}
.land-block {
    width: 100%;
    overflow: hidden;
    position:relative;
    font:17px/20px "open-sans", Arial, Helvetica, sans-serif;
    color:#000;
}
.land-block .media,
.land-block .entry-content {
    width:284px;
    float:left;
    padding-right:5px;
}
.land-block .media {
    width:264px;
    padding: 3px 40px 3px 0;
}
.land-block-container .heading {padding-bottom: 18px;}
.land-block-container .land-block h3 {
    margin-bottom: 6px;
    font-size: 27px;
    line-height: 30px;
    color:#000;
}
.land-block-container .land-block h3 a {
    color:#000;
    text-decoration:none;
}
.land-block-container .land-block h3 a:hover {text-decoration:underline;}
.land-block .heading .by {
    display:block;
    color: #878787;
    font: 16px/19px "lexia", "Times New Roman", Times, serif;
}
.land-block .heading .by a {color: #878787;}
.land-block .heading .by a:hover {text-decoration:none;}
.land-block .icon:after {
    content:'';
    background: url(images/sprite.png) no-repeat -9999px -9999px;
    position:absolute;
    top:50%;
    left:0;
}
.land-block span.icon {
    padding-left:22px;
    position:relative;
}
.land-block span.size:after {
    width:14px;
    height:14px;
    margin-top:-6px;
    background-position: 0 -285px;
}
.land-block span.size sup {
    font-size:50%;
    top:7px;
    vertical-align:top;
}
.land-block .entry-content dl {
    height: 1%;
    overflow: hidden;
    margin-bottom:10px;
    padding: 19px 1px 0;
}
.land-block .entry-content dl dt {
    width:34px;
    height:32px;
    overflow:hidden;
    text-indent:-9999px;
    float:left;
    margin-right: 9px;
    padding:0;
    clear: none;
    position:relative;
}
.land-block .entry-content dl .icon:after {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
}
.land-block .entry-content dl .bed:after {background-position:-392px 0;}
.land-block .entry-content dl .bath:after {background-position:-431px 0;}
.land-block .entry-content dl .car:after {background-position:-392px -38px;}
.land-block .entry-content dl dd {
    width: 34px;
    overflow:hidden;
    padding:4px 5px 0 0;
    float:left;
    font-size:18px;
    line-height:21px;
    font-weight:700;
}
.land-block .entry-meta {
    height: 1%;
    overflow: hidden;
    padding: 14px 0 44px;
}
.land-block .entry-meta dl dt {
    font-size:15px;
    float:none;
    padding-bottom:1px;
}
.land-block .asterisk {
    width: 15px;
    height: 15px;
    overflow: hidden;
    display: inline-block;
    text-indent: -9999px;
    background: url(images/sprite.png) no-repeat 0 -150px;
    position: relative;
    top: 3px;
    margin-left: 4px;
}
.land-block .entry-meta .btn {
    width:222px;
    position:absolute;
    bottom: 7px;
    right:0;
    padding: 6px 12px 8px;
    color: #fff;
    font-family: 'Domine', serif;
}
/*.land-block .entry-meta .btn-primary,*/
/*.land-active .land-block .entry-meta .btn-default {display:none;}*/
.land-active .land-block .entry-meta .btn-primary {display:block;}
.land-block .entry-meta .btn-default:focus,
.land-block .entry-meta .btn-default:active {
    background:#ffd400;
    border-color:#ffd400;
}
.land-block .entry-meta .btn-default:hover,
.land-active .land-block .entry-meta .btn-default:focus,
.land-active .land-block .entry-meta .btn-default:active,
.land-active .land-block .entry-meta .btn-default {
    background:#1d1d1b;
    border-color:#1d1d1b;
}

.entry-meta .btn-primary.download{
    display: block !important; bottom: 50px;
}


.list-content-slide,
.list-content-holder
{
    margin: 0 -25px 0 -20px;
    overflow: hidden;
    position:relative;
}

.land-block-container .list-content-holder {
    padding: 0;
    border-top: 0;
}

.list-content-slide-add{
    margin: 0;
    padding: 24px 25px 24px 20px;
    overflow: hidden;
    position:relative;
    background-color: #ffffff;
}


.list-content-slide .border-t,
.list-content-slide .border-b {display:none;}
#footer {
    color: #878787;
    background: #000;
    font-size:12px;
    line-height:21px;
    padding:55px 0 77px;
    position:relative;
    z-index:1;
}
#footer:after {
    width:100%;
    height:9999px;
    content:'';
    background:#000;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}
.home #footer {padding-top:0;}
#footer h3 {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 17px;
    color:#ffd500;
    text-transform:uppercase;
}
#footer h3 a { color:#ffd500; }
#footer address {
    font-weight: normal;
    margin: 0 0 13px;
    font-size:12px;
    line-height:18px;
}
#footer address dl {
    margin: 0;
    padding:1px 0 0;
}
#footer address dt {
    color: #fff;
    padding-right:6px;
    font-weight:normal;
}
#footer address dt,
#footer address dd {
    padding-bottom:1px;
    line-height:17px;
}
#footer address a {text-decoration:underline;}
#footer address a:hover {text-decoration:none;}
#footer .more {
    color: #fff;
    text-decoration: none;
    padding-right:14px;
    position:relative;
}
#footer .more:hover {text-decoration:underline;}
#footer .more:after {
    width: 0;
    height: 0;
    border-width: 5px 0 5px 5px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    content:'';
    position:absolute;
    top:50%;
    right:0;
    margin-top:-4px;
}
.widget_recent-posts ul {
    margin: -1px 0 17px;
    padding: 0;
}
.widget_recent-posts ul li {
    margin-bottom: -3px;
    list-style:none;
    list-style-position:outside;
    text-transform:capitalize;
}
.widget_recent-posts li a {color: #878787;}
.widget_recent-posts li a:hover {text-decoration:none;}
.logos {
    width: 100%;
    display:table;
    margin: 0 0 18px -19px;
    padding: 0;
}
.logos li {
    padding-left:16px;
    list-style:none;
    list-style-position:outside;
    display:table-cell;
    vertical-align:middle;
}
.info-block {
    font-size: 10px;
    line-height: 16px;
    text-align:right;
    padding-bottom:10px;
}
.info-block ul {
    margin: 0;
    padding: 0 0 1px;
    white-space:nowrap;
}
.info-block ul li {
    list-style:none;
    list-style-position:outside;
    display: inline-block;
    vertical-align:top;
    position:relative;
    padding:0 3px 0 8px;
    text-transform:capitalize;
}
.info-block ul li:after {
    width:2px;
    height:7px;
    content:'';
    background:#505050;
    position:absolute;
    top:50%;
    left:0;
    margin-top:-3px;
}
.info-block ul li:first-child:after {display: none;}
.info-block a {
    color: #878787;
    text-decoration:none;
}
.info-block a:hover {text-decoration:underline;}
/* jcf.css - custom forms sstyles */
/* hide original element */
.jcf-hidden {
    display: block !important;
    position: absolute !important;
    left: -9999px !important;
}
/* custom radio styles */
.rad-area {
    width: 22px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    margin: 0 10px 0 0;
    float: left;
    background: #fff;
    position: relative;
}
.rad-checked span {
    width: 10px;
    height: 10px;
    position: absolute;
    top:50%;
    left:50%;
    margin: -5px 0 0 -5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #ffd400;
}

/* custom checkbox styles */
.chk-area {
    border: 1px solid #ddd;
    margin: 0 10px 0 0;
    float: left;
    width: 20px;
    height: 20px;
    padding: 4px 5px 5px 4px;
}
.chk-area span{
    display:block;
    width: 10px;
    height: 10px;
}
.chk-checked span{
    background: #ffd500;
}
.chk-disabled {
    background: #eee;
}
.jcf-label-disabled {
    color: #ccc;
}


/* custom select styles */
select.jcf-hidden { width: 100%; }

.select-source-enquiry, .select-call-back{
    border:1px solid #dfdfde;
}
.select-area {
    width: 100% !important;
    position: relative;
    overflow: hidden;
    cursor: default;
    font-size: 12px;
    line-height: 32px;
    height: 32px;
    float: left;
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.select-area .center {
    overflow: hidden;
    white-space: nowrap;
    margin-right:32px;
    padding: 0 8px;
    display: block;
    color:#878787;
}
.select-area .select-opener {
    position: absolute;
    height: 100%;
    width: 32px;
    top:0;
    right:0;
}
.select-area .select-opener .caret {
    border-width: 6px 6px 0 6px;
    border-color: #878786 transparent #878786 transparent;
    margin: 0 0 2px 10px;
}
.select-options {
    position: absolute;
    overflow: hidden;
    background: #fff;
    margin-top:-3px;
    padding-top:4px;
    border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    z-index: 2000;
}
.select-options .drop-holder {
    overflow: hidden;
    height: 1%;
}
.select-options ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.select-options ul li {
    width: 100%;
    float: left;
    list-style:none;
    list-style-position:outside;
    font-size: 12px;
    line-height: 15px;
}
.select-options ul a {
    text-decoration: none;
    padding: 3px 8px 6px;
    display: block;
    cursor: default;
    color: #878787;
    height: 1%;
}
.select-options .item-selected a {
    text-decoration: none;
    background: #878787;
    color: #fff;
}
/* select options optgroup example styles */
.select-options .optgroup {clear: both;}
.select-options .optgroup strong {
    display: block;
    padding: 5px;
}
.select-options .optgroup ul a {padding-left: 30px;}
@media only screen and (max-width: 1139px) {
    .btn-submit input[type=submit] { padding-right:24px; }
    .logo {
        width:122px;
        height:40px;
        background-position:0 -54px;
        margin-top:47px;
    }
    #nav li {
        padding: 0 8px;
        font-size: 13px;
    }
    #nav li:after {margin: -10px 0 0 -1px;}
    .header-widget-holder { padding-left: 0; }
    .header-widget-holder .widget {padding: 25px 12px 18px;}
    .header-widget-holder .widget h2 {
        font-size: 20px;
        line-height: 23px;
    }
    .wpcf7-form .btn-submit:after {right: 14px;}
    .circle-header {margin-left:0;}
    .page-post,
    .latest-news {padding-right:5px;}

    .communication-container article {margin-bottom:30px;}
    .communication-container h2 {margin-right:160px;}
    .communication-container .media {
        width:160px;
        height:160px;
    }
    .communication-container .media a em {
        width:110px;
        height:110px;
        background-position:-201px 0;
        margin:-55px 0 0 -55px;
    }
    .communication-container .home a em {background-position: -201px -175px;}
    .communication-container .write a em {background-position: -201px -350px;}
    .communication-container .sport a em {background-position: -201px -525px;}
    .communication-container .break a em {background-position: -201px -700px;}
    .communication-container .left-aligned .media {margin-right:15px;}
    .communication-container .right-aligned .media {margin-left:12px;}



    .location {padding:65px 2px;}
    .location-content .glyphicon {
        width:32px;
        height:32px;
        border-radius:16px;
        -webkit-border-radius:16px;
    }
    .location-content .glyphicon-plus:before {
        left:6px;
        font-size:32px;
        line-height:32px;
        content:' +';
    }
    .location-content li[class*='location-01'] .glyphicon {
        left: 263px;
        top: 72px;
    }
    .location-content li[class*='location-02'] .glyphicon {
        left: 550px;
        top: 93px;
    }
    .location-content li[class*='location-03'] .glyphicon {
        left: 611px;
        top: 111px;
    }
    .location-content li[class*='location-04'] .glyphicon {
        left: 242px;
        top: 227px;
    }
    .location-content li[class*='location-05'] .glyphicon {
        left: 388px;
        top: 212px;
    }
    .location-content li[class*='location-06'] .glyphicon {
        left: 427px;
        top: 375px;
    }
    .location-content li[class*='location-07'] .glyphicon {
        left: 822px;
        top: 198px;
    }
    .download-container a b {padding: 0 0 15px;}
    .logos {margin-left:0;}
    .logos img {width:100%;}
    .info-block {margin-left:-30px;}
    .info-block ul {margin-left:-10px;}
    .search-form {padding: 27px 10px 17px;}
    .list-content .data-content .holder,
    .list-content .data-content-add .holder
    {padding:22px 10px;}
    .enquire-form {padding-right:10px;}
    .land-block {font-size:16px;}
    .land-block .media {
        width: 190px;
        padding-right:20px;
    }
    .land-block .entry-content {width: 238px;}
    .land-block-container .heading {padding-bottom:9px;}
    .land-block-container .land-block h3 {
        font-size:20px;
        line-height:23px;
    }
    .land-block .heading .by {
        font-size:15px;
        line-height:18px;
    }
    .land-block .entry-content dl {padding-top: 9px;}
    .land-block-container .enquire-form {padding-right:13px;}
    .land-block-container .list-content .data-content .holder,
    .land-block-container .list-content .data-content-add .holder
    {padding: 23px 10px 22px;}
    .land-block-container .list-content .data-holder .available,
    .land-block-container .list-content .data-holder .sold {width:134px;}
}
@media only screen and (min-width: 992px) {
    .header-widget-holder .widget.js-slide-hidden {
        left: auto !important;
        top: auto !important;
        position: static !important;
    }
}
@media only screen and (max-width: 991px) {
    #wrapper.home {background-image: url(images/bg-home-tablet.jpg);}
    .logo {
        width:113px;
        height:37px;
        background-position:0 -99px;
        margin: 50px -27px 0 1px;
    }
    #nav { margin-right: -5px; }

    #nav a{
        font-weight: normal;
    }
    #nav li {
        font-size: 12px;
        padding: 0 6px;
    }
    #nav li:after {
        margin-top:-8px;
        height:15px;
        content:' ';
    }
    .header-widget-holder {
        top: 55px;
        right: 8px;
        padding-right: 0;
    }
    .header-widget-holder .open-close {
        display: inline-block;
        width:50%;
        margin-right:-2px;
        position:relative;
    }
    .open-close .btn-primary{
        background-color: #ffffff;
        border-color: #ffffff;
        color:#000000;
    }

    .header-widget-holder .opener {
        overflow: hidden;
        text-indent: -9999px;
        text-decoration:none;
    }
    .header-widget-holder .opener span {
        margin-right: 12px;
        float: right;
        text-indent: 0;
    }
    .header-widget-holder .widget {
        width:245px;
        position: absolute;
        top:100%;
        right: 0;
        margin: 0;
        padding:0 25px 0 20px;
    }
    .header-widget-holder .widget:after,
    .header-widget-holder .widget:before {
        width:100%;
        height:20px;
        content:'';
        display: block;
        clear:both;
    }
    .home #header .form-holder { background: #ffd400; }
    .home #main {padding-top: 26px;}
    .home #main>.container>.row {padding-bottom:20px;}
    .circle-header {
        width:420px;
        height:420px;
        margin:0 auto 4px;
        border-radius:210px;
        -webkit-border-radius:210px;
    }
    .circle-header .circle-content {padding:0 12px;}
    .circle-header h2 {
        font-size: 46px;
        line-height: 43px;
        margin-bottom: 16px;
    }
    .circle-header .btn {
        padding: 10px 12px;
        width: 175px;
        font-size: 16px;
        line-height: 19px;
    }
    .promo-content .holder-content {
        font-size:31px;
        line-height:34px;
    }
    .promo-content .holder .entry-content {padding: 16px 160px 0 30px;}
    .promo-content .btn {
        width: 120px;
        padding: 5px 12px;
    }
    .has-bg .main-block:after {
        width:768px;
        height:1661px;
        content:' ';
        background-image:url(images/bg-main-tablet.png);
    }
    .top-block {min-height:1px;}
    .top-block .block-content {padding: 37px 0 17px;}
    .communication-container {padding-top:0;}
    .communication-container .heading-container {margin-bottom:0;}
    .communication-container .widget .btn.download {width:100%;}
    .communication-container h2 {margin: 12px 0 100px;}
    .communication-container .left-aligned .media {margin-left:0;}
    .communication-container article+article {
        margin-bottom:15px;
        padding-top:0;
    }
    .communication-container .left-aligned article+article {text-align:right;}
    .communication-container .left-aligned article+article .media {
        float: right;
        margin: 0 0 0 12px;
    }
    .communication-container .right-aligned article:first-child {text-align: left;}
    .communication-container .right-aligned article:first-child .media {
        float: left;
        margin:0 15px 0 0;
    }
    .location {padding: 0 2px 30px;}
    .location-content .glyphicon {
        width:25px;
        height:25px;
        border-radius:13px;
        -webkit-border-radius:13px;
    }
    .location-content .glyphicon-plus:before {
        left:5px;
        font-size:25px;
        line-height:25px;
        content:'+';
    }
    .location-content li[class*='location-01'] .glyphicon {
        left: 201px;
        top: 55px;
    }
    .location-content li[class*='location-02'] .glyphicon {
        left: 420px;
        top: 71px;
    }
    .location-content li[class*='location-03'] .glyphicon {
        left: 467px;
        top: 85px;
    }
    .location-content li[class*='location-04'] .glyphicon {
        left: 185px;
        top: 174px;
    }
    .location-content li[class*='location-05'] .glyphicon {
        left: 296px;
        top: 164px;
    }
    .location-content li[class*='location-06'] .glyphicon {
        left: 324px;
        top: 289px;
    }
    .location-content li[class*='location-07'] .glyphicon {
        left: 629px;
        top: 152px;
    }
    .posts-holder {padding-bottom:16px;}
    .paging {padding-bottom:30px;}
    #sidebar {padding-top:0;}
    .search-form .cols {
        width:100%;
        height: auto;
    }
    .search-form .cols .col,
    .search-form .cols .col:first-child {
        width:50%;
        padding-left:5px;
    }
    .search-form .cols .col:first-child {padding:0 5px 0 0;}
    .land-block .media {width: 202px;}
    .land-block .entry-content {width:251px;}
    .land-block-container .list-content .data-holder .available,
    .land-block-container .list-content .data-holder .sold {width:139px;}
    #footer .col-sm-12 {padding-top:15px;}
    .logos {width:auto;}
    .logos li {padding: 0 16px 0 0;}
    .logos img {width:auto;}
    .info-block {
        text-align:left;
        margin:0;
        font-size:11px;
    }
}

/* popup */


/* FORM */
.popup{
    margin-top: 0;
}

.popup body{
    background-color: #ffffff;
    height: auto;
    margin: 0;
}



.popup #main{
    min-height: 0;
    margin-top: 20px;
}

.popup .select-area{
    border:1px solid #dfdfde;
    width: 100%;
    background: none;
    float: left;
    font-size: 13px;
}

.popup .drop-list{
    border-right:1px solid #dfdfde;
    border-bottom:1px solid #dfdfde;
    border-left:1px solid #dfdfde;
}


.popup img{
    width: 100%;
    height: auto;
}


/* Content */


.popup.content{
    background-color: #ffd400;
}

.popup.content #main{
    padding: 0;
    background: #ffd400;
}


.popup.content div.icon{
    width:170px;
    height:150px;
    margin: 0 auto;
    background: url(images/sprite.png) no-repeat -26px 0;
}


.popup.content div.icon.write {background-position: -26px -175px;}
.popup.content div.icon.home {background-position: -26px -350px;}
.popup.content div.icon.sport {background-position: -26px -525px;}
.popup.content div.icon.break {background-position: -26px -700px;;}


.popup.content h1{
    font-size: 35px;
}


.popup.content p, .popup.content p a{
    color:#ffffff;
    text-decoration: none;
}


.popup.content a{
    display: inline-block;
    margin-top: 20px;
    background: #000000;
    color:#ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 15px;
}

.popup.content a:hover{
    background: #ffffff;
color:#000000;
}


@media only screen and (min-width: 768px) {
    .slide.js-slide-hidden {
        left: auto !important;
        top: auto !important;
        position: static !important;
    }
}
@media only screen and (max-width: 767px) {
    #wrapper.home {background:url(images/bg-home-mobile.jpg)no-repeat 50% 125px;}
    #header {
        min-height:125px;
        padding-bottom:10px;
    }
    #header [class*='col-xs-'] {position:static;}
    #header [class*='col-xs-4'] {padding-right:0;}
    #header [class*='col-xs-8'] {padding-left:2px;}
    .logo {
        width: 150px;
        height: 49px;
        margin: 8px auto 12px;
        background-position:0 0;
    }
    #header .open-close {
        width:89%;
        display: inline-block;
        position:static;
    }
    #header .opener {
        overflow: hidden;
        text-indent: -9999px;
        text-decoration:none;
    }
    #header .opener span {
        top:2px;
        margin-right: 50%;
        float: right;
        text-indent: 0;
    }
    #header .slide {
        width: 100%;
        position: absolute;
        top:100%;
        left:0;
        background: #fff;
    }
    #nav {
        height: auto;
        overflow: visible;
        padding: 0;
    }
    #nav li,
    #nav li:first-child {
        padding: 0;
        text-align: center;
        float: none;
        border-top: 2px solid #ffd400;
    }
    #nav li:first-child { border-top-style: none; }
    #nav li:after { display: none; }
    #nav a {
        display:block;
        padding: 5px;
    }
    #nav a:hover,
    #nav .active a,
    #nav a:focus {
        color: #fff;
        background: #ffd400;
    }
    .header-widget-holder {
        position: static;
        top: auto;
        right: auto;
    }
    #header .header-widget-holder .open-close {width:43%;        margin-right:5%;
    }
    .header-widget-holder .widget {
        width:100%;
        border-radius: 0 0 3px 3px;
        -webkit-border-radius: 0 0 3px 3px;
    }
    .home #main {padding-bottom:0;}
    .home #main>.container>.row {padding-bottom:10px;}
    .circle-header {
        width:200px;
        height:200px;
        margin:0 auto 4px;
        border-radius:100px;
        -webkit-border-radius:100px;
    }
    .circle-header h2 {
        font-size: 16px;
        line-height: 19px;
    }
    .circle-header .btn {
        font-size: 11px;
        line-height: 14px;
        padding: 5px;
        width: 90px;
    }
    .page-post {padding: 9px 0 13px;}
    .page-post h3 {
        margin:0 0 12px 3px;
        font-size: 30px;
        line-height:33px;
    }
    .page-post .lead {
        font-size: 17px;
        line-height: 20px;
        margin-bottom:14px;
    }
    .page-post ul li {padding-bottom:13px;}
    .latest-news h2 {
        margin-bottom:15px;
        font-size: 30px;
        line-height: 38px;
    }
    .latest-news .entry-title {
        font-size:19px;
        line-height:22px;
    }
    .latest-news .entry-meta {padding-bottom: 15px;}
    .latest-news .entry-date {
        font-size:16px;
        line-height:19px;
    }

    .entry-meta .btn-primary.download{
        margin-bottom: 15px;
    }



    .latest-news .alignright {
        max-width:50%;
        margin: -6px 0 0 25px;
    }
    .promo,
    .main-block .promo {margin: 0 0 15px;}
    .promo-content .holder .entry-content,
    .main-block .promo-content .holder .entry-content {padding: 0;}
    .promo-content .holder-content {
        font-size: 25px;
        line-height: 28px;
        padding-right:20px;
    }
    .promo-content .btn,
    .main-block .promo-content .btn {
        width:100%;
        position:static;
        top:auto;
        right:auto;
        margin:0;
    }
    .top-block .block-content {padding: 17px 20px 7px 0;}
    .top-block h2 {
        font-size: 25px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .top-block h3 {
        font-size:16px;
        line-height:19px;
    }
    .has-bg .main-block:after {
        width:320px;
        height:692px;
        content:'';
        margin-left: 80px;
        background-image: url(images/bg-main-mobile.png);
    }
    .communication-container .widget {padding-top:0;}
    .communication-container .widget p {margin-bottom:18px;}
    .communication-container h2 {
        font-size:30px;
        line-height:35px;
        margin:0 0 20px;
    }
    .communication-container article {
        margin-bottom:0 !important;
        text-align:left !important;
    }
    .communication-container .media {
        float: none !important;
        margin: 0 auto 10px !important;
    }
    .location img,
    .location-content .glyphicon, .location h1 {display:none;}
    .location h2,
    .location li img,
    .location-content .popup {display:block;}
    .location-content ol {text-align:center;}

    .location-content .btn {display:none;}
    .location-content p {margin:10px;}
    .download-container {padding-bottom:25px;margin-top: 0}
    .posts-holder .post .entry-title {margin-right:0;}
    .posts-holder .post .entry-content {padding-right:0;}
    .posts-holder .post .alignright,
    .posts-holder .post .alignleft {
        max-width:200px;
        margin: 0 auto 10px;
        float:none;
        display:block;
    }
    .single-post .post {padding-top:0;}
    .single-post .post .heading {
        overflow:hidden;
        padding: 27px 0 20px;
    }
    .single-post .post .entry-title {
        font-size: 30px;
        line-height: 34px;
        margin: 0 0 10px;
    }
    .single-post .post .heading .entry-meta {
        position:static;
        top:auto;
        left: auto;
        border-style:none;
        padding:0;
    }
    .single-post .post .heading .back {
        float: none;
        position:absolute;
        top:0;
        left:0;
    }
    .single-post .post .heading .back:before {
        width:770px;
        height:1px;
        content:'';
        background:#f1f1f0;
        position:absolute;
        top:100%;
        left:0;
        margin-top:7px;
        cursor:default;
        pointer-events:none;
    }
    .single-post .post .entry-content {padding-bottom:1px;}
    .mega-list {
        margin-top:0;
        padding-bottom:0;
    }
    .mega-list h2 {

        font-size:30px;
        line-height:33px;
        margin-bottom:7px;
    }
    .search-form {padding: 10px;}
    .list-content {
        border-style: none;
        padding-bottom:15px;
    }
    .list-content>li {
        margin-bottom:10px;
        border-top: 1px solid #dbdbda;
    }
    .list-content-holder .heading ul {padding:0;}
    .list-content-holder .heading h4,
    .list-content-holder .heading ul,
    .list-content-holder .heading ul li {float:none;}
    .list-content-holder .heading ul li {
        padding:0 0 0 5px;
        display:inline;
        position:relative;
    }
    .list-content-holder .heading ul li:after {left:-1px;}
    .list-content-holder .heading ul li:first-child {padding-left:0;}
    .list-content .data-holder {display:block;}
    .list-content .data-holder li {line-height:18px;}
    .list-content .data-holder .col01,
    .list-content .data-holder .col02,
    .list-content .data-holder .col03,
    .list-content .data-holder .col04,
    .list-content .data-holder .col05 {
        width:auto;
        display:block;
        border-width:1px 0;
        padding: 5px;
    }
    .land-block-container .list-content .data-holder .col01,
    .land-block-container .list-content .data-holder .col02,
    .land-block-container .list-content .data-holder .col03,
    .land-block-container .list-content .data-holder .col04,
    .land-block-container .list-content .data-holder .col05 {
        width:auto;
        padding: 5px;
    }
    .list-content .data-holder .col01 span {margin:0;}
    .list-content .data-holder .available,
    .list-content .data-holder .sold,
    .land-block-container .list-content .data-holder .available,
    .land-block-container .list-content .data-holder .sold {
        width:auto;
        margin-top:auto;
    }
    .list-content .data-holder .enquire,
    .land-block-container .list-content .data-holder .enquire {margin:0 auto;}
    .land-block-container .list-content .data-holder .enquire {padding:0;}
    .list-content .sold .data-holder .col05 {display:none;}
    .list-content .data-content .holder,
    .land-block-container .list-content .data-content .holder,
    .land-block-container .list-content .data-content-add .holder,
    .list-content .data-content-add .holder
    {
        padding:10px;
        display:block;
    }
    .list-content .data-content .col,
    .list-content .data-content .col:first-child,
    .land-block-container .list-content .data-content .col,
    .land-block-container .list-content .data-content .col:first-child,
    .list-content .data-content-add .col,
    .list-content .data-content-add .col:first-child,
    .land-block-container .list-content .data-content-add .col,
    .land-block-container .list-content .data-content-add .col:first-child {

        width:auto;
        display:block;
    }
    .enquire-form,
    .land-block-container .enquire-form {padding-right:0;}
    .enquire-form .btn-submit {
        width:100%;
        float:none;
    }
    .enquire-form .submit-block {padding-top:0;}
    .enquire-form .required,
    .land-block-container .enquire-form .required {
        padding:10px 0;
        float:none;
        display:block;
    }
    .list-content .action-block,
    .land-block-container .list-content .action-block {
        font-size:24px;
        line-height:30px;
    }
    .land-block-container {padding: 12px 10px;}
    .land-block .media {
        width:auto;
        float:none;
        text-align:center;
        padding:0 0 5px;
    }
    .land-block .entry-content {
        width:auto;
        float:none;
        padding:0;
    }
    .land-block .entry-meta {padding:0;}
    .land-block .entry-meta .btn {
        width:100%;
        position:static;
        right:auto;
    }
    .list-content-slide {margin:0 -10px;}
    #footer {padding-bottom:7px;}
    #footer [class*='col-'] {padding-bottom:10px;}
    .info-block ul li:after {margin-top:-2px;}

    #header .open-close {
        width: 41px;
        text-align: center;
        margin-right: 0;
        float:left;
        border-radius:0;
        -webkit-border-radius:0;
        display: inline-block;
        position: static;
    }

    #header .opener span {
        top: 2px;
        margin-right: 0;
        float: left;
        text-indent: 0;
    }

    #menu-opener, #contact-2, #register-form-header{
        margin: 10px 0 0 5px;
        float: right !important;
    }

    #header .header-widget-holder .open-close {
        width: 41px;
        margin-right: 0;
    }

    #widget-wrapper{
        padding: 0;
    }



    #wrapper.home {
        background: url(images/bg-home-mobile.jpg)no-repeat 50% 60px;
    }

    .circle-header {
        width:270px;
        height:270px;
        margin:0 auto 4px;
        border-radius:50%;
        -webkit-border-radius:50%;
    }

    .circle-header h2 {
        font-size: 24px;
        margin-top: 10px;
        line-height: 23px;
    }

    .circle-header .btn {
        padding: 8px 10px;
        width: 155px;
        font-size: 13px;
        line-height: 19px;
    }

    .logo {
        width: 120px;
        height: 40px;
        margin: 8px 0 12px;
        background-position: 0 0;
        background-size: cover;
    }

    #header{
        padding: 0;
        min-height: 0;
    }
    .land-add{
        margin-bottom: 30px;
    }


}
@media only screen and (max-width: 480px) {

    #widget-wrapper{

        padding: 0;
    }

    .page-post h3 {
text-align: center;
    }

    #menu-wrapper{
        padding: 0;
    }

    #register-form-header{
        margin-left: 0 !important;
    }

    .land-block .media img {
        width:100%;
        max-width:none;
    }

    .page-post ul li:after {
        display: none;
    }

    ul {
        padding-left: 15px;
    }

    .widget.latest-news{
        text-align: center;
    }
    .latest-news .entry-content img{
        display: none;
    }

    .latest-news .entry-content p {
        margin-bottom: 18px;
        padding: 0 40px;
        text-align: left;
    }

    .latest-news .entry-content p a{
        margin: 0 auto;
        display: block;
    }


    .communication-container .widget h3, .communication-container .widget p, .communication-container article h3 {
        text-align: center;
    }

    .communication-container h2 {
text-align: center;
    }

    .top-block .block-content {
        padding: 47px 20px 33px 0;
    }

    .communication-container .media {
        width: 130px;
        height: 130px;
    }

    #footer address {
        margin: 0 0 0;
    }

    #footer [class*='col-']{
        padding-bottom: 25px;
    }

    #footer h3{
        margin-bottom: 10px;
    }

    .widget_recent-posts ul{
        margin-bottom: 5px;
    }

}