@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

 a:hover, a:focus {
     color: white !important;
     text-decoration: none !important;
 }

.top-logo{
	position:relative;
	top:-32px;
	width:125px; /*Change with your logo's width*/
	margin-left:auto;
	margin-right:auto;
	z-index:99999;
}

/*::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(219,219,219, .6);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(156, 156, 156, .6);
}*/


input {
/*    -webkit-appearance: none;  */
    border-radius: 0;
}

.content-box{
	background-image:url(../images/body-bg.png);
	background-repeat:repeat;
	z-index:10;
	padding-top:70px;
}

.has-gallery{
	margin-left:15px;
	margin-right:15px;
}


.page-has-slider{
	padding-top:00px;
}


.header{
	z-index:1000;
	position:fixed;
	width:100%;
    top:0px;
    left:0;
    right:0;
	background-color:#FFFFFF;
	height:50px;
	border-bottom:solid 1px #f9fafc;
	-webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 		0px 2px 3px 1px rgba(0, 0, 0, 0.1);
}

.deploy-left-sidebar{
	background-image:url(../images/misc/nav.png);
	background-repeat:no-repeat;
	background-color:#f9fafc;
	height:50px;
	width:50px;
	background-position:center center;
}


.deploy-right-sidebar{
	background-image:url(../images/misc/contact.png);
	background-repeat:no-repeat;
	background-color:#f9fafc;
	width:50px;
	height:50px;
	background-position:center center;
	float:right;
	margin-top:-50px;
}

.deploy-back-home{
	background-image:url(../images/misc/home.png);
	background-repeat:no-repeat;
	background-color:#f9fafc;
	width:50px;
	height:50px;
	background-position:center center;
	float:right;
	margin-top:-50px;
}

.delete-right-sidebar{
	display:none;
	background-image:url(../images/misc/contact.png);
	background-repeat:no-repeat;
	background-color:#f9fafc;
	width:50px;
	height:50px;
	background-position:center center;
	float:right;
	margin-top:-50px;
}

.sidebar-left{
	box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.3);
	background-image:url(../images/sidebar-bg.png);
	background-repeat:repeat;
	width:270px;
	position:fixed;
	z-index:99999;
	top:0px;
	left:-270px;
	bottom:0px;
	overflow:hidden;
	position:fixed;
}

.sidebar-scroll-left{
	padding-right:20px;
	left:0px;
	width:310px;
	overflow: scroll!important;
	overflow-x:hidden!important;
	-webkit-overflow-scroll:touch!important;	
	height:100%;
}

.sidebar-scroll-right{
	width:290px;
	overflow: scroll!important;
	overflow-x:hidden!important;
	-webkit-overflow-scroll:touch!important;	
	height:100%;
}

.sidebar-right{
	box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.3);
	background-image:url(../images/sidebar-bg.png);
	background-repeat:repeat;
	position: fixed;
	overflow:hidden;
	z-index:99999;
	right:-280px;
	top:0px;
	bottom:0px;
	width:270px;
	margin-right:10px;
}

#pdf_download_panel{
    position: fixed;
    overflow:hidden;
    z-index:5;
    right:-1000px;
    top:50px;
    bottom:0px;
    width:100%;
    background:#CCC; 
    overflow-y:auto;
    -webkit-overflow-scrolling:touch; 
}



#lot_detail_view_container_panel{
    
    position: fixed;
    overflow:hidden;
    z-index:5;
    right:-1000px;
    top:50px;
    bottom:0px;
    width:100%;
    background:white;
    overflow-y:auto;
    -webkit-overflow-scrolling:touch; 
    
}

#proposedexternalplace_detail_view_container_panel{
    
    position: fixed;
    overflow:hidden;
    z-index:5;
    right:-1000px;
    top:50px;
    bottom:0px;
    width:100%;
    background:white;
    overflow-y:auto;
    -webkit-overflow-scrolling:touch; 
    
}

#proposedexternalplace_detail_view_container_panel_noiframe{
    
    position: fixed;
    overflow:hidden;
    z-index:5;
    right:-1000px;
    top:50px;
    bottom:0px;
    width:100%;
    background:white;
    overflow-y:auto;
    -webkit-overflow-scrolling:touch; 
    
}

#proposedexternalplace_detail_view_container_panel > #howfar_header{
    height: 40px;
    padding: 10px;
    width:100%;
    cursor:pointer;
    overflow-y:hidden;
}

#howfar_header > span{
    color:white;
    text-decoration: underline;
}

span#dev_name{
    color:white;
}

#proposedexternalplace_detail_view_container_panel > #iframe_part{
    width:100%;
    height:100%;
}

#amenity_detail_view_container_panel{
    
    position: fixed;
    overflow:hidden;
    z-index:9999;
    right:-1000px;
    top:50px;
    bottom:0px;
    width:100%;
    background:white;
    overflow-y:auto;
    padding:15px;
    -webkit-overflow-scrolling:touch; 
}

#amenity_detail_view_container_panel iframe {
  height: 100%;
  width: 100%;
  display:inline;
}

#amenity_detail_view_container_panel_noiframe{
    
    position: fixed;
    overflow:hidden;
    z-index:9999;
    right:-1000px;
    top:50px;
    bottom:0px;
    width:100%;
    background:white;
    overflow-y:auto;
    padding:15px;
    -webkit-overflow-scrolling:touch; 
    
}

#salesoffice_detail_view_container_panel{
    
    position: fixed;
    overflow:hidden;
    z-index:9999;
    right:-1000px;
    top:50px;
    bottom:0px;
    width:100%;
    background:white;
    overflow-y:auto;
    padding:15px;
    -webkit-overflow-scrolling:touch; 
    
}

#salesoffice_detail_view_container_panel iframe {
  height: 100%;
  width: 100%;
  display:inline;
}

#village_detail_view_container_panel{
    
    position: fixed;
    overflow:hidden;
    z-index:5;
    right:-1000px;
    top:50px;
    bottom:0px;
    width:100%;
    background:white;
    overflow-y:auto;
    padding:15px;
    -webkit-overflow-scrolling:touch; 
    
}

#village_detail_view_container_panel iframe {
  height: 100%;
  width: 100%;
  display:inline;
}

#enquire_container_panel{
    
    position: fixed;
    overflow:hidden;
    z-index:5;
    right:-1000px;
    top:50px;
    bottom:0px;
    width:100%;
    background:white;
    overflow-y:auto;
    -webkit-overflow-scrolling:touch;
    
}

#amenities_feature_panel{
    
    position: fixed;
    overflow:hidden;
    z-index:5;
    right:-1000px;
    top:50px;
    bottom:0px;
    width:100%;
    background:white;
    overflow-y:auto;
    -webkit-overflow-scrolling:touch;
    
}

#amenities_feature_panel ul{
    list-style-type: none;
}

#amenities_feature_panel ul > li{
    display: block;
    float: left;
    width: 44%;
    margin-top: 18px;
}

#amenities_feature_panel li > img{
    width: 80px;
    display: block;
    margin: 0 auto;
}

#amenities_feature_panel li > span{
    font-size: 19px;
    text-align: center;
    display: block;
    font-weight: bold;
}

#zoom_to_container_panel{
    position: fixed;
    overflow:hidden;
    z-index:5;
    right:-1000px;
    top:50px;
    bottom:0px;
    width:100%;
    background:#CCC; 
}

#directions_container_panel{
    position: absolute;
    overflow:hidden;
    z-index:5;
    right:-1000px;
    top:50px;
    bottom:0px;
    width:100%;
    background:#CCC; 
    overflow-y:visible;  
    display:none;
    -webkit-overflow-scrolling:touch;   
    
}

.scrollable {
    overflow-y:auto; 
}

#lots_search_container_panel{
    
    position: absolute;
    z-index:5;
    overflow:hidden;
    right:-1000px;
    top:50px;
    bottom:0px;
    width:100%;
    background:#CCC;
    display:none;
    -webkit-overflow-scrolling:touch;   
}

#zoom_to_stages{
    float: right;
    margin-top: 10px; 
    width: 150px;
    position: relative;
    display:none;
}


#matches_per_stage{
    padding-top: 5px;
    float: left;
    font-size: 16px;
    padding-left: 10px;
    width: 110px; 
    font-weight:bold;
}


#directionsPanel{
    margin-left: 0px;
}


#reset{
    border: 1px solid #CCCCCC;
    background: white;
    text-align: center;
    float: right;
    position: relative;
    top: -40px;
    padding: 5px;
    margin-right: 5px;
    font-weight: bold;
    cursor: pointer;
}

#modes{

    float:right;
    margin-bottom:10px;
}

#modes > button{
    background-color: white !important;
    margin-right:0px;
}

.upbar{

    display: block;
    height: 50px;
    width: 100%; 
    padding:10px;   
}

#lotsearch_topbar{
    width:100%;
    height:50px;
}

#time_distance{
    float: left;
    top: 15px;
    position: absolute;
    text-align: left;
    font-size:15px;
}

#mobile_show_mylocation{
    border: 1px solid #CCCCCC;
    background: white;
    text-align: center;
    float: right;
    position: relative;
    top: -40px;
    padding: 5px;
    margin-right: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: #bbdf97;
    display:none;
}



#reset span{
    color:black;
}

#zoom_to_container_panel #go_given_stage{
    width: 120px;
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: yellow;
}

.row{
    top:0px !important;
    padding-bottom: 25px;
}


.row > div{
    height:35px !important;
    border-left:none !important;
    border-right:none !important;
}

#pdf_download_panel #download_stagepdf{
    width: 120px;
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: yellow;
    text-transform:uppercase;
}

#pdf_download_panel .btn{
    background-color:white;
}

#pdf_download_panel .content > p{
    font-weight:bold;
    font-size:19px;
    margin-bottom:8px;
    margin-top:70px;
}

#show_mylocation{
    visibility: hidden !important;
}

.nearby_place_sidebar{
    position: fixed;
    overflow:hidden;
    z-index:5;
    right:-1000px;
    top:50px;
    bottom:0px;
    width:100%;
    background:#CCC;
}

.content{
    margin-left:15px;
    margin-right:15px;
    text-align: center;
    margin-top: 60px;
    
}

.search_instruction{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
}

.search_example{
    font-size: 12px;
    color:black;
}

.placeinfo{
    padding: 15px;
}

.content input#target{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px;
    width: 250px;
}

.content button#nearby_search{
    padding: 10px;
    background-color: yellow;
    cursor: pointer;
    font-weight: bold;
    width:100px;
}

span#direction_panel_show_hide{
    float: right;
    font-size: 25px;
    cursor: pointer;
    width:35px;
    height:30px;
    display:none;
    margin-right:-10px;
    margin-left:5px;
}
               
span#lots_search_panel_show_hide{
    
    float: right;
    top: 13px;
    font-size: 25px;
    cursor: pointer;
    width:35px;
    height:30px;
    display:none;
    
}
                                                                                          
                                                     
                                                 
.sidebar-decoration{
	background-image:url(../images/misc/sidebar-deco.png);
	background-repeat:repeat-x;
	height:2px;	
	margin-bottom:15px;
}
                                                                      
div.box{
    border-top: 2px solid #989898;
    padding-top: 15px;
    padding-bottom: 15px;
    float:left;
    width:100%;
    position:relative;
}

.box label.checkbox{
    width:170px;
    margin:0 auto;
    font-size: 15px;
    line-height:30px;
}

.checkbox > input{
    width:20px;
    height:20px;
}

select#price_from, select#price_to{
    padding:5px;
    margin-left:8px;
}

#lot_search{
    border:none;
    margin-bottom:20px;
}

#lot_search_list{
    margin-top: 10px;
    z-index:5;
    display:none;
}



/*Left sidebar styles*/

.sidebar-header-left{
	height:51px;
	background-color:#1d1f22;
	border-bottom:solid 1px #141719;
}


.sidebar-left-logo{	
	position:absolute;
	top:18px;
	left:20px;
    color:#d2d2d2;
}

.close-sidebar-left{
	background-color:#212326;
	background-image:url(../images/icon/misc/accessdenied.png);
	background-size:17px 17px;
	background-repeat:no-repeat;
	background-position:16px 18px;
	height:50px;
	width:50px;
	margin-left:220px;
	display:block;
}

.sidebar-divider-text{
	color:#FFFFFF;
	font-size:10px;
	font-weight:700;
	font-family:'Lato', sans-serif;
	padding-top:15px;
	padding-left:15px;
	margin-bottom:15px;
}

#map-canvas{
    width:100%;
    top:40px;
    bottom:0 !important;
    position:absolute;
    
}

#compass_mark{
  position: fixed;
  right: 12px; 
  z-index: 1;
  width: auto; 
  height: 42px; 
  float: right;
  top: 60px !important;
  display:none;
}

#zoomlevel_display{
  position: fixed;
  left: 12px; 
  z-index: 1;
  width: 80px; 
  height: 25px; 
  float: left;
  top: 60px !important;
  display:none;
}

.bootstrap-select.btn-group .dropdown-menu li > a.opt{
    font-size:18px;
    font-weight:bold;
}

#pdfs_list > a{
    width: 240px;
    display: block;
    margin: 0 auto;
    height: 35px;
    border: 1px solid black;
    text-align: center;
    padding: 7px;
    background-color: white;
    color: black !important;
    font-size: 17px;
    line-height: 17px;
    margin-top:20px;
    font-weight:bold;
}

.download > span{
    color:white;
}

.enquire_link > span{
    color:white;
}

#lots_search_stages_list{
    height: 30px;
    border-radius: 4px;
    font-weight: bold; 
    width:135px;
    padding-left:5px;
    background-image: url('../images/arrow-bottom.gif');
    background-color: white;
    background-position:96% 50%;
    background-repeat: no-repeat; 
     -webkit-appearance: menulist-text;
}




.home-nav{background-image:url(../images/icon/misc/home.png);}
.info-nav{background-image:url(../images/icon/misc/infoabout.png);}
.folio-nav{background-image:url(../images/icon/media/image2.png);}
.video-nav{background-image:url(../images/icon/media/clapboard.png);}
.blog-nav{background-image:url(../images/icon/tools/pencil.png);}
.mail-nav{background-image:url(../images/icon/misc/mail.png);}
.newsletter-nav{background-image:url(../images/icon/misc/rss.png);}
.call-nav{background-image:url(../images/icon/communication/phonehook.png);}
.text-nav{background-image:url(../images/icon/communication/speechbubble4.png);}
.maps-nav{background-image:url(../images/icon/location/maps.png);}
.facebook-nav{background-image:url(../images/icon/social/facebook.png);}
.twitter-nav{background-image:url(../images/icon/social/twitter.png);}
.coach-nav{background-image:url(../images/icon/misc/help.png);}

.nav-item:hover{
	background-color:#212326;
}

.nav-item{
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	font-family:'Lato', sans-serif;
	background-size:20px 20px;	
	background-color:#1d1f22;
	text-shadow:0px 2px 0px rgba(0,0,0,1);
	font-size:12px;
	font-weight:700;
	color:#d2d2d2;
	height:50px;
	line-height:49px;
	background-repeat:no-repeat;
	padding-left:15px;
	background-position:20px center;
	border-bottom:solid 1px #141719;
	border-top:solid 1px #25272a;
}

.nav-item span{
    color:white;
    font-size: 22px;
    padding-right: 15px;

}

.nav-item > i{
    color:white;
    font-size: 22px;
    padding-right: 15px; 
}

.icon-active{
	position:absolute;
	background-image:url(../images/misc/left-sidebar/location@2x.png);
	background-size:10px 15px;
	background-repeat:no-repeat;
	display:block;
	width:10px;
	height:15px;
	top:19px;
	left:240px;
}


.icon-page{
	position:absolute;
	background-image:url(../images/misc/left-sidebar/gopage@2x.png);
	background-size:8px 11px;
	background-repeat:no-repeat;
	display:block;
	width:10px;
	height:15px;
	top:19px;
	left:240px;
}

.icon-drop{
	position:absolute;
	background-image:url(../images/misc/left-sidebar/godrop@2x.png);
	background-size:11px 8px;
	background-repeat:no-repeat;
	display:block;
	width:10px;
	height:15px;
	top:19px;
	left:239px;
}

.submenu a{
	text-shadow:0px 2px 0px rgba(0,0,0,1);
	background-image:url(../images/misc/sidebar-deco.png);
	background-repeat:repeat-x;
	padding-top:12px;
	padding-bottom:12px;
	padding-left:25px;
	font-size:10px;
	color:#878787;
	text-transform:uppercase;
	font-family:'Lato', sans-serif;
	font-weight:900;
}

.submenu a em{
	background-image:url(../images/misc/left-sidebar/gopage@2x.png);
	background-size:8px 11px;
	background-repeat:no-repeat;
	float:left;
	width:10px;
	height:15px;
	display:block;
	margin-top:5px;
	padding-right:35px;
}

.submenu a:first-child{
	background-image:none!important;
}


.submenu{
	display:none;
}

.submenu-active{
	display:block;
}

.nav-item-active{
	color:#FFFFFF!important;
}


.sidebar-notifications a {
	margin-bottom:15px;
	background-repeat:no-repeat;
	background-position:0 center;
	padding-left:38px;
	margin-left:20px;
	font-size:10px;
	color:#878787;
	font-family:'Lato', sans-serif;
	font-weight:700;
	text-transform:uppercase;
	line-height:10px;
}

.info-sidebar{	background-image:url(../images/misc/left-sidebar-notifications/update-news.png);}
.update-sidebar{	background-image:url(../images/misc/left-sidebar-notifications/update-blog.png);}
.folio-sidebar{	background-image:url(../images/misc/left-sidebar-notifications/update-folio.png);}


.sidebar-bottom-controls{
	background-color:#1d1f22;
}

.sidebar-bottom-controls a p{
	margin-bottom:2px;
	font-size:10px;
	font-family:'Lato', sans-serif;
	color:#878787;
}

.sidebar-bottom-controls a{
	background-image:url(../images/misc/sidebar-deco-vertical.png);
	background-repeat:repeat-y;
	font-size:10px;
	text-align:center;
	float:left;
	width:32%;
	text-transform:uppercase;
	color:#FFFFFF;
	line-height:10px;	
	border-top:solid 1px #25272a;
	display:block;
}

.twitter-bottom{
	display:block;
	background-image:url(../images/icon/social/twitter.png);
	background-repeat:no-repeat;
	background-position:center 33px;
	background-size:16px 16px;
	height:50px;
	margin-top:-25px;
}

.facebook-bottom{
	display:block;
	padding-top:26px;
	background-image:url(../images/icon/social/facebook.png);
	background-repeat:no-repeat;
	background-position:center 33px;
	background-size:16px 16px;
	height:50px;
	margin-top:-25px;
}

.close-bottom-left{
	display:block;
	padding-top:26px;
	background-image:url(../images/icon/misc/accessdenied.png);
	background-repeat:no-repeat;
	background-position:center 33px;
	background-size:16px 16px;
	height:50px;
	margin-top:-25px;
}

.close-bottom-right{
	display:block;
	padding-top:26px;
	background-image:url(../images/icon/misc/accessdenied.png);
	background-repeat:no-repeat;
	background-position:center 33px;
	background-size:16px 16px;
	height:50px;
	margin-top:-25px;
}



/*Sidebar RIght Styles*/

.sidebar-header-right{
	height:50px;
	background-color:#1d1f22;
	border-bottom:solid 1px #141719;
}


.sidebar-right-logo{	
	position:absolute;
	top:18px;
	right:40px;
}

.close-sidebar-right{
	background-color:#212326;
	background-image:url(../images/icon/misc/accessdenied.png);
	background-size:17px 17px;
	background-repeat:no-repeat;
	background-position:16px 18px;
	height:50px;
	width:50px;
	margin-left:0px;
	display:block;
}



.sidebar-form{
	display:none;
	margin-left:20px;
	width:230px;
	box-sizing:border-box;
}

.sidebar-form2{
	display:none;
}

.sidebar-form label{
	border-radius:0px!important;
	color:#c5c5c5;
	text-transform:uppercase;
	font-family:'Lato', sans-serif;
	font-size:11px;
	padding-top:10px;
}

.sidebar-form label span{
	text-transform:lowercase;
	color:#bcbcbc;
}

.sidebar-form input{
	background-color:rgba(255,255,255,0.1);
	border:solid 1px #3d3d3d;
}

.sidebar-form textarea{
	background-color:rgba(255,255,255,0.1);
	border:solid 1px #3d3d3d;
	border-bottom:none;
	margin-bottom:0px;
}

.sidebar-send-button{
	display:block;
	width:100%;
	color:#d2d2d2;
	font-size:11px;
	font-family:'Lato', sans-serif;
	text-transform:uppercase;
	font-weight:700;
}


.success-subscribe{
	margin-top:20px;
	width:230px;
	margin-left:20px;	
}

.sidebar-form{
	margin-bottom:0px!important;
	margin-top:-10px!important;
}

.sidebar-form  .formSuccessMessageWrap{
	width:230px;
	margin-top:20px;
	margin-bottom:0px;
}

.sidebar-form .small-notification{
	margin-top:20px;
}


.sidebar-form #emailError{
	margin-top:20px;
	width:230px;
	margin-left:20px;
	border-radius:0px;
	height:36px;
}

.sidebar-form #emailError p{
	text-align:center;
	color:rgb(255,129,129);
	margin:8px 0px;
	display:block;
	background-image:none;
	text-transform:uppercase;
	padding-left:0px;
}


.sidebar-form #emailError2{
	margin-top:20px;
	width:230px;
	margin-left:20px;
	border-radius:0px;
	height:36px;
}

.sidebar-form #emailError2 p{
	text-align:center;
	color:rgb(255,129,129);
	margin:8px 0px;
	display:block;
	background-image:none;
	text-transform:uppercase;
	padding-left:0px;
}

.subscribe-notification{
	width:230px!important;
	margin-left:20px;
	border-radius:0px!important;
	margin-bottom:-15px!important;	
	margin-top:20px!important;
	background-image:none!important;
}

.subscribe-notification p{
	background-image:none!important;
	text-align:center;
	color:rgb(255,129,129)!important;
	margin:8px 0px;
	display:block;
	text-transform:uppercase;
	padding-left:0px;	
	margin-top:20px;

}

.formValidationError{
	margin-bottom:-15px;
}

.sidebar-form .formValidationError div{
	margin-top:20px;
	width:230px;
	border-radius:0px!important;
	height:36px;	
	margin-top:20px!important;
}

.sidebar-form .formSubmitButtonErrorsWrap{
	overflow:visible!important;
	margin-bottom:20px;
}

.sidebar-form  .formValidationError p{
	text-align:center;
	color:rgb(255,129,129)!important;
	margin:8px 0px;
	display:block;
	background-image:none;
	text-transform:uppercase;
	padding-left:0px;
}


.right-sidebar-copyright{
	margin-top:20px;
}

.footer-text a{
	padding-top:10px;
	font-size:10px;
	color:#8a8a8a;
}

.copyright-sidebar{
	font-size:10px;
	text-align:center;
	text-transform:uppercase;
}


.has-full-folio{
	margin-left:0px!important;
	margin-right:0px!important;
	margin-top:-20px;
}

.has-full-folio .decoration{
	margin-left:15px;
	margin-right:15px;
}


.full-folio-item-caption{
	position:relative;
	z-index:9999;
	margin-top:-60px;
	height:60px;
	background-image:url(../images/full-folio/dark.png);
	width:100%;
	display:block;
	background-repeat:repeat;	
}

.full-folio-item-caption h5{
	text-shadow:0px 1px 3px #000000;
	color:#FFFFFF;
	padding-top:10px;
	padding-left:20px;
}

.full-folio-item-caption p{
	text-shadow:0px 1px 3px #000000;
	color:#FFFFFF;
	padding-left:20px;
}

.full-folio-item-more{
	background-image:url(../images/icon_shadow/misc/link2.png);
	background-size:32px 32px;
	background-repeat:no-repeat;
	position:absolute;
	width:32px;
	height:32px;
	top:14px;
	z-index:99999;
	right:15px;
}


