body 
{
	background-color: #eae9e7;
}

h1
{
	font-family: "chaparral-pro", Georgia, "Times New Roman", Times, serif;
}

.header 
{
	background-color: #6a2d83;
	height: 90px;
}

#logo img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; 

}

.alert-message
{
	padding-top:20px;	
}   

.alert-container
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 80%;
} 

.alert-message
{
	font-size: 16px;	
}

.options
{
	
}

.btn
{
	height:200px;	
	width: 100%;

	font-weight: bold;
	font-family: 'proxima-nova',Arial,Helvetica,sans-serif;
	font-size: 16px;

	display: block;
	margin-left: auto;
	margin-right: auto;
	}


.glyphicon
{
	font-size: 40px;
	margin-bottom: 10px;
}

