body 
{
	background-color: #eae9e7;
}

h1
{
font-family: "futura-pt",sans-serif;

}
.header 
{
	background-color: #242425;
	height: 59px;
}

#logo img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px; 

}

.alert-message
{
	padding-top:20px;	
}   

.alert-container
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 80%;
} 

.alert-message
{
	font-size: 16px;	
}

.options
{
margin-bottom:20px;

}

.btn
{
height:70px;	
width: 90%;


font-weight: bold;
font-family: "futura-pt",sans-serif;
font-size: 16px;

display: block;
margin-left: auto;
margin-right: auto;
}