﻿body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:100%;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
  width:800px;
}
#u0 {
  position:absolute;
  left:157px;
  top:90px;
  width:200px;
  height:25px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1 {
  position:absolute;
  left:157px;
  top:125px;
  width:200px;
  height:25px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2 {
  position:absolute;
  left:30px;
  top:23px;
  width:550px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:30px;
  top:60px;
  width:950px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:933px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:650px;
  height:1px;
}
#u5 {
  position:absolute;
  left:30px;
  top:94px;
  width:117px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:30px;
  top:134px;
  width:51px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:30px;
  top:169px;
  width:61px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:157px;
  top:160px;
  width:200px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:30px;
  top:204px;
  width:97px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:157px;
  top:198px;
  width:200px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:30px;
  top:268px;
  width:53px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:157px;
  top:268px;
  width:200px;
  height:22px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17_input:disabled {
  color:grayText;
}
#u18 {
  position:absolute;
  left:40px;
  top:250px;
  width:950px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:933px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:650px;
  height:1px;
}
#u19 {
  position:absolute;
  left:40px;
  top:360px;
  width:124px;
  height:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:28px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:40px;
  top:404px;
  width:29px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:140px;
  top:400px;
  width:200px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:40px;
  top:444px;
  width:40px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:142px;
  top:445px;
  width:100px;
  height:16px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:141px;
  top:471px;
  width:100px;
  height:16px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:141px;
  top:497px;
  width:129px;
  height:16px;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:141px;
  top:523px;
  width:100px;
  height:16px;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:140px;
  top:548px;
  width:100px;
  height:16px;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  position:absolute;
  left:309px;
  top:446px;
  width:100px;
  height:16px;
}
#u37 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u36_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38 {
  position:absolute;
  left:308px;
  top:472px;
  width:100px;
  height:16px;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40 {
  position:absolute;
  left:308px;
  top:498px;
  width:100px;
  height:16px;
}
#u41 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u40_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42 {
  position:absolute;
  left:308px;
  top:524px;
  width:100px;
  height:16px;
}
#u43 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u42_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u44 {
  position:absolute;
  left:308px;
  top:549px;
  width:100px;
  height:16px;
}
#u45 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u44_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u46 {
  position:absolute;
  left:443px;
  top:446px;
  width:100px;
  height:16px;
}
#u47 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u46_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u48 {
  position:absolute;
  left:442px;
  top:472px;
  width:100px;
  height:16px;
}
#u49 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u48_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50 {
  position:absolute;
  left:442px;
  top:498px;
  width:100px;
  height:16px;
}
#u51 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u50_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u52 {
  position:absolute;
  left:442px;
  top:524px;
  width:100px;
  height:16px;
}
#u53 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u52_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u54 {
  position:absolute;
  left:441px;
  top:550px;
  width:100px;
  height:16px;
}
#u55 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u54_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u56 {
  position:absolute;
  left:593px;
  top:446px;
  width:100px;
  height:16px;
}
#u57 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u56_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u58 {
  position:absolute;
  left:592px;
  top:472px;
  width:100px;
  height:16px;
}
#u59 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u58_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60 {
  position:absolute;
  left:592px;
  top:498px;
  width:100px;
  height:16px;
}
#u61 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u60_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u62 {
  position:absolute;
  left:592px;
  top:524px;
  width:100px;
  height:16px;
}
#u63 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u62_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u64 {
  position:absolute;
  left:591px;
  top:550px;
  width:100px;
  height:16px;
}
#u65 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u64_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u66 {
  position:absolute;
  left:736px;
  top:446px;
  width:100px;
  height:16px;
}
#u67 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u66_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u68 {
  position:absolute;
  left:735px;
  top:472px;
  width:100px;
  height:16px;
}
#u69 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u68_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u70 {
  position:absolute;
  left:735px;
  top:498px;
  width:100px;
  height:16px;
}
#u71 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u70_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u72 {
  position:absolute;
  left:735px;
  top:524px;
  width:100px;
  height:16px;
}
#u73 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u72_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u74 {
  position:absolute;
  left:734px;
  top:550px;
  width:100px;
  height:16px;
}
#u75 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u74_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u76 {
  position:absolute;
  left:870px;
  top:446px;
  width:100px;
  height:16px;
}
#u77 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u76_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u78 {
  position:absolute;
  left:869px;
  top:472px;
  width:100px;
  height:16px;
}
#u79 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u78_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u80 {
  position:absolute;
  left:869px;
  top:498px;
  width:100px;
  height:16px;
}
#u81 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u80_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u82 {
  position:absolute;
  left:869px;
  top:524px;
  width:100px;
  height:16px;
}
#u83 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u82_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u84 {
  position:absolute;
  left:868px;
  top:550px;
  width:100px;
  height:16px;
}
#u85 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u84_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u86 {
  position:absolute;
  left:130px;
  top:590px;
  width:838px;
  height:30px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:838px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:834px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:30px;
  top:640px;
  width:950px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:933px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:5px;
  width:950px;
  height:1px;
}
#u89 {
  position:absolute;
  left:30px;
  top:660px;
  width:124px;
  height:28px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:28px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:30px;
  top:704px;
  width:29px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:130px;
  top:700px;
  width:200px;
  height:25px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u94 {
  position:absolute;
  left:30px;
  top:744px;
  width:40px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:132px;
  top:745px;
  width:100px;
  height:16px;
}
#u97 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u96_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u98 {
  position:absolute;
  left:131px;
  top:771px;
  width:100px;
  height:16px;
}
#u99 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u98_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u100 {
  position:absolute;
  left:131px;
  top:797px;
  width:129px;
  height:16px;
}
#u101 {
  position:absolute;
  left:16px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u100_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u102 {
  position:absolute;
  left:131px;
  top:823px;
  width:100px;
  height:16px;
}
#u103 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u102_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u104 {
  position:absolute;
  left:130px;
  top:848px;
  width:100px;
  height:16px;
}
#u105 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u104_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u106 {
  position:absolute;
  left:299px;
  top:746px;
  width:100px;
  height:16px;
}
#u107 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u106_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u108 {
  position:absolute;
  left:298px;
  top:772px;
  width:100px;
  height:16px;
}
#u109 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u108_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u110 {
  position:absolute;
  left:298px;
  top:798px;
  width:100px;
  height:16px;
}
#u111 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u110_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u112 {
  position:absolute;
  left:298px;
  top:824px;
  width:100px;
  height:16px;
}
#u113 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u112_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u114 {
  position:absolute;
  left:298px;
  top:849px;
  width:100px;
  height:16px;
}
#u115 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u114_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u116 {
  position:absolute;
  left:433px;
  top:746px;
  width:100px;
  height:16px;
}
#u117 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u116_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u118 {
  position:absolute;
  left:432px;
  top:772px;
  width:100px;
  height:16px;
}
#u119 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u118_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u120 {
  position:absolute;
  left:432px;
  top:798px;
  width:100px;
  height:16px;
}
#u121 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u120_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u122 {
  position:absolute;
  left:432px;
  top:824px;
  width:100px;
  height:16px;
}
#u123 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u122_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u124 {
  position:absolute;
  left:431px;
  top:850px;
  width:100px;
  height:16px;
}
#u125 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u124_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u126 {
  position:absolute;
  left:583px;
  top:746px;
  width:100px;
  height:16px;
}
#u127 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u126_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u128 {
  position:absolute;
  left:582px;
  top:772px;
  width:100px;
  height:16px;
}
#u129 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u128_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u130 {
  position:absolute;
  left:582px;
  top:798px;
  width:100px;
  height:16px;
}
#u131 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u130_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u132 {
  position:absolute;
  left:582px;
  top:824px;
  width:100px;
  height:16px;
}
#u133 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u132_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u134 {
  position:absolute;
  left:581px;
  top:850px;
  width:100px;
  height:16px;
}
#u135 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u134_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u136 {
  position:absolute;
  left:726px;
  top:746px;
  width:100px;
  height:16px;
}
#u137 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u136_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u138 {
  position:absolute;
  left:725px;
  top:772px;
  width:100px;
  height:16px;
}
#u139 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u138_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u140 {
  position:absolute;
  left:725px;
  top:798px;
  width:100px;
  height:16px;
}
#u141 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u140_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u142 {
  position:absolute;
  left:725px;
  top:824px;
  width:100px;
  height:16px;
}
#u143 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u142_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u144 {
  position:absolute;
  left:724px;
  top:850px;
  width:100px;
  height:16px;
}
#u145 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u144_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u146 {
  position:absolute;
  left:860px;
  top:746px;
  width:100px;
  height:16px;
}
#u147 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u146_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u148 {
  position:absolute;
  left:859px;
  top:772px;
  width:100px;
  height:16px;
}
#u149 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u148_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u150 {
  position:absolute;
  left:859px;
  top:798px;
  width:100px;
  height:16px;
}
#u151 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u150_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u152 {
  position:absolute;
  left:859px;
  top:824px;
  width:100px;
  height:16px;
}
#u153 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u152_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u154 {
  position:absolute;
  left:858px;
  top:850px;
  width:100px;
  height:16px;
}
#u155 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u154_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u156 {
  position:absolute;
  left:120px;
  top:890px;
  width:838px;
  height:30px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:838px;
  height:30px;
}
#u157 {
  position:absolute;
  left:2px;
  top:7px;
  width:834px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:30px;
  top:950px;
  width:950px;
  height:10px;
}
#u158_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u158_end {
  position:absolute;
  left:933px;
  top:-5px;
  width:18px;
  height:20px;
}
#u158_line {
  position:absolute;
  left:0px;
  top:5px;
  width:950px;
  height:1px;
}
#u159 {
  position:absolute;
  left:30px;
  top:970px;
  width:929px;
  height:30px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:929px;
  height:30px;
}
#u160 {
  position:absolute;
  left:2px;
  top:7px;
  width:925px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:30px;
  top:400px;
  width:201px;
  height:50px;
}
#u161_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:50px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u162 {
  position:absolute;
  left:30px;
  top:236px;
  width:112px;
  height:16px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:157px;
  top:236px;
  width:200px;
  height:22px;
}
#u164_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u164_input:disabled {
  color:grayText;
}

.types_block{
  float:left;
  width:100%;
  margin-top:20px;
 }

 .type_category{
  float: left;
  width: 650px;
  margin-top: 20px;
  border-bottom: 1px solid;
  padding-bottom: 20px;
  margin-left: 40px;
 }

 .types_block label{
	margin-right:27px;
 }
 
 #map_canvas{
     width:1000px;
     float:right;
     border:1px solid black;
     height: 800px;
 }
 
 #create_excel{
     padding:8px;
 }
