.gm-style .gm-style-iw{
    overflow:visible !important;
}
#map-canvas{
    width:100%;
    height:100%;
    bottom:0 !important;
    top:0 !important;
    position:absolute;
}

#controlUI_mapovismini 
{
    z-index: 1;
    background-color: white;
    position: fixed;
    bottom: 45px;
    height: 40px;
    right: 13px;
    width: auto;
    border: 1px solid #a6a5a5;
    padding: 10px;
    text-align: center; 
    cursor:pointer;
}

#custom_zoom_control
{
    bottom: 100px !important;
    left: auto !important;
    right:13px !important;	
}

#amenities_selection_bar{
    top:10px !important;   
}

#logo_container
{
bottom: 2px !important;	
}

#mini_open_interactive_masterplan_button{
    position: fixed;
    top: 15px;
    right: 10px;
    height: 60px;
    z-index: 1;
    cursor:pointer;
}

#compass_mark{
  position: relative;
  right: 12px; 
  z-index: 1;
  width: auto; 
  height: 42px; 
  float: right;
  top: 70px;
  display:none; 
     
}

#direction_howfar_panel{
    position: fixed;
    bottom: 45px;
    left: 10px;
    z-index: 1;
    width:260px;
    background-color: white;
    border:1px solid #d7d7d7;
    border-radius:4px;
    height:195px; 
}

#expand_panel_bt{
  width: 40px;
  height: 45px;
  background-color: #5a5a5a;
  position: absolute;
  top: 0px;
  right: -40px;
  padding:8px; 
  display:none; 
  cursor: pointer;
}


#directions_collapse_expand_panel_bt{
  display: block;
  float: right;
  cursor: pointer;
  margin-top: 4px;
  margin-right: 4px;
}

#direction_howfar_panel .header{
    height:35px;
    background-color:#5a5a5a;
    width:100%;
}

#direction_howfar_panel .header > img{
    padding:4px;
}

#direction_howfar_panel .header > span{
    color: white;
    font-size: 16px;
    vertical-align: middle;
}

#direction_howfar_panel ul{
    padding:0px;
    height: 160px;
    overflow-y: auto;
}

#direction_howfar_panel ul > li{
    list-style-type: none;
    height: 40px;
    border-bottom: 1px solid #d7d7d7;
    padding: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor:pointer;
  
}

#direction_howfar_panel ul .right-place{
    float:right;
    position:relative;
    top:-3px;
}
 
#direction_howfar_panel .place_name{
    display: block;
    float: left;
}

#direction_howfar_panel .distance_to_place{
    width:55px;
    display: block;
    float: left; 
    font-size: 15px;
    font-weight:bold;
}


#development_minipolygon_coordinates_panel{
    position: absolute;
    right:13px;
    top:65px;
    border:1px solid #a6a5a5;
    width:300px;
    height:550px;
    background-color:white;
    z-index:5;
    text-align: center;
    padding: 15px;
    font-size:20px;
    display:none;
}

 #development_minipolygon_coordinates_panel ul{
    padding:0px;
    height:330px;
    overflow-y:scroll;
}

#development_minipolygon_coordinates_panel li{
    list-style-type:none;
}

#development_minipolygon_coordinates_panel li > input{
  width: 90px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}



#development_minipolygon_coordinates_panel li > label{
   width:25px;
   text-align:right;
   font-size:16px;
}

.btn:focus{
    outline:none !important;
}

#clear_coords{
   float:right;
   margin-right: 5px;
   width: 70px;
}

#preloader {
    
      border: 0px;
      z-index: 99999;
      position: absolute;
      bottom: 0px;
      top: 0 !important;
      right:0;
      left:0;
      width: 100%;
      background-color: white; 
      overflow:hidden;
}

#load{
    
   margin: 0 auto;
   top: 160px;
   position: relative;
   height: 160px !important;  
   opacity: 0.25;
   
}
