body 
{
	background-color: #eae9e7;
}

h1
{
	font-family: "museo-slab",serif;
}

.header 
{
	background-color: #003f49;
	height: 103px;
}

#logo img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px; 

}

.alert-message
{
	padding-top:20px;	
}   

.alert-container
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 80%;
} 

.alert-message
{
	font-size: 16px;	
}

.options
{
	
}

.btn
{
	height:200px;	
	width: 100%;

	font-weight: bold;
	font-family: "museo-slab",serif;
	font-size: 16px;

	display: block;
	margin-left: auto;
	margin-right: auto;
	}


.glyphicon
{
	font-size: 40px;
	margin-bottom: 10px;
}

