body 
{
	background-color: #eae9e7;
}

h1
{
font-family: "proxima-nova-soft",sans-serif;
}

.header 
{
	background-color: #031833;
	height: 103px;
}

#logo img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px; 

}

.alert-message
{
	padding-top:20px;	
}   

.alert-container
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 80%;
} 

.alert-message
{
	font-size: 16px;	
}

.options
{
margin-bottom:20px;

}

.btn
{
height:70px;	
width: 90%;
font-weight: bold;
font-family: "proxima-nova-soft",sans-serif;
font-size: 16px;
display: block;
margin-left: auto;
margin-right: auto;
}