/*
 * ************************************************************* *
 * Name         :  Power Tour                                    *
 * Description  :  CSS for the tour plugin.                      *
 * Version      :  Version 2.2.0                                 *
 * Author       :  CreativeMilk                                  *
 * Author URI   :  www.creativemilk.net                          *
 * Updated      :  2015-02-12 16:44:50 UTC+02:00                 *
 * Copyright    :  (c) 2014 CreativeMilk                         *
 * ************************************************************* *
 */

.powertour-step{
	padding    : 0;
	position   : absolute;
	visibility : hidden;
	z-index    : -1;
}
.powertour-hook{
	position : relative;
}
.powertour-step.powertour-hide iframe{
	visibility : hidden; /* opera issue with yt video*/
}
.powertour-step.powertour-show iframe{
	visibility : visible;
	display    : block
}
.powertour-step.animated,
.powertour-step.powertour-show{
	z-index    : 9000;
	visibility : visible;
}
.powertour-step:before,
.powertour-step:after,
.powertour-step > *:before,
.powertour-step > *:after{
	content : "";
	display : table;
}
.powertour-step:after,
.powertour-step > *:after{
	clear : both; 
}
.powertour-step,
.powertour-step > *:after{
	zoom : 1;/*IE*/
}
#powertour-mask{
	width    : 100%;
	height   : 100%;
	z-index  : 9000;
	position : fixed;
	top      : 0;
	left     : 0;
	display  : none;
}
.powertour-highlight{
	z-index : 9001!important;
}
.powertour-step > *{
	position : relative;
}
.powertour-tooltip:hover .powertour-step{
	visibility : visible;	
}
