          .gm-style img {
              border: 0 none;
              margin: 0;
              max-width: none;
              padding: 0;
          }
          .btn.by_car {
              background: url("../images/directions/car.png") no-repeat scroll 10px 8px !important;
              height: 30px !important;
              width: 40px !important;
          }
          .btn.by_transit {
              background: url("../images/directions/transit.png") no-repeat scroll 12px 7px  !important;
              height: 30px !important;
              width: 40px !important;
          }
          .btn.by_walk {
              background: url("../images/directions/walking.png") no-repeat scroll 12px 7px  !important;
              height: 30px !important;
              width: 40px !important;
          }
          .btn.by_bicycling {
              background: url("../images/directions/bicycle.png") no-repeat scroll 12px 7px  !important;
              height: 30px !important;
              width: 40px !important;
          }
          .directions_wps {
              margin-top: 5px;
              width:260px;
          }
          
          .directions_wps img{
              float:left;
              display:block;
              width:25px;
              margin-top:15px;
          }
          
          .directions_wps input{
              float:left;
              width:220px;
              margin-left:5px;
              margin-top:10px;
          }
          .btn-group {
              /*margin-left: 25px;*/
          }
          .dir_reverse {
              background: url("../images/directions/bicycle.png") no-repeat scroll 12px 7px rgba(0, 0, 0, 0) !important;
              height: 30px;
              width: 40px !important;
          }
          .reverse_direction {
              
              width: 20px !important;
              height: 30px !important;
              position: absolute;
              top: 90px;
              left: 280px;
             /* background: url("../images/directions/direction_reverse.png") no-repeat scroll 5px 7px !important;*/
              background-image: url("../images/directions/direction_reverse.png") !important;
              background-position: 5px 7px !important;
              background-repeat: no-repeat !important;
              padding: 10px !important;
          }
          #get_direction {
              float:right;
              margin-top:12px;
          }
          #directionsPanel {
              margin-top:5px;
              width:100%;
              float:left;
              margin-left: 9px;
          }
          
          .adp-step, .adp-text {
            width: 100%;
            padding-left: 10px;
          }
          
         .amenity > a{
             text-decoration: none !important;
         }
          
          .amenity > a:focus{
             outline:none;
             
         }

          .amenity > a:hover{
             outline:none;
             text-decoration: underline !important;
         }

         .amenity .amenity_title{
             margin-bottom: 10px;
         }
         
         .amenity p#description{
             margin-top: 10px;
         }
         
         .amenity #amenity_title{
             font-weight: bold;
             font-size: 16px;
         }
         
         .amenity img{
           
         }
         
         div#map-canvas img {
          max-width:none;
        }
