body {padding: 0; margin: 0; overflow:hidden; display:block;}


a:focus{
    outline: none !important;
}


.button, .button span {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.button {
  white-space: nowrap;
  line-height:1em;
  position:relative;
  outline: none;
  overflow: visible; /* removes extra side padding in IE */
  cursor: pointer;
  border: 1px solid #999;/* IE */
  border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
  border-bottom:rgba(0, 0, 0, .4) 1px solid;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  margin-bottom:10px;
}
.button.full, .button.full span {
  display: block;
}
.button:hover, .button.hover {
  background: -moz-linear-gradient(
    center top,
    rgba(255, 255, 255, .2) 0%,
    rgba(255, 255, 255, .1) 100%
  )/* !important*/;/* FF3.6 */
  background: -webkit-gradient(
    linear,
    center bottom,
    center top,
    from(rgba(255, 255, 255, .1)),
    to(rgba(255, 255, 255, .2))
  ) /*!important*/;/* Saf4+, Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF') /*!important*/; /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')" /*!important*/; /* IE8 */
}
.button:active, .button.active {
  top:1px;
}
.button span {
  position: relative;
  color:#fff;
  text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
  border-top: rgba(255, 255, 255, .2) 1px solid;
  padding:5px 8px;
  line-height:1em;
  text-decoration:none;
  text-align:center;
  white-space: nowrap;
}

.powertour{
    z-index: 2 !important;
}


.button.small span {
  font-size:12px;
  font-family: Verdana, Geneva, sans-serif;
}
.button.medium span {
  font-size:14px;
  font-family: Verdana, Geneva, sans-serif;
}
.button.large span {
  font-size:18px;
  font-family: Verdana, Geneva, sans-serif;
}

.button.black {
  background-color: #333333;
}
.button.gray {
  background-color: #666666;
}
.button.white {
  background-color: #FFFFFF;
}
.button.white span{
  color: #666666;
}
.button.red {
  background-color: #e62727;
}
.button.orange {
  background-color: #ff5c00;
}
.button.magenta {
  background-color: #A9014B;
}
.button.yellow {
  background-color: #ffb515;
}
.button.blue {
  background-color: #00ADEE;
}
.button.pink {
  background-color: #e22092;
}
.button.green {
  background-color: #91bd09;
}
.button.rosy {
  background-color: #F16C7C;
}
.button.brown {
  background-color: #804000;
}
.button.purple {
  background-color: #800080;
}
.button.cyan {
  background-color: #46C7C7;
}
.button.gold {
  background-color: #D4A017;
}

.lotinfo {
    font-family: Verdana, Geneva, sans-serif;
    width:650px;
}

.introtext .houses {
    padding: 30px 30px 15px 15px;
}


.price_and_size {
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pricerange
 {
 padding-top: 10px;
 padding-bottom: 10px;
}

 .lotsize
 {
 padding-bottom: 15px;
}

.houses_title
{
font-size: 16px;
font-weight: bold;    
}

svg {
  display: block;
  height: 100%;
  margin:0 auto;
}

#progressbar .ui-progressbar-value {
    background-color: #ccc;
}

.ui-widget.loading-dialog {

  -moz-border-radius-topleft: 0px !important; 
    -webkit-border-top-left-radius: 0px !important;
    -khtml-border-top-left-radius: 0px !important;
    border-top-left-radius: 0px !important; 
    -moz-border-radius-topright: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
    -khtml-border-top-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -khtml-border-bottom-left-radius: 0px !important; 
    border-bottom-left-radius: 0px !important; 
    -moz-border-radius-bottomright: 0px !important; 
    -webkit-border-bottom-right-radius: 0px !important;
    -khtml-border-bottom-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important; 
}

.ui-widget-content.loading-dialog {
    border: 0px;
    z-index: 5;
    position:absolute;
    bottom:0px;
    top:0 !important;
}

.loadingscreen {
  border: 0px;
  z-index: 9999;
  position: absolute;
  bottom: 0px;
  top: 0 !important;
  width: 100%;
  background-color: white; 
}

.loading-dialog {
    height: auto;
    width:auto;
    top: 41px !important;
    left:0px !important;
    display: block;
    overflow:hidden;
    position: absolute;
    bottom: 45px;

}

#go_given_stage{

    margin-bottom: 5px;
    /*float:right;*/
    margin-top: 1px;
    /*width:50px;*/

}

.ui-dialog.loading-dialog .ui-dialog-content {
     width: 100% !important;
     height:400px !important;
     padding:0;
}

.ui-dialog.loading-dialog .ui-widget-header {
    
    border: 0;
    height:0;

}

.ui-dialog.loading-dialog .ui-dialog-titlebar {
   text-align: center;
   display:none;
}

.ui-progressbar .ui-progressbar-overlay {
    background: url("../images/animated-overlay.gif");
    height: 115px !important;
    filter: alpha(opacity=25);
    opacity: 0.25;
}

.progressbar
{
    width: 300px;

}

.stage_container{
    width:220px;
    border:1px solid #d3d3d3;
    /*height:260px;*/
    z-index: 9990;
    position: absolute;
    top:55%;
    left:13px;
    background-color:white;
    visibility: hidden;
}

.stage_container_shrink{
    
    height:30px;
    overflow:hidden;
   
}

.stage_container .content{
    overflow-y:auto;
    
}

.stage_container .content ul{
    width: 165px;
    margin: 0 auto;
    margin-top: 10px;
    padding:0;
}

.stage_container .content ul li{
    margin-bottom: 10px;
}

.stage_container .content ul span{
    width: 70px;
    color: black !important;
}

.nav-tabs>li>a, .nav-pills>li>a{
    padding:5px 15px !important;
}


.stage_container .header {
    background-color:#d3d3d3;
    padding:5px;
    cursor: pointer;
    height: 30px;
}

.stage_container .title{
    margin-left: 5px;
    vertical-align: top;
    font-weight: bold;
}


.placesSearchText {
  position: relative; 
  float: left; 
  padding:6px 10px 10px 10px;
  color:white;
  font-family:Verdana, Geneva, sans-serif;
  font-size:14px;
  margin-top:5px;
  display:block;
  
}

 .getDirectionsText {
  position: relative; 
  float: left; 
  padding:6px 10px 10px 10px;
  color:white;
  font-family:Verdana, Geneva, sans-serif;
  font-size:14px;
  
}

 .goButton {
  position: relative; 
  float: left; 
  padding:6px 10px 10px 10px;

}

.ui-dialog .ui-dialog-titlebar{
    padding:0 !important;
    height:41px;
    border-radius:0px;
    border:0;
}
                                                                                                                                     
.ui-dialog .ui-dialog-titlebar-close{
   background-image: url(../images/ui-icons.png);
   background-position: -96px -128px;
}

#show_mylocation{
    
    z-index: 2;
    position: fixed;
    left: 10px;
    background-color: #ccc;
    padding:4px;
    text-align: center;
    width: 45px;
    height:45px;
    visibility: hidden;
    font-size: 30px;
    bottom:230px;
    cursor:pointer;
    
}

           
#placespanel {
        
    z-index: 5;
    position:absolute;
    width:100%;
    top:0;
    height:40px;
}
    
#footer {

    z-index: 5;
    position: absolute; 
    bottom:0px;
    width:100%;
    height:40px;
        
}    

.powertour-style-basic .powertour-footer a span{
    text-shadow: none;
}

#nearby_developments{    
  background-color: white;
  position: fixed;
  top: 55px;
  right: 12px;
  height: 42px;
  width: auto;
  z-index: 1;
  border: 1px solid #a6a5a5;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
}

#compass_mark{
  position: relative;
  right: 12px; 
  z-index: 1;
  width: auto; 
  height: 42px; 
  float: right;
  top: 50px;
  display:none;
}

#search_nearby_tip{
    float:left;
    width:470px;
    display:block;

}

#logo_container{
    z-index: 1;
    position: fixed;
    bottom: 42px;
    left: 70px;
    float: left;
    width: 120px;
    height: 27px;
}

#logo_container a > img{
    height:25px;
}



#summary_distance_time{
    width: 100%;
    height: 40px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    display:none;
}

#summary_distance_time .division_part{
    width: 50%;
    border-right: 1px solid #cccccc;
    height: 40px; 
    float:left;
    font-size: 22px;
    padding: 10px;
}

.division_part > span{
    margin-left:8px;
}

.adp-summary{
    display:none;
}

#placespanel input {
    border: none;
    border-radius: 20px;
    color: #333;
    width: 215px;
    box-shadow: 
        inset 0 2px 0 rgba(0,0,0,.2), 
        0 0 4px rgba(0,0,0,0.1);
    margin-top:4px;
    top:2px;
    position:relative;
    float:left;
    height: 28px;
    padding-left: 5px;
}

#placespanel input#target {
    border: none;
    border-radius: 20px;
    color: #333;
    width: 230px !important;
    box-shadow: 
        inset 0 2px 0 rgba(0,0,0,.2), 
        0 0 4px rgba(0,0,0,0.1);
    margin-top:4px;
    top:2px;
    position:relative;
    float:left;
    height: 28px;
    padding-left: 5px;
    display:block;
}

 
#placespanel input:focus {
    outline: none;
}

#placespanel span#note_lot_see{
    color: white;
    float: right;
   
    padding: 8px;
    margin-top:3px;
    font-weight: bold;
    display:none;
}


.hide_note_lot_see{
    
    display:none;
    
}

.show_note_lot_see{
    
    display:block;
    
}

.show_getdirectionstext{
    display:inline; 
}

.hide_getdirectionstext{
    display:none;
}

#lot_search_container{
    float: left;
    width: 150px;
    position: relative;
    margin-top: 10px;
    cursor:pointer;
    margin-left: 15px; 
}

#lot_search_container span#lot_search_bt{
    top: -5px;
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

.searchp_content{
    display:none;
    padding:10px;
    padding-top: 7px;
}

.searchp_content .title_box{
    width: 350px;
    border: 1px solid #c6c6c6;
    padding: 5px;
    background-color: #efefef;
    padding-bottom: 1px;
}

#zoom_to_container span.align{
    position:relative;
    top:5px;
    width:80px;
}

.searchp_content .note{
    font-size: 16px;
    margin-left: 10px;
    vertical-align: top;
    font-weight: bold;
}

.searchp_content .box{
    width:335px;
    margin-top: 20px;
    margin-left: 10px;
}

.searchp_content #lot_search{
    margin-top: 15px;
    margin-left: 10px;
    border-color: #ccc;
}

.searchp_content #lot_search_list{
    width:340px;
    padding:5px;
    margin-top: 10px;
}

.panel-primary > .panel-body{
    height:90px;
    border: 1px solid #ddd;
    border-top: none;
    padding:8px;
}

.panel-body .match_num{
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 10px;
    line-height: 20px;
    margin-left: 5px;
}

.hasPlaceholder {color: #aaa;}

.btn:focus, .btn:focus:active, .active.btn:focus{
    outline: none;
}

.panel-body .tip{
    margin-bottom: 8px;
    line-height: 15px;
    margin-left: 5px;
    margin-top: 5px;
    visibility:hidden;
}

p.fail_message{
    margin-left: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
}

#getdirections
{
   position: relative;
   float: right;
}

#dialog_link
{
position: relative;
float: right;
width: 35px;
padding: 5px;
padding-top: 8px;

}

#enquire_envelop{
    font-size: 17px;
    vertical-align: middle;
    padding-top: 12px;
    display: block;
    float: right;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
}

#enquire_envelop span{
    display: inline-block;
    position: relative;
    top: -3px;
    margin-left: 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"]{
    margin-bottom:3px;
}

#zoom_to_container .btn{
    padding:3px 12px;
    background-color: white;
}

.panel-heading{
    border-bottom: none;
}

#zoom_to_container{
    float: left;
    margin-top: 5px;
    width: 340px;
    position: relative;
}

#pdf_download{
  position: relative;
  float: right;
  width: 340px;
  padding-left:9px;
  margin-top: 5px;  
}

#pdf_download .bootstrap-select{
    
  margin-left: 4px;
  margin-top: 2px;
  
}

#pdf_download .btn{
    padding:3px 12px;
    background-color: white;
}

#pdf_download > a{
    text-decoration: none;
}

#pdf_download #download_stagepdf{
    margin-bottom: 5px;
    margin-left: 5px;
}



#getdirectionstext {
  
  font-family:Verdana, Geneva, sans-serif;
  font-size:14px;
  position:relative;
  top:4px;
  float:left;
  margin-top:6px;
  
}

.ui-dialog{
    padding:0 !important;
}

.ui-widget-content{
    border:none !important;
    -ms-overflow-x: none !important;
}

#phonenum_container{
    border: 1px solid #a6a5a5;
    z-index: 1;
    background-color: white;
    position: fixed;
    bottom: 80px;
    height:47px;
    left: 8px;
    padding:5px;
    padding-left:14px;
    font-size: 20px;
    color:#515050;
    padding-top: 10px;
}

#phone_num{
    
    font-size: 18px;
    margin-left: 10px;
    vertical-align: top;
    font-weight: bold;    
}

.pocp .pocp_content {
    position: relative;
    top: -10px;
    width:360px;
}

#panel_close_custom_bt{
    float: right;
    margin-top: 18px;
    margin-right: 25px;
    color: #c6c6c6;
}

#panel_close_custom_bt span{
    vertical-align: top;                                                      
    margin-left: 3px;
    line-height: 15px;
}

span#goto_first_stage{
    cursor: pointer;
}

span#zoom_to_center{
    cursor: pointer;
}

div#progressbar{
    margin: 0 auto;
    top: 160px;
    position: relative;
    height: 160px !important;  
    filter: alpha(opacity=25);
    opacity: 0.25; 
    
}

.progressbar-text{
    font-size:25px;
}

.ui-dialog .ui-dialog-title{
    
    font-size:25px;
    position:relative;
    top:230px;
    overflow:visible !important;
    letter-spacing: 5px;

}

#direction_address {
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 6px;
    color: #333;
    width: 250px;
    box-shadow: 
        inset 0 2px 0 rgba(0,0,0,.2), 
        0 0 4px rgba(0,0,0,0.1);
    margin-top: 4px;
    padding-left:5px;
    position: relative;
    top: 2px;
    height:28px;

}

#direction_address:focus {
   outline: none;
     box-shadow: 
        inset 0 2px 0 rgba(0,0,0,.2), 
        0 0 4px rgba(0,0,0,0.1); 
}

#getdirectionsbutton { 
  margin-left:5px;
  position: relative;
  margin-right: 10px;
  top:6px;
}

.modernbutton {
    
    padding: 4px 6px;
    background: #CCCCCC;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    transition: all 0.3s ease-out;
    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.5), 
        0 2px 2px rgba(0,0,0,0.3), 
        0 0 4px 1px rgba(0,0,0,0.2); 
    /* Font styles */
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,0.7);
    
}
 
.modernbutton:hover {
    outline: none;
    
}

.modernbutton:focus {
    outline: none;
    background: orange;
}

#map-canvas{
    width:100%;
    top:40px;
    bottom: 40px;
    position:absolute;
    
}

 .help-video a {
     outline: none;/* get rid of dotted borders in FireFox */
     text-indent: -5000px ;/* this move the text outside of the screen area */
     display:inline-block;
     width:400px;
     height:226px;
     background: url("../images/helpvideo.gif") 0 0 no-repeat;
 }

 .help-video a:hover {
 background-position: -400px 0;
 }

 .help-video a:active {
 background-position: -400px 0;
 }
 
 .ui-button-icon-only .ui-icon{
     left:50%;
     margin-left:-9px !important;
 }
 
 .powertour-style-basic .powertour-footer a{
     border:medium none;
 }
 
 .powertour-style-basic .powertour-footer a span{
     border:medium none;
 }
 
 .powertour-style-basic .powertour-footer a:hover span{
     border-top:medium none;
 }
 
 .powertour-footer a span {
    height: 25px;
}
 
 .moreinfobutton {
   
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
    background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
    background-color:#3d94f6;
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    text-indent:0;
    border:1px solid #CCC;
    display:inline-block;
    color:#ffffff;
    font-family:Trebuchet MS;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:26px;
    line-height:23px;
    width:90px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #CCC;
    
}

.moreinfobutton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
    background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
    background-color:#1e62d0;
}.moreinfobutton:active {
    position:relative;
    top:1px;
}
 
a.stageplanlink{
    color:blue;
    text-decoration: none;
}

div.stageplanpdf_div{
    margin-top: 4px;
    padding-bottom: 5px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom:15px;
}

.ui-dialog-content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 11px;
  height: 11px;
}

.ui-dialog-content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
} 

.help-video a:focus{
    outline:none;
}

#amenities_selection_bar{
    position: fixed;
    top: 45px;
    left: 5px;
    height: 60px;
    z-index: 1;
}

#amenities_selection_bar ul{
    padding:0 0 0 5px;
    margin-top:0px;
}

#amenities_selection_bar ul > li{
    display:block;
    float:left;
    margin-right:6px;
    margin-top:5px;
}

#amenities_selection_bar li > img{
    cursor:pointer;
}

#custom_zoom_control{
    z-index: 1;
    background-color: white;
    position: fixed;
    bottom: 120px;
    height: 90px;
    right: 13px;
    width:45px;
    
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
}

#custom_zoom_control > #custom_zoom_in{
    height:45px;
    text-align:center;
    padding-top:10px;
    cursor:pointer;
    font-size: 20px;
}

#custom_zoom_control > #custom_zoom_out{
    height:45px;
    text-align:center;
    padding-top:9px;
    cursor:pointer;
    font-size: 20px;
    border-top:none !important;
}

.externalAmenity_dlg .ui-dialog-title{
    top:0px;
    font-size:13px;
    cursor:pointer;
    padding-top: 8px;
    padding-left: 8px;
    width:60%;
    letter-spacing:1px;
    height:30px;
    text-decoration:underline;
}

#streetview_close{
    margin-right: 5px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: white;
    margin-top:10px;
    border:0;
    position:absolute;
    top:-30px;
   
}


.nearplaces_content{
    display:none;
    padding:10px;
    padding-top: 7px;
}

.nearplaces_content .title_box{
    width: 353px;
    border: 1px solid #c6c6c6;
    padding: 5px;
    background-color: #efefef;
    padding-bottom: 1px;
}

.nearplaces_content .near_place{
    border-bottom:2px solid #cccccc;
    float:left;
    width:100%;
}

.near_place .nearplace_contactinfo{
    width:55%;
    padding:10px;
    float:left;
}

.nearplace_contactinfo p{
    margin:0;
    color: black;
    font-weight: bold;
    font-size:13px;
}

.nearplace_contactinfo p.place_name{
    font-size: 16px;
    margin-bottom: 7px;
}

.nearplace_contactinfo a.nearplace_url{
   margin-top: 7px;
   display: block; 
   color: #428bca;
}

.near_place_locationinfo{
    width:45%;
    float:right;
    
}

.near_place_locationinfo .marker_position{
    float: left;
    width: 50%;
    border-right: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    height: 65px;
    font-size: 30px;
    padding: 6px;
    margin-top: 10px;
    text-align: center;
    cursor:pointer;
}

.near_place_locationinfo .distance_to_dev{
    float: right;
    width: 50%;
    border-bottom: 2px solid #cccccc;
    height: 65px;
    font-size: 30px;
    padding: 6px;
    margin-top: 10px;
    text-align: center; 
    cursor:pointer;
}

.near_place_locationinfo span{
    font-size:14px;
    display:block;
    color: #428bca;
}

.near_place_locationinfo i{
    color: #f35044;
}

.near_place_locationinfo div.place_review_mark{
    float: left;
    margin: 0px;
    font-size: 5px;
    margin-top: 12px;
    /* width: 50%; */
    margin-left: 3px;
    position: relative;
    left: -16px;
}

.linkeddevelopments_content{
    display:none;
    padding:10px;
    padding-top: 7px;
}

.linkeddevelopments_content .title_box{
    width: 360px;
    border: 1px solid #c6c6c6;
    padding: 5px;
    background-color: #efefef;
    padding-bottom: 1px; 
}

.nearby_open_btn{
    float:right;
}

.linkeddevelopments_content ul{
    list-style-type:none;
    padding-left:0px;
}

.linkeddevelopments_content ul > li{
    border-bottom:1px solid #CCC;
    padding-top:10px;
    padding-bottom:10px;
    float:left;
}

.linkeddevelopments_content li > img{
    margin-left: 30px;
    float: left;
}

.linkeddevelopments_content li > span{
  font-weight: bold;
  font-size: 12px;
  width: 200px;
  display: block;
  float: right;
  margin-bottom:5px;
  height:40px;
  line-height:15px;
  text-align:right;
  padding-top:10px;
}

.rating_val{
    float: left;
    position: relative;
    left: -15px;
    top: 12px;
}

div.place_review_mark > img{
    width:13px;
}

.near_place_locationinfo a.place_reviews{
    float: right;
    margin: 0px;
    font-size: 15px;
    margin-top: 12px;
}

.near_place_locationinfo a.place_reviews:hover{
   color: #851515;
   text-decoration:underline;
}

.nearplaces_panel_title{
    vertical-align: top;
    font-size: 18px;
    font-weight: bold;
    margin-left: 3px;
}

#nearbyplaces_group{
    float:left;
    margin-bottom:40px;
    width:100%;
}

#more_places{
    border: 1px solid black;
    height: 30px;
    position: absolute;
    bottom: 3px;
    width: 200px;
    float: left;
    padding: 4px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 2px;
    cursor:pointer;
}

.slider_box{
    display:block;
}

#price_range_dropdown_tablet{
    display:none;
    font-size:17px;
}
#lot_width_checkbox_group_tablet{
    display:none;
    font-size:17px;
}

#lot_width_checkbox_group_tablet label{
    line-height:25px;
    font-weight:normal;
}

#lot_width_checkbox_group_tablet input{
    width:20px;
    height:20px;
    margin-right:5px;
}

#lot_size_checkbox_group_tablet{
    display:none;
    font-size:17px;
}

#lot_size_checkbox_group_tablet label{
    line-height:25px;
    font-weight:normal;
}

#lot_size_checkbox_group_tablet input{
    width:20px;
    height:20px;
    margin-right:5px;
}

.arrow_box {
    position: relative;
    background: #000;
    padding: 5px;
    width: 130px;
    border-radius: 4px;
    color:white;
    text-align:center;
    
}

.arrow_box:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    /*border-bottom-color: #000;  */
    border-width: 5px;
    margin-left: -5px;     
}

.arrow_box:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    /*border-bottom-color: #ff0000 !important;   */
    border-width: 5px;
    margin-left: -5px;     
}
        


.nearby_error_message{
    font-weight: bold;
    margin-top: 30px !important;
    font-size: 20px;
    line-height: 25px !important;
    padding-left:5px;
}

#controlUI{
    background-color: white;
    position: fixed;
    bottom: 70px;
    height: 40px;
    right: 13px;
    width: auto;
    border: 1px solid #a6a5a5;
    padding: 10px;
    text-align: center; 
    cursor:pointer;
}

#lotpolygon_coordinates_panel,#amenitypolygon_coordinates_panel,
#salesoffice_polygon_coordinates_panel,#lots_coordinates_panel,#define_precinct_polygon_panel,
#define_stage_polygon_panel,#polyline_coordinates_panel{
    position: absolute;
    right:13px;
    top:65px;
    border:1px solid #a6a5a5;
    width:300px;
    height:550px;
    background-color:white;
    z-index:5;
    text-align: center;
    padding: 15px;
    font-size:20px;
    display:none;
}

#lotpolygon_coordinates_panel select, #amenitypolygon_coordinates_panel select,
#lots_coordinates_panel select,#define_precinct_polygon_panel select,#define_stage_polygon_panel select{
    width:220px;
}

#polyline_coordinates_panel ul{
    padding:5px;
}
#polyline_coordinates_panel ul > li{
    list-style-type:none;
    margin-bottom:10px;
}

#polyline_coordinates_panel select{
    width:220px;
    margin-bottom:20px;
}

#polyline_coordinates_panel ul#polyline_coordinates{
    height:140px;
    overflow-y:scroll;
}

ul#polyline_coordinates input{
      width: 100px;
      height: 20px;
      float: left;
      margin-left: 10px;
      margin-bottom: 5px;
      font-size: 14px;
}

#polyline_coordinates_panel label{
    float: left;
    font-size: 14px;
    font-weight: normal;
    width:103px;
}

#polyline_coordinates_panel input{
    width: 135px;
    height: 25px;
}

#lotpolygon_coordinates_panel ul{
    padding:0px;
}

#lots_coordinates_panel ul{
    padding:0px;
}

#amenitypolygon_coordinates_panel ul,#salesoffice_polygon_coordinates_panel ul, #define_precinct_polygon_panel ul,
#define_stage_polygon_panel ul{
    padding:0px;
    height:330px;
    overflow-y:scroll;
}

#lotpolygon_coordinates_panel li,#amenitypolygon_coordinates_panel li,
#salesoffice_polygon_coordinates_panel li,
#lots_coordinates_panel li, #define_precinct_polygon_panel li,
#define_stage_polygon_panel li{
    list-style-type:none;
}

#lotpolygon_coordinates_panel li > input{
    width: 98px;
    margin-left:20px;
    margin-bottom:10px;
    font-size:14px;
}

#lots_coordinates_panel li > input{
    width: 98px;
    margin-left:20px;
    margin-bottom:10px;
    font-size:14px;
}

#amenitypolygon_coordinates_panel li > input, #define_precinct_polygon_panel li > input,
#define_stage_polygon_panel li > input{
    width: 90px;
    margin-left:10px;
    margin-bottom:10px;
    font-size:14px;
}

#salesoffice_polygon_coordinates_panel li > input{
    width: 90px;
    margin-left:10px;
    margin-bottom:10px;
    font-size:14px;
}

#lotpolygon_coordinates_panel li > label, #amenitypolygon_coordinates_panel li > label,
#lots_coordinates_panel li > label, #define_precinct_polygon_panel li > label,
#define_stage_polygon_panel li > label{
   width:25px;
   text-align:right;
   font-size:16px;
}

#clear_coords, #clear_polyline_coords, #amenity_clear_coords,#lot_coords_clear, #amenity_clear_coords,#stage_clear_coords{
   float:right;
   margin-right: 5px;
   width: 70px;
}

#message_lot_polygon,#message_road_polyline{
    font-size:15px;
    color:red;
}

#message_amenity_polygon,#message_stage_polygon{
   font-size:15px;
   color:red; 
}

.fb_share_house_package{
    margin-top: 10px;
    cursor: pointer;
}

.iframe_site_div iframe{
    width:100%;
    height:100%;
    display:inline;
}

.supportScrollingOnTablet{
    overflow-y:auto !important;  
    -webkit-overflow-scrolling:touch !important; 
    overflow-x:hidden !important; 
}

#update_message{
  z-index: 99999;
  top: 60px;
  position: relative;
  width: 40%;
  margin: 0 auto;
  display:none;
  border:2px solid #8a6d3b; 
}

#update_message button{
    color:#8a6d3b;
    opacity:0.8;
}

/*.gm-style-iw + div {display: none;}*/

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */

  #footer{
      position:fixed;
      bottom:0;
      height:44px;
     
  }
  
  #placespanel{
      height:40px;
      position:fixed;
      top:0;
  }
  
  #map-canvas{
     position:fixed !important;
     top:40px;
     width:100%;
     bottom:40px;
  }
  
   .loading-dialog{
       position:absolute;
       top:40px;
       width:100% !important;
       bottom:40px;
       left:0;
       right:0;
       z-index:2;
   }
   
   .stage_container{
       top:25%;
   }
   
   #enquire{
       
   }
   
   #enquire_envelop{
      margin-left:15px; 
   }
   
    #map_zoombar_tip{
        
        width:20px;
        height:20px;
        position:relative;
        left:1px;
        top:580px;
        background-color: white;
        float:left;
        
   }
   
   #phonenum_container{
        border: 1px solid #a6a5a5;
        z-index: 1;
        background-color: white;
        position: fixed;
        bottom: 80px;
        height:47px;
        left:auto;
        padding:5px;
        padding-left:14px;
        font-size: 20px;
        color:#515050;
        padding-top: 10px;
        right: 0px;
    }
    
    #custom_zoom_control{
        z-index: 1;
        background-color: white;
        position: fixed;
        bottom: 130px;
        height: 90px;
        right: 30px;
        width:45px;
        left:10px;
    }
    
    #controlUI{
        background-color: white;
        position: fixed;
        bottom: 80px;
        right:auto;
        height: 40px;
        left:10px;
        width: auto;
        border: 1px solid #a6a5a5;
        padding: 10px;
        text-align: center; 
        cursor:pointer;
    }
    
}

/*
    Android...
*/

@media only screen  and (min-device-width : 800px) and (max-device-width: 1280px) and (orientation:portrait){
    
    #placespanel input{
        width:130px !important;
    }
    
    #placespanel input#target{
        width:130px !important;
    }
    
    #search_nearby_tip{
        width:300px;
    }
    
     .placesSearchText{
        padding: 2px 7px;
        font-size: 11px;
    }

    #placespanel input{
        width:150px;
        top:0px;
    }
    
    #getdirectionstext {
        font-size: 11px;
    }
    
    #map-canvas{
         position:fixed !important;
         top:40px;
         width:100%;
         bottom:40px;
      }
    
    
      #map_zoombar_tip{
        
        width:1px;
        height:1px;
        position:fixed;
        left:1px;
        top:990px !important;
        z-index:1;
        float:left;
        
   }
   
    #zoom_to_container{
       width:310px;
       margin-left:15px;
   }
   
   #pdf_download{
       width:250px;
       visibility:hidden;
   }
   
     #custom_zoom_control{
        z-index: 1;
        background-color: white;
        position: fixed;
        bottom: 125px;
        height: 90px;
        right: auto;
        width:45px;
        left:10px;
    }
    
    #controlUI{
        background-color: white;
        position: fixed;
        bottom: 80px;
        right:auto;
        height: 40px;
        left:10px;
        width: auto;
        border: 1px solid #a6a5a5;
        padding: 10px;
        text-align: center; 
        cursor:pointer;
    }
    
    #phonenum_container{
        border: 1px solid #a6a5a5;
        z-index: 1;
        background-color: white;
        position: fixed;
        bottom: 80px;
        height:47px;
        left:auto;
        right: 0px;
        padding:5px;
        padding-left:14px;
        font-size: 20px;
        color:#515050;
        padding-top: 10px;
    }
    
    #footer{
      position:fixed;
      bottom:0;
      height:44px;
     
   }
   
    #placespanel{
      height:40px;
      position:fixed;
      top:0;
  }

}

@media only screen and (max-device-width: 1280px) and (orientation:landscape) {
    #map_zoombar_tip{
        
        width:20px;
        height:20px;
        position:relative;
        left:1px;
        top:520px;
        background-color: white;
        float:left;
        
   }
  
    #pdf_download{
       
       visibility:visible;
   }

}



@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { /* STYLES GO HERE */ 

    #placespanel input{
        width:90px !important;
    }
    
    #placespanel input#target{
        width:130px !important;
    }
    
    #search_nearby_tip{
        width:340px;
    }
    
    #map-canvas{
     position:fixed !important;
     top:40px;
     width:100%;
     bottom:40px;
  }

   #map_zoombar_tip{
        
        width:20px;
        height:20px;
        position:relative;
        left:1px;
        top:800px;
        background-color: white;
        float:left;
        
   }
   
   #pdf_download{
       width:250px;
   }
   
   #pdf_download > #selectpdf_instruction{
       display:none;
   }
   
   #lot_search_container{
       width:110px;
   }
   
   #zoom_to_container{

       width:350px;
   }
   
   #zoom_to_container > .align{
       display:block;
       width:65px;
       float:left;
      
   }
   
   #pdf_download{
       width:250px;
       visibility:hidden;
   }
  
    
  #footer{
      position:fixed;
      bottom:0;
      height:44px;
     
  }
  
  #placespanel{
      height:40px;
      position:fixed;
      top:0;
  }
     
    .placesSearchText{
        font-size:10px;
    }
    
    #placespanel span#note_lot_see{
        font-size:10px;
    }
    
    #getdirectionstext{
        font-size:10px;
    }
    
    .loading-dialog{
       position:fixed;
       top:40px;
       width:100% !important;
       bottom:43px;
   }
    
   
   
   .lotinfo{
       width:700px !important;
   }
   
   .lotinfo span{
       width:230px;
   }
   
   
   
   .housematch{
       width:700px;
   }
   
   .housematch .text {
        float: right;
        position: relative;
        width: 440px;
    }
    
    .housematch .image{
       width:250px;
   }
   
   .housematchbottomline {
    border-bottom: 1px solid #CCCCCC;
    width: 700px;
   }
   

   .stage_container{
       top:40%;
   }
   
   #phonenum_container{
        border: 1px solid #a6a5a5;
        z-index: 1;
        background-color: white;
        position: fixed;
        bottom: 80px;
        height:47px;
        padding:5px;
        padding-left:14px;
        font-size: 20px;
        color:#515050;
        padding-top: 10px;
        left:auto;
        right:0;
        
    }
    
    #custom_zoom_control{
        z-index: 1;
        background-color: white;
        position: fixed;
        bottom: 130px;
        height: 90px;
        right: 30px;

        width:45px;
        left:10px;
    }
    
    #controlUI{
        background-color: white;
        position: fixed;
        bottom: 80px;
        right:auto;
        height: 40px;
        left:10px;
        width: auto;
        border: 1px solid #a6a5a5;
        padding: 10px;
        text-align: center; 
        cursor:pointer;
    }
    
 
}

@media only screen 
and (min-width : 320px) 
and (max-width : 568px) and (orientation : portrait)  { 
    
    /* STYLES GO HERE */ 
    #placespanel span#note_lot_see{
        font-size:11px;
        padding:3px;
        float:left;
        margin-top:0px;
    }
    
    .placesSearchText{
        padding: 2px 7px;
        font-size: 11px;
    }

    #placespanel input{
        width:150px;
        top:0px;
    }
    
    #getdirectionstext {
        font-size: 11px;
    }
    
    #getdirectionsinput input{
        width:115px;
        margin-left: 0;
        margin-top: 5px;
        padding-bottom: 0;
    }
    
    #dialog_link{
        display:none;
    }
    
    .pocp .pocp_content {
        float: left;
        padding: 0 20px;
        width: 260px;
    }
    
    .pocp{
        width:330px;
    }
    
    #getdirectionsbutton{
        top:2px;
        margin-left:0px;
    }
    
    #getdirectionsbutton .button{
        margin-bottom:0px;
    }
    
    #getdirections {
        position: relative;
        float: right;
        margin-left: 3px;
    }
    
    .pocp_button{
        right:0;
    }
    
    #logo_div {
        z-index: 1;
        position: fixed;
        bottom: 2px;
        left: 70px;
        float: left;
        width: 120px;
        height: 27px;

    }
    
    #logo_div a > img{
        height:28px;
        bottom:3px;
        display:block;
    }
    
    #summary_distance_time{
        margin-left:0;

    }
    
    #summary_distance_time .division_part{
        padding:5px;
    }
    
    .buildername{
        width:100%;
    }
    
    .data-holder{
        padding-top:10px;
    }
    
    #update_message{
      z-index: 99999;
      top: 50px;
      position: relative;
      width: 100%;
      margin: 0 auto;
      display:none;
      border:2px solid #8a6d3b;
    }
    
    #update_message button{
        color:#8a6d3b;
        opacity:0.8;
    }
    
 
 
  
}

@media only screen 
and (min-width : 320px) 
and (max-width : 568px) and (orientation : landscape){
     #summary_distance_time{
        margin-left:0;

    }
    
    #summary_distance_time .division_part{
        padding:5px;
    }
    
    #amenities_feature_panel ul > li{
        display:block;
        float:left;
        margin-top:10px;
        width:160px;
    }
    
     .data-holder{
        padding-top:10px;
    }
    
 
}
