<link href="../mpvs/css/styles.css" rel="stylesheet">     
<div class="amenityinfo" >
    <div class="amenity">
       <div class="amenity_title"><span id="amenity_title"></span></div>
       <div id="amenity_images">
            <ul id="amenities_slider" class="rslides"></ul>
       </div>
       <p id="description"></p>
       <a href="http://website.com" target="_blank" id="more_info" class="moreinfobutton">More Info</a>
    </div>
</div>