<link href="../mpvs/css/styles.css" rel="stylesheet">   
<style>
#place_title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    margin-top: 10px;
}

#description{
    margin-top: 10px;
}
</style>  
<div class="placeinfo" >
    <div class="place">
       <div class="place_title"><span id="place_title"></span></div>
       <div id="place_images">
            <ul id="place_slider" class="rslides"></ul>
       </div>
       <p id="description"></p>
       <a href="#" target="_blank" id="more_info" class="moreinfobutton">More Info</a>
    </div>
</div>