<div class="sales_office_info" >
    <div class="sales_office">
       <div class="title"><span id="sales_office_title" style="font-weight: bold;
margin-top: 10px;
margin-bottom: 10px;
display: block;
font-size: 16px;"></span></div>
       <p id="html"></p>
       <a id="direction_link" href="#" target="_blank"  class="moreinfobutton" style="width:340px;display:block; margin-top:20px; margin-bottom:20px;">Get Directions to Sales Office</a>
    </div>
</div>
