/*
Theme Name: Watermarkgeelong
Author: Anonymous
Author URI:
Version: 1
Description: Base theme for Wordpress
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: base
Tags:
Theme URI:
*/
@font-face {
  font-family: 'proxima-nova-soft';
  src: url('../fonts/temp-fonts/ProximaNovaSoft.eot');
  src: url('../fonts/temp-fonts/ProximaNovaSoft.eot?#iefix') format('embedded-opentype'), url('../fonts/temp-fonts/ProximaNovaSoft.woff2') format('woff2'), url('../fonts/temp-fonts/ProximaNovaSoft.woff') format('woff'), url('../fonts/temp-fonts/ProximaNovaSoft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova-soft';
  src: url('../fonts/temp-fonts/ProximaNovaSoft-Bold.eot');
  src: url('../fonts/temp-fonts/ProximaNovaSoft-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/temp-fonts/ProximaNovaSoft-Bold.woff2') format('woff2'), url('../fonts/temp-fonts/ProximaNovaSoft-Bold.woff') format('woff'), url('../fonts/temp-fonts/ProximaNovaSoft-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?-yilv0l');
  src: url('../fonts/icomoon/icomoon.eot?#iefix-yilv0l') format('embedded-opentype'), url('../fonts/icomoon/icomoon.woff?-yilv0l') format('woff'), url('../fonts/icomoon/icomoon.ttf?-yilv0l') format('truetype'), url('../fonts/icomoon/icomoon.svg?-yilv0l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-land:before {
  content: "\e612";
}
.icon-arrow2:before {
  content: "\e60f";
}
.icon-close:before {
  content: "\e610";
}
.icon-download2:before {
  content: "\e611";
}
.icon-download:before {
  content: "\e60d";
}
.icon-location2:before {
  content: "\e60e";
}
.icon-bath:before {
  content: "\e60a";
}
.icon-bed:before {
  content: "\e60b";
}
.icon-car:before {
  content: "\e60c";
}
.icon-arrow:before {
  content: "\e600";
}
.icon-arrow-bottom:before {
  content: "\e601";
}
.icon-arrow-top:before {
  content: "\e602";
}
.icon-book:before {
  content: "\e603";
}
.icon-burger:before {
  content: "\e604";
}
.icon-house:before {
  content: "\e605";
}
.icon-location:before {
  content: "\e606";
}
.icon-phone:before {
  content: "\e607";
}
.icon-play:before {
  content: "\e608";
}
.icon-size-v:before {
  content: "\e609";
}
.animate-hover {
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
}
.layout:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}
.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}
.notrans {
  -webkit-transition: none;
  transition: none;
}
.bobox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ycenter {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.xcenter {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.no-center {
  position: static;
  top: auto;
  left: auto;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.widget {
  margin-bottom: 14px;
}
.widget:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}
.widget select {
  min-width: auto;
}
.comment-form textarea,
.comment-form input[type="text"] {
  margin: 0 4px 0 0;
  width: 300px;
}
.search-form input[type="search"] {
  margin: 0 4px 0 0;
  width: 150px;
}
.post-password-form label {
  vertical-align: top;
}
.post-password-form input[type="password"] {
  width: 150px;
}
.commentlist {
  margin: 0 0 14px;
}
.commentlist .edit-link {
  margin: 0;
}
.commentlist .commentlist-item .commentlist-item {
  padding: 14px 0 0 3em;
}
@media only screen and (max-width: 767px) {
  .commentlist .commentlist-item .commentlist-item {
    padding: 0;
  }
}
.commentlist .commentlist-item + .commentlist-item {
  padding-top: 14px;
}
.commentlist .avatar-holder {
  float: left;
  margin: 0 14px 4px 0;
}
.comment,
.commentlist-holder {
  overflow: hidden;
}
.comment-form label {
  display: block;
  padding-bottom: 4px;
}
.comment-form textarea {
  padding: 3px 4px;
  overflow: auto;
  margin: 0;
  height: 120px;
  min-height: 120px;
}
.widget_calendar #next {
  text-align: right;
}
.gallery-item dt {
  float: none;
  padding: 0;
}
.navigation {
  overflow: hidden;
  margin: 0 0 14px;
}
.navigation .next {
  float: left;
}
.navigation .prev {
  float: right;
}
.wp-caption {
  max-width: 98%;
  clear: both;
  border: 1px solid #ccc;
  padding: 5px;
}
.wp-caption img {
  vertical-align: top;
}
.wp-caption p {
  margin: 10px 0 0;
}
div.aligncenter {
  margin: 0 auto 14px;
}
img.aligncenter {
  display: block;
  margin: 0 auto;
}
.alignleft {
  float: left;
  margin: 0 14px 4px 0;
}
.alignright {
  float: right;
  margin: 0 0 4px 14px;
}
/* custom select styles */
body > .jcf-select-drop {
  position: absolute;
  margin: -1px 0 0;
  z-index: 9999;
}
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}
.jcf-select {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border: 1px solid #777;
  background: #fff;
  margin: 0 0 12px;
  height: 26px;
}
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 13px;
  line-height: 26px;
  margin: 0 35px 0 8px;
}
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  background: #aaa;
  width: 26px;
  bottom: 0;
  right: 0;
  top: 0;
}
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
}
.jcf-select-drop .jcf-select-drop-content {
  border: 1px solid #f00;
}
/* multiple select styles */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}
/* select options styles */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 14px;
  font-size: 12px;
  width: 100%;
}
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}
.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.jcf-list li {
  overflow: hidden;
  display: block;
}
.jcf-list .jcf-overflow {
  overflow: auto;
}
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 5px 9px;
  color: #656565;
  height: 1%;
}
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  font-weight: bold;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}
/* common custom form elements styles */
.jcf-disabled {
  background: #ddd !important;
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none;
}
#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background-image: url(../images/fancybox/fancybox.png);
}
#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: none;
}
#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none;
}
#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  /* should be 20px */
  z-index: 1101;
  outline: none;
  display: none;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}
#fancybox-content {
  width: 0;
  height: 0;
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1102;
  border: 0px solid #fff;
  /* border-width should be zero */
}
#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1101;
}
#fancybox-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: transparent url(../images/fancybox/fancybox.png) -40px 0px;
  cursor: pointer;
  z-index: 1103;
  display: none;
}
#fancybox-error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 14px;
  margin: 0;
}
#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top;
}
#fancybox-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
#fancybox-left,
#fancybox-right {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 35%;
  cursor: pointer;
  outline: none;
  background: transparent url(../images/fancybox/blank.gif);
  z-index: 1102;
  display: none;
}
#fancybox-left {
  left: 0px;
}
#fancybox-right {
  right: 0px;
}
#fancybox-left-ico,
#fancybox-right-ico {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  cursor: pointer;
  z-index: 1102;
  display: block;
}
#fancybox-left-ico {
  background-image: url(../images/fancybox/fancybox.png);
  background-position: -40px -30px;
}
#fancybox-right-ico {
  background-image: url(../images/fancybox/fancybox.png);
  background-position: -40px -60px;
}
#fancybox-left:hover,
#fancybox-right:hover {
  visibility: visible;
}
#fancybox-left:hover span {
  left: 20px;
}
#fancybox-right:hover span {
  left: auto;
  right: 20px;
}
body {
  min-width: 320px;
}  
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
h2 {
  font-size: 50px;
  line-height: 52px;
  font-weight: 600;
  color: #022d4a;
  margin: 0 0 5px;
}
h3 {
  font-size: 33px;
  line-height: 34px;
  font-weight: 600;
  color: #00a79d;
  margin: 0 0 20px;
}
#wrapper {
  overflow: hidden;
  position: relative;
}
.center {
  text-align: center;
  margin: 0 auto;
}
[class*="btn"] {
  line-height: 40px;
  border-radius: 12px;
  background: #00a29b;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 24px;
  border: 0;
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
}
[class*="btn"].btn-primary {
  background: -webkit-linear-gradient(top, #00a29b 0%, #00a29b 51%, #26b0aa 54%, #26b0aa 100%);
  background: linear-gradient(to bottom, #00a29b 0%, #00a29b 51%, #26b0aa 54%, #26b0aa 100%);
  box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.2), inset 0 5px 5px rgba(255, 255, 255, 0.2);
}
[class*="btn"].btn-primary:hover {
  color: #fff;
  background: #afb2b4;
  background: -webkit-linear-gradient(top, #afb2b4 0%, #afb2b4 51%, #bbbdbf 54%, #bbbdbf 100%);
  background: linear-gradient(to bottom, #afb2b4 0%, #afb2b4 51%, #bbbdbf 54%, #bbbdbf 100%);
}
[class*="btn"].blue {
  color: #022d4a;
  background: -webkit-linear-gradient(top, #b1e7ed 0%, #b1e7ed 51%, #c7eef2 54%, #c7eef2 100%);
  background: linear-gradient(to bottom, #b1e7ed 0%, #b1e7ed 51%, #c7eef2 54%, #c7eef2 100%);
  box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.2), inset 0 5px 5px rgba(255, 255, 255, 0.2);
}
[class*="btn"].blue:hover {
  color: #fff;
  background: #afb2b4;
  background: -webkit-linear-gradient(top, #afb2b4 0%, #afb2b4 51%, #bbbdbf 54%, #bbbdbf 100%);
  background: linear-gradient(to bottom, #afb2b4 0%, #afb2b4 51%, #bbbdbf 54%, #bbbdbf 100%);
}
[class*="btn"].dark-blue {
  background: -webkit-linear-gradient(top, #022d4a 0%, #022d4a 51%, #163d58 54%, #163d58 100%);
  background: linear-gradient(to bottom, #022d4a 0%, #022d4a 51%, #163d58 54%, #163d58 100%);
  box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.2), inset 0 5px 5px rgba(255, 255, 255, 0.2);
}
[class*="btn"].dark-blue:hover {
  color: #fff;
  background: #afb2b4;
  background: -webkit-linear-gradient(top, #afb2b4 0%, #afb2b4 51%, #bbbdbf 54%, #bbbdbf 100%);
  background: linear-gradient(to bottom, #afb2b4 0%, #afb2b4 51%, #bbbdbf 54%, #bbbdbf 100%);
}
[class*="btn"].btn-view,
[class*="btn"].btn-download {
  width: 36px;
  min-width: 36px !important;
  height: 36px;
  padding: 0 !important;
  border-radius: 50%;
}
[class*="btn"]:focus,
[class*="btn"]:active,
[class*="btn"]:active:focus {
  outline: none;
}
.page-loader {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #01162d url(../images/loading-texture.jpg) no-repeat 50% 0;
  background-size: cover;
}
.page-loader .pl-holder {
  display: table;
  width: 100%;
  height: 100%;
}
.page-loader .pl-content {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
}
.page-loader .pl-logo {
  display: block;
  margin: 0 auto 16px;
}
.page-loader .pl-text {
  display: block;
  color: #00a79d;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.3px;
}
#main-nav {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 20px;
  text-transform: uppercase;
  z-index: 1000;
  background: #fff;
  -webkit-transition: background 0.15s ease-in-out 0s;
  transition: background 0.15s ease-in-out 0s;
}
.home-page #main-nav {
  padding: 18px 20px;
  visibility: hidden;
}
.js-ready #main-nav {
  visibility: visible;
}
#main-nav.section-1a-nav {
  background: transparent;
}
#main-nav.section-1b-nav {
  background: transparent;
}
#main-nav .navbar-toggle .icon-bar {
  background: #00a79d;
}
#main-nav .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  padding: 0;
}
#main-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: justify;
  height: 40px;
}
#main-nav ul:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
  font-size: 0;
  line-height: 0;
}
#main-nav ul li {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: .5px;
}
#main-nav ul li.active a,
#main-nav ul li.active [class*="btn"] {
  color: #00a29b;
  background: none;
  box-shadow: none;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  border-radius: 0;
}
#main-nav ul li.active a:after,
#main-nav ul li.active [class*="btn"]:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: auto;
  bottom: 6px;
  height: 3px;
  width: 8px;
  border-radius: 3px;
  background: #00a29b;
  opacity: 1;
}
.section-1a-nav#main-nav ul li.active a,
.section-1a-nav#main-nav ul li.active [class*="btn"] {
  color: #fff;
}
.section-1a-nav#main-nav ul li.active a:after,
.section-1a-nav#main-nav ul li.active [class*="btn"]:after {
  opacity: 0;
}
#main-nav ul li.active [class*="btn"] {
  margin: 0 24px;
}
#main-nav ul li.active [class*="btn"]:hover {
  color: #00a29b !important;
}
#main-nav ul #logo-space {
  position: relative;
  width: 80px;
  font-size: 0;
  line-height: 0;
}
.home-page #main-nav ul #logo-space {
  width: 0;
}
#main-nav ul #logo-space a {
  margin: 0;
}
#main-nav ul a {
  margin: 0 4px;
  position: relative;
  display: inline-block;
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
  color: #00496d;
}
.section-1a-nav#main-nav ul a {
  color: #fff;
}
.section-1a-nav#main-nav ul a:hover {
  color: #ccdbdc;
}
#main-nav ul a:hover {
  color: #575757;
  text-decoration: none;
}
#main-nav [class*="btn"] {
  margin: 0;
  color: #fff;
}
#main-nav [class*="btn"]:hover {
  color: #fff !important;
}
.section-1b-nav#main-nav [class*="btn"] {
  color: #00496d;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.section-1b-nav#main-nav [class*="btn"]:hover {
  color: #575757 !important;
}
#main-nav .logo a {
  display: block;
}
.logo {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  position: absolute;
  top: 0;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-top: -40px;
}
.home-page .logo {
  margin-top: -130px;
}
.logo:hover img {
  margin-top: -83px;
}
.section-skrollable {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-skrollable.skrollable-after {
  position: absolute;
}
.section-skrollable .skrollable-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  z-index: 1;
  background: url(../images/pattern-video.png) 50% 0;
}
.section-skrollable .skrollable-content {
  display: table;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.section-block {
  position: relative;
  z-index: 3;
  min-height: 580px;
}
.section-block.table-layout {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.section-block .cell {
  display: table-cell;
  vertical-align: middle;
}
.section-block.section-1a .cell {
  padding: 90px 0;
}
.section-block.section-2a {
  background: #ffffff url(../images/bg-block2a.jpg) no-repeat 50% 0;
  background-size: cover;
}
.logo-main {
  margin: 177px auto 0;
  width: 554px;
  position: relative;
}
.logo-main:before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  border: 19px solid #00a29b;
  top: 0;
  width: 480px;
  height: 480px;
  border-radius: 50%;
}
.button-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.button-area .button-holder {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}
.button-down {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.button-down:focus,
.button-down:active {
  color: #fff;
}
.button-down:hover {
  color: #00a29b;
  text-decoration: none;
}
.button-down:hover:before {
  background-position: 0 -30px;
}
.button-down .icon-arrow-bottom {
  font-size: 28px;
  display: block;
  margin: 0 auto 9px;
}
.video-large video {
  position: absolute;
  z-index: 0;
  width: auto;
  height: auto;
  border: 0;
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.video-player {
  background: #000;
  position: absolute;
  width: 0;
  height: 0;
  z-index: 99999;
  visibility: hidden;
  overflow: hidden;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: -webkit-transform 300ms ease;
  -moz-transition: -moz-transform 300ms ease;
  transition: transform 300ms ease;
}
.video-player.is-active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  visibility: visible;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.video-player .video-player-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  width: 30px;
  height: 30px;
  background: #f00;
  overflow: hidden;
  text-indent: -9999px;
}
.video-player video {
  display: block;
  height: 100%;
  width: 100%;
}
.splash-bg {
  position: relative;
  z-index: 2;
}
.splash-bg img {
  display: block;
  width: 100%;
  height: auto;
}
.section-1b {
  min-height: 740px;
  z-index: 1;
}
.section-1b .container {
  position: static;
}
.section-1b .cell {
  position: relative;
  z-index: 3;
}
.section-1b .text-holder {
  float: none;
  text-align: center;
}
.section-1b .sidebar-block {
  position: static;
}
.section-1b h2 {
  font-size: 68px;
  line-height: 70px;
  font-weight: bold;
  margin: 0 0 24px;
  color: #022d4a;
}
.section-1b p {
  margin: 0 0 35px;
}
[class*="button"] {
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
}
.button-play {
  display: inline-block;
  vertical-align: top;
  font-size: 28px;
  line-height: 30px;
  font-weight: bold;
}
.button-play:hover {
  text-decoration: none;
}
.button-play .icon-play {
  font-size: 56px;
  margin: 0 auto 12px;
  display: block;
}
.date-time {
  font-size: 20px;
  line-height: 33px;
  font-weight: 600;
  color: #00a79d;
  position: absolute;
  right: 0;
  bottom: 20px;
  z-index: 3;
  width: 220px;
}
.date-time .time {
  font-size: 33px;
  display: block;
}
.date-time .ico-clock {
  float: left;
  margin-right: 10px;
  border-color: #00a19b;
  border-radius: 50%;
}
.date-time .ico-clock .minutes {
  border-color: #00a19b;
}
.date-time .ico-clock .hours {
  border-color: #00a19b;
}
.section-2a {
  padding: 86px 0 71px;
}
.section-2a .img-circle {
  display: block;
  position: relative;
  overflow: hidden;
}
.section-2a .img-circle.image02:after,
.section-2a .img-circle.image01:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background: url(../images/bg-hover-img.png) no-repeat;
  opacity: 0;
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
}
.section-2a .img-circle.image02:after {
  background: url(../images/bg-hover-img02.png) no-repeat;
}
.section-2a .img-circle span {
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  z-index: 2;
  color: #022d4a;
}
.section-2a .img-circle:hover span,
.section-2a .img-circle:hover:after {
  opacity: 1;
}
.section-2a .row {
  margin-bottom: 38px;
}
.section-2a .text-holder {
  color: #022d4a;
}
.section-2a h3 {
  margin-bottom: 13px;
}
.section-2a p {
  margin: 0 0 29px;
}
.section-2a .icon-location,
.section-2a .icon-house {
  margin: 0 auto 10px;
  font-size: 51px;
  display: block;
}
.section-2a [class*="col-"] {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.link {
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
}
.link .icon-arrow {
  font-size: 10px;
  margin: -1px 0 0 4px;
}
.section-3a {
  background: #81abd0;
  min-height: 1px;
}
.section-3a h2 {
  margin-bottom: 38px;
}
.section-3a .container {
  padding-top: 62px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.section-3a .date-time {
  position: static;
  margin: 0 0 30px;
}
.section-3a .date-time .ico-clock {
  display: block;
  float: none;
  margin: 0 0 10px;
}
.section-3a .text-holder {
  color: #022d4a;
}
.section-3a .link {
  margin-left: 20px;
}
.section-4a {
  background: #ffffff url(../images/bg-block4a.jpg) no-repeat 0 100%;
  background-size: 100% auto;
  padding: 127px 0 354px;
}
.section-4a h2 {
  margin-bottom: 60px;
}
.section-4a h3 {
  margin-bottom: 12px;
}
.section-4a p {
  margin-bottom: 27px;
}
.section-4a [class*="col"] {
  text-align: center;
}
.section-4a .icon-book {
  font-size: 49px;
  color: #022d4a;
  margin-bottom: 20px;
  display: block;
}
.tab-hidden {
  left: -9999px;
  position: absolute;
}
#footer {
  background: #011b38 url(../images/bg-footer.jpg) no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
  z-index: 3;
  padding: 94px 0 87px;
  line-height: 22px;
}
#footer:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}
#footer .button-top {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 3;
  top: -50px;
  background: url('../images/sprite.png') no-repeat;
  width: 130px;
  height: 50px;
  padding-top: 26px;
  color: #003356;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 15px;
  font-weight: bold;
}
#footer .button-top:hover {
  color: #00a29b;
  text-decoration: none;
}
#footer .button-top:hover span {
  opacity: 1;
}
#footer .button-top .icon-arrow-top {
  font-size: 18px;
  display: block;
  margin: 0 auto 4px;
}
#footer .tel {
  display: block;
  font-size: 33px;
  line-height: 34px;
  font-weight: 600;
  color: #00a29b;
  padding: 8px 0 13px;
}
#footer .tel a {
  display: none;
}
#footer h4 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 2px;
}
#footer p {
  margin-bottom: 7px;
}
#footer .name {
  color: #00a29b;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  display: block;
  margin: 0 0 19px;
  letter-spacing: 1px;
}
#footer .logo-small {
  width: 100%;
}
#footer a {
  color: #fff;
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
  text-decoration: underline;
}
#footer a:hover {
  text-decoration: underline;
  color: #00a19b;
}
#footer .sep {
  padding: 0 5px;
}
#footer .link {
  font-weight: bold;
  color: #fff;
  text-decoration: none !important;
}
#footer a[href*="mailto"] {
  color: #00a29b;
  text-decoration: underline;
  margin-bottom: 9px;
  display: inline-block;
}
#footer a[href*="mailto"]:hover {
  color: #afb2b4;
}
#footer .row > div:last-child {
  padding-top: 9px;
}
#footer .row > div:last-child .images {
  margin: 0 0 14px;
}
#footer .row > div:last-child .images img:first-child {
  margin: 34px 19px 0 0;
}
.field-holder.errFld .jcf-select,
.field-holder.errFld .jcf-select-text,
.field-holder.errFld .form-control {
  background: #ffe2e2;
}
.jcf-select,
.jcf-select-text,
.form-control {
  border-radius: 10px;
  font-size: 13px;
  padding: 10px 15px;
  height: auto;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.jcf-select:hover,
.jcf-select-text:hover,
.form-control:hover {
  background: #ecf8f9;
}
.jcf-select.errFld,
.jcf-select-text.errFld,
.form-control.errFld {
  background: #ffe2e2;
}
.jcf-select-drop {
  left: 0;
  right: 0;
}
.jcf-select-drop .jcf-select-drop-content {
  border: 0 !important;
}
.jcf-select-drop .jcf-list {
  font-size: 13px;
  line-height: 19px;
  background: #ecf8f9;
  border-radius: 0 0 10px 10px;
  margin-top: -6px;
  padding: 18px 0 10px;
}
.jcf-select-drop .jcf-list .jcf-option {
  padding: 0 18px;
  color: #6a808e;
}
.jcf-select-drop .jcf-list .jcf-hover {
  background: #b1e7ed;
  color: #022846;
}
.jcf-select-drop .jcf-option-hideme,
.jcf-select-drop .default-value {
  display: none;
}
.jcf-select {
  width: 100%;
  padding: 0;
  background: none;
}
.jcf-select.jcf-drop-active {
  z-index: 10002;
}
.jcf-select.jcf-drop-active .jcf-select-opener {
  background: #dadcdf;
}
.jcf-select.jcf-drop-active .jcf-select-opener:before {
  color: #585858;
}
.jcf-select .jcf-select-text {
  line-height: 18px;
  background: #fff;
  padding: 10px 27px 10px 12px;
  margin: 0;
  border-radius: 10px;
  position: relative;
  z-index: 10000;
}
.jcf-select .jcf-select-opener {
  background: #d5eef0;
  border-radius: 0 10px 10px 0;
  width: 36px;
  color: #032e4b;
  font-size: 6px;
  z-index: 10001;
}
.jcf-select .jcf-select-opener:before {
  content: "\e601";
  font-family: 'icomoon';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 7px 0 0;
  width: 16px;
  height: 16px;
  padding: 0;
  position: absolute;
  opacity: 0;
}
input[type="radio"] + span {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 30px;
}
input[type="radio"] + span:hover {
  color: #00a19b;
}
input[type="radio"] + span:hover:before {
  background: #00a19b;
}
input[type="radio"] + span:hover:after {
  background: #012c4a;
}
input[type="radio"] + span:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 19px;
  height: 19px;
  background: #fff;
  border-radius: 50%;
  left: 0;
}
input[type="radio"] + span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 6px;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background: #079f98;
  opacity: 0;
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
}
input[type="radio"]:checked + span {
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
  color: #fff;
}
input[type="radio"]:checked + span:hover {
  color: #00a19b;
}
input[type="radio"]:checked + span:after {
  opacity: 1;
}
#sidebar {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 0;
  width: 292px;
}
.forms-widget {
  background: #022745 url(../images/bg-sidebar.png) no-repeat;
  padding: 40px 46px 29px;
  -webkit-box-sizing: border-box;
}
.forms-widget h2 {
  font-size: 33px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 1px;
}
.forms-widget h3 {
  font-size: 19px;
  line-height: 20px;
  color: #00a29b;
  margin-bottom: 11px;
}
.forms-widget .radio-tabs {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 13px;
}
.forms-widget .radio-tabs li {
  display: none !important;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  color: #33556c;
}
.forms-widget .jcf-select,
.forms-widget .form-control {
  margin-bottom: 6px;
}
.forms-widget .jcf-select-text {
  font-size: 12px;
  line-height: 18px;
}
.forms-widget .btn {
  margin: 7px 0 4px;
  width: 100%;
}
.forms-widget .note {
  font-size: 11px;
  line-height: 13px;
  color: #33556c;
}
.forms-widget .row label {
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 0;
}
.forms-widget .select-row {
  margin-left: -2%;
}
.forms-widget .select-row:last-child {
  margin-bottom: 10px;
}
.forms-widget .select-col {
  float: left;
  width: 49%;
}
.forms-widget .select-col + .select-col {
  float: right;
}
.forms-widget .select-col .jcf-select-text {
  font-size: 11px;
  padding: 8px 27px 8px 12px;
}
.forms-widget .select-col .jcf-select-opener {
  width: 30px;
}
.forms-widget .select-col select {
  font-size: 12px;
  color: #022d4a;
  padding: 5px 10px;
}
.visual img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.life-page #main-nav {
  background: #ffffff url(../images/bg-header.jpg) no-repeat;
  background-size: cover;
}
.section-gallery {
  position: absolute;
  width: 100%;
  height: 100%;
}
.section-gallery .slideset {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 760px;
}
.section-gallery .slide {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.section-gallery .slide.active {
  z-index: 2;
}
.section-gallery .slide:nth-child(5) .holder,
.section-gallery .slide:nth-child(6) .holder,
.section-gallery .slide:nth-child(7) .holder,
.section-gallery .slide:nth-child(8) .holder {
  padding-left: 25px;
  padding-right: 25px;
}
.section-gallery .slide:nth-child(9) .holder,
.section-gallery .slide:nth-child(15) .holder,
.section-gallery .slide:nth-child(16) .holder {
  padding-left: 24px;
  padding-right: 24px;
}
.section-gallery .slide.blue .description {
  color: #022d4a;
}
.section-gallery .slide.green .description {
  color: #00a19b;
}
.section-gallery .slide.white .description {
  color: #fff;
}
.section-gallery .bg-stretch {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.section-gallery .bg-stretch img {
  vertical-align: top;
  margin-top: 0 !important;
}
.section-gallery .pagination-holder {
  border: 0;
  z-index: 10;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  height: 2px;
  margin: -1px 0 0;
}
.section-gallery .timeline {
  width: 100%;
}
.section-gallery .timeline ul {
  float: right;
  width: 50%;
  display: table;
  padding: 0 0 0 210px;
  margin: 0;
  list-style: none;
}
.section-gallery .timeline li {
  display: table-cell;
  vertical-align: top;
  text-align: right;
}
.section-gallery .timeline li a {
  z-index: 2;
  position: absolute;
  top: -4px;
  left: 0;
  width: 10px;
  height: 10px;
}
.section-gallery .timeline li a:before,
.section-gallery .timeline li a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #fff;
  transition: all 0.2s linear;
}
.section-gallery .timeline li a:after {
  border: 2px solid #fff;
  transition-relay: 0.2s;
}
.section-gallery .timeline li a:hover:before {
  top: -4px;
  left: -4px;
  width: 18px;
  height: 18px;
  background: #fff;
}
.section-gallery .timeline li a.active:before,
.section-gallery .timeline li a.active:hover:before {
  top: -5px;
  left: -5px;
  width: 20px;
  height: 20px;
  background: #00a19b;
}
.section-gallery .timeline li a.active:after {
  top: -12px;
  left: -12px;
  width: 34px;
  height: 34px;
}
.section-gallery .timeline li.blue a.active:before,
.section-gallery .timeline li.blue a.active:hover:before {
  background: #022d4a;
}
.section-gallery .timeline div {
  height: 2px;
  position: relative;
  display: block;
}
.section-gallery .timeline div:before {
  z-index: 1;
  content: "";
  position: absolute;
  left: 10px;
  right: 0;
  top: 0;
  height: 2px;
  overflow: hidden;
  background: #fff;
}
.section-gallery .timeline ul:first-child {
  float: left;
  padding: 0 210px 0 0;
}
.section-gallery .timeline ul:first-child div:before {
  left: 0;
  right: 10px;
}
.section-gallery .timeline ul:first-child a {
  left: auto;
  right: 0;
}
.section-gallery .hit-area {
  z-index: 9;
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 100%;
  background: url(../images/none.gif);
}
.section-gallery .hit-area.next {
  left: auto;
  right: 0;
}
.section-gallery .hit-area.next:hover .ico-next {
  background: url(../images/sprite.png) no-repeat -146px -180px;
}
.section-gallery .hit-area.prev:hover .ico-prev {
  background: url(../images/sprite.png) no-repeat -84px -180px;
}
.section-gallery .hit-area .ico-prev,
.section-gallery .hit-area .ico-next {
  position: absolute;
  bottom: 30px;
  width: 44px;
  height: 62px;
  overflow: hidden;
  text-indent: -9999px;
}
.section-gallery .hit-area .ico-prev {
  left: 50px;
}
.section-gallery .hit-area .ico-next {
  right: 50px;
}
.section-gallery.not-enough-slides .prev,
.section-gallery.not-enough-slides .next {
  visibility: hidden;
}
.section-gallery .description {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  padding-bottom: 6px;
  margin: -59px 0 0 -180px;
  line-height: 22px;
  text-align: center;
}
.section-gallery .description h1 {
  margin-left: -20px;
  margin-right: -20px;
}
.section-gallery .time-header {
  z-index: 99;
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 360px;
  margin: 0 0 69px -180px;
  color: #022d4a;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}
.section-gallery .time-header .day {
  display: block;
  font-size: 19px;
  line-height: 23px;
}
.section-gallery .time-header .time-holder {
  display: block;
  font-size: 33px;
  line-height: 37px;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-style: normal;
}
.section-gallery h1 {
  font-size: 50px;
  line-height: 48px;
  font-weight: 700;
  margin: 0 0 11px;
  padding: 2px 0;
}
.section-gallery .holder {
  position: relative;
  padding: 0 30px;
}
.section-gallery .holder h1 {
  margin-left: -55px;
  margin-right: -55px;
}
.section-gallery .btn {
  min-width: 240px;
  margin-top: 11px;
  font-size: 13px;
  line-height: 45px;
  letter-spacing: 0.5px;
}
.ico-clock {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 58px;
  height: 58px;
  overflow: hidden;
  margin: 0 auto;
  border: 4px solid #022d4a;
  border-radius: 50%;
  margin-bottom: 15px;
}
.ico-clock .minutes-holder,
.ico-clock .hours-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.ico-clock .minutes {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 22px;
  border-radius: 4px;
  margin: 3px 0 0 -2px;
  border: 2px solid #022d4a;
}
.ico-clock .hours {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 19px;
  border-radius: 4px;
  margin: 8px 0 0 -2px;
  border: 2px solid #022d4a;
}
.time-white .ico-clock,
.time-white .ico-clock .minutes,
.time-white .ico-clock .hours {
  border-color: #fff;
}
.time-green .ico-clock {
  border-color: #00a19b;
}
/* mobile version of gallery block */
.section-lifestyle {
  padding-top: 116px;
  background: #ffffff url(../images/bg-section-lifestyle.png) no-repeat -1px 53px;
}
.section-lifestyle .pics-box {
  position: relative;
  padding: 42px 0 45px;
}
.section-lifestyle .pics-box:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 13px;
  bottom: 13px;
  width: 3px;
  overflow: hidden;
  margin-left: -1px;
  border-left: 1px solid #889caa;
  border-right: 1px solid #79909f;
  background: #022d4a;
}
.section-lifestyle .pics-box:last-child {
  padding-bottom: 0;
}
.section-lifestyle .pics-box:last-child ul:after {
  display: none;
}
.section-lifestyle .pics-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section-lifestyle .pics-box ul:before,
.section-lifestyle .pics-box ul:after,
.section-lifestyle .pics-box ul .dot {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 13px;
  height: 13px;
  margin-left: -6px;
  border-radius: 50%;
  border: 3px solid #022d4a;
}
.section-lifestyle .pics-box ul .dot {
  top: 50%;
  margin-top: -6px;
  border-color: #fff;
}
.section-lifestyle .pics-box ul:after {
  top: auto;
  bottom: 0;
}
.section-lifestyle .pics-box .dot {
  z-index: 5;
}
.section-lifestyle .pics-box .dot:before,
.section-lifestyle .pics-box .dot:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 1px;
  height: 400px;
  overflow: hidden;
  background: #fff;
  margin-left: -1px;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.53), -1px 0 0 rgba(255, 255, 255, 0.46);
}
.section-lifestyle .pics-box .dot:after {
  bottom: auto;
  top: 100%;
}
.section-lifestyle .pics-box li {
  overflow: hidden;
  position: relative;
}
.section-lifestyle .pics-box li img {
  vertical-align: top;
  width: 100%;
  height: auto;
}
.masterplan-box {
  text-align: center;
}
.masterplan-box h2 {
  color: #00a29b;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 52px 0 9px;
}
.masterplan-box h2:first-child {
  margin-top: 0;
}
.intro {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
.intro .page-header {
  margin-bottom: 18px;
}
.intro .btn {
  min-width: 300px;
  line-height: 44px;
}
.img-box {
  margin: 41px -100px 0;
}
.img-box:first-child {
  margin-top: 0;
}
.img-box > a {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}
.img-box > a img {
  width: 100%;
  height: auto;
  vertical-align: top;
  border-radius: 50%;
}
.img-box > a span {
  color: #022d4a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  padding-bottom: 2px;
}
.img-box > a span i {
  position: absolute;
  left: 50%;
  bottom: 100%;
  font-size: 39px;
  margin-bottom: 12px;
  margin-left: -19px;
}
.img-box > a .hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 19px;
  line-height: 22px;
  font-weight: 700;
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
}
.img-box > a:hover .hover {
  opacity: 1;
}
.aside-panel {
  position: absolute;
  top: 890px;
}
.section {
  color: #022d4a;
}
.section a {
  text-decoration: underline;
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
}
.section a:hover {
  color: #00a29b;
}
.section a.link {
  display: inline-block;
  vertical-align: top;
  line-height: 23px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.section a.link i {
  vertical-align: 1px;
}
.section .more {
  font-weight: 700;
}
.section sup {
  font-size: 0.5em;
  vertical-align: 1px;
}
.section .btn {
  color: #fff;
  text-decoration: none;
}
.section p {
  margin: 22px 0 0;
}
.section p:first-child {
  margin-top: 0;
}
.section h1 + p,
.section h2 + p,
.section h3 + p,
.section h4 + p,
.section h5 + p,
.section h6 + p,
.section header + p,
.section address + p {
  margin-top: 0;
}
.section h1 a,
.section h2 a,
.section h3 a,
.section h4 a,
.section h5 a {
  color: #022d4a !important;
  text-decoration: none;
}
.section h1 a:hover,
.section h2 a:hover,
.section h3 a:hover,
.section h4 a:hover,
.section h5 a:hover {
  text-decoration: underline;
}
.section h1:first-child,
.section h2:first-child,
.section h3:first-child,
.section h4:first-child,
.section h5:first-child {
  margin-top: 0;
}
.section header + h1,
.section .headline + h1,
.section .page-header + h1,
.section header + h2,
.section .headline + h2,
.section .page-header + h2,
.section header + h3,
.section .headline + h3,
.section .page-header + h3,
.section header + h4,
.section .headline + h4,
.section .page-header + h4,
.section header + h5,
.section .headline + h5,
.section .page-header + h5 {
  margin-top: 0;
}
.section .btn-primary {
  min-width: 193px;
  color: #fff;
  text-decoration: none;
  margin-top: 15px;
  line-height: 44px;
}
.section .btn-lots {
  font-size: 13px;
  padding-top: 2px;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
}
.section .btn-lots i {
  font-size: 6px;
  margin: 0 2px 0 6px;
  vertical-align: 2px;
}
.section .btn-lots:hover i {
  content: "\e602";
}
.section a.link {
  position: relative;
  padding-right: 18px;
  line-height: 24px !important;
}
.section a.link .icon-arrow {
  position: absolute;
  left: auto;
  right: 0;
  top: 7px;
  width: 7px;
  height: 10px;
  overflow: hidden;
}
.section a.link .icon-arrow:before,
.section a.link .icon-arrow:after {
  content: "" !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../images/sprite.png) no-repeat -120px -65px;
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
}
.section a.link .icon-arrow:after {
  opacity: 0;
  background-position: -137px -65px;
}
.section a.link:hover .icon-arrow:before {
  opacity: 0;
}
.section a.link:hover .icon-arrow:after {
  opacity: 1;
}
.page-header,
.headline {
  color: #022d4a;
  text-align: center;
  margin: 0 0 28px;
  padding: 0;
  border: 0;
}
.page-header .label-text,
.headline .label-text {
  display: block;
  color: #00a29b;
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 8px;
}
.page-header h1,
.headline h1 {
  font-size: 50px;
  line-height: 52px;
  font-weight: 700;
  margin: 0;
}
.page-header h1 + p,
.headline h1 + p {
  margin-top: 14px;
}
.page-header p:last-child,
.headline p:last-child {
  margin-bottom: 0;
}
.section-info .page-header,
.section-info .headline {
  margin-bottom: 15px;
}
.section-main {
  position: relative;
  background: #fff;
  padding: 84px 0 223px;
}
.section-main:before,
.section-main:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 59.154%;
  max-width: 769px;
  height: 746px;
  overflow: hidden;
  background: url(../images/bg-section-main.png) no-repeat;
}
.section-main:after {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  width: 61%;
  max-width: 793px;
  background-position: 100% 100%;
}
.section-main > div {
  z-index: 2;
  position: relative;
}
#main-nav + .section {
  padding-top: 184px;
}
#main-nav + .section.section-main:before {
  top: 100px;
}
.items-box,
.house-box {
  margin: 0 -15px;
  border-bottom: 2px solid #d5e9e8;
}
.items-box:after,
.house-box:after {
  content: "";
  clear: both;
  display: block;
}
.items-box > .item,
.house-box > .item {
  padding: 23px 34px 34px 31px;
  border-top: 2px solid #d5e9e8;
}
.items-box > .item:first-child,
.house-box > .item:first-child {
  margin-top: 0;
}
.items-box h2,
.house-box h2 {
  font-size: 17px;
  line-height: 23px;
  font-weight: 700;
  text-transform: none;
  margin-bottom: 6px;
}
.items-box h2 strong,
.house-box h2 strong {
  color: #00a29b;
  font-size: 19px;
  text-transform: uppercase;
}
.house-box > .item {
  padding: 17px 0 19px;
}
.house-box > .item:first-child {
  margin-top: 0;
}
.house-box > .item.active .icon-arrow-bottom:before {
  content: "\e602";
}
.house-box .items-box {
  margin: 0;
  border-bottom: 0;
  padding-top: 19px;
}
.house-box .items-box > .item {
  padding-top: 32px;
}
.house-box .items-box > .item:last-child {
  padding-bottom: 18px;
}
.house-box .items-box .info-bar .cell:last-child {
  padding-left: 11px;
}
.lots-list {
  margin: 0;
  padding: 0;
}
.lots-list li {
  font-size: 15px;
  line-height: 18px;
  margin: 3px 0 0;
  list-style: none outside;
  border: 1px solid #d5e9e8;
  background: #fff;
  border-radius: 0 17px 17px 0;
}
.lots-list li:first-child {
  margin-top: 0;
}
.lots-list li:hover,
.lots-list li.active {
  background: #ecf8f9;
}
.info-bar {
  width: 100%;
  display: table;
  padding: 12px 0 8px;
}
.info-bar .cell {
  display: table-cell;
  vertical-align: middle;
  border-left: 1px solid #d5e9e8;
  padding: 0 6px;
  text-align: center;
}
.info-bar .cell:first-child {
  border-left: 0;
}
.info-bar .cell:last-child {
  text-align: right;
}
.info-bar .cell:first-child {
  width: 99px;
}
.info-bar .cell:nth-child(2) {
  width: 105px;
}
.info-bar .cell:nth-child(3) {
  width: 138px;
}
.info-bar .cell:last-child {
  width: 202px;
}
.info-bar .name {
  letter-spacing: 0.5px;
}
.info-bar .label-text {
  display: none;
}
.info-bar .lot {
  text-transform: uppercase;
}
.info-bar .price {
  font-weight: normal;
  display: inline-block;
  padding-bottom: 1px;
}
.info-bar .action {
  position: relative;
  padding-right: 105px;
  text-align: center;
  margin: -7px 0 -2px;
  overflow: visible;
}
.info-bar .action .btn-open {
  color: #022d4a;
  position: absolute;
  top: 0;
  right: 0;
}
.info-bar .action .btn-open:hover {
  color: #fff;
}
.info-bar .btn-view,
.info-bar .btn-download {
  color: #022d4a;
  margin: 1px 1px 0 0;
  text-decoration: none;
}
.info-bar .btn-view i,
.info-bar .btn-download i {
  font-size: 17px;
  vertical-align: -1px;
}
.info-bar .btn-view .icon-download2,
.info-bar .btn-download .icon-download2 {
  margin-left: 1px;
}
.info-bar .btn-open {
  min-width: 100px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 13px;
  line-height: 38px;
  letter-spacing: 0.5px;
  margin: 0;
  text-decoration: none;
}
li.active .info-bar .btn-open {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
li.active .info-bar .btn-open:hover {
  color: #575757;
}
.land,
.frontage {
  color: #575757;
  font-weight: normal;
  text-transform: capitalize;
}
.land em,
.frontage em {
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.frontage {
  padding-right: 3px;
}
i.ico-size-v,
i.ico-size-h {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  overflow: hidden;
  margin-right: 3px;
  background: url(../images/sprite.png) no-repeat -40px -57px;
  vertical-align: -1px;
}
i.ico-size-h {
  background-position: -60px -57px;
  vertical-align: -2px;
}
.btn-view,
.btn-download {
  position: relative;
}
.btn-view i,
.btn-download i {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 18px;
  margin: -9px 0 0 -7px;
}
.btn-view i:before,
.btn-download i:before,
.btn-view i:after,
.btn-download i:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../images/sprite.png) no-repeat -81px -55px;
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
}
.btn-view i:after,
.btn-download i:after {
  opacity: 0;
  background-position: -100px -55px;
}
.btn-view i.ico-download2:before,
.btn-download i.ico-download2:before,
.btn-view i.ico-download2:after,
.btn-download i.ico-download2:after {
  width: 14px;
  height: 17px;
  background-position: -171px -128px;
}
.btn-view i.ico-download2:after,
.btn-download i.ico-download2:after {
  background-position: -171px -151px;
}
.btn-view:hover i:before,
.btn-download:hover i:before {
  opacity: 0;
}
.btn-view:hover i:after,
.btn-download:hover i:after {
  opacity: 1;
}
.enquire-bar {
  overflow: hidden;
  border-radius: 0 0 14px 0;
}
.enquire-bar > .frame {
  background: #d5eef0;
  border-top: 1px solid #d5e9e8;
  padding: 22px 25px 26px 28px;
  border-radius: 0 0 14px 0;
}
.tooltip {
  font-size: 13px;
  line-height: 12px;
  font-weight: 700;
}
.tooltip-inner {
  border-radius: 12px;
  padding: 7px 10px 10px;
  text-transform: capitalize;
}
.tooltip.top {
  margin-top: 0;
}
.tooltip.top .tooltip-arrow {
  border-top-width: 12px;
}
.enquire-form .row {
  margin: 7px -4px 0;
}
.enquire-form .row:first-child {
  margin-top: 0;
}
.enquire-form .row > div {
  padding-left: 4px;
  padding-right: 4px;
}
.enquire-form .form-control {
  color: #6a808e;
  height: 40px;
  border-color: #fff;
  box-shadow: none !important;
  font-size: 14px;
  line-height: 26px;
  border-radius: 12px;
}
.enquire-form .form-control:focus {
  outline: none;
}
.enquire-form select {
  float: left;
  width: 100%;
  margin: 0;
}
.enquire-form .jcf-select {
  margin: 0;
}
.enquire-form .btn {
  width: 100%;
  height: 40px;
  font-size: 13px;
  line-height: 40px;
  letter-spacing: 0.5px;
  margin: 0;
}
.enquire-form .jcf-select-opener {
  background: #ecf8f9;
}
.house-bar {
  overflow: hidden;
  padding: 0 34px 0 31px;
}
.house-bar .title {
  float: left;
  width: 270px;
  padding: 6px 20px 0 0;
}
.house-bar .title h2 {
  font-size: 33px;
  line-height: 1;
  margin-bottom: 10px;
}
.house-bar .title h3 {
  color: #00a29b;
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 1px;
}
.house-bar .title .price {
  font-weight: 400;
}
.house-bar .title .info {
  overflow: hidden;
  margin-left: -20px;
}
.house-bar .title .info .price,
.house-bar .title .info .land,
.house-bar .title .info .frontage {
  margin-left: 20px;
}
.house-bar .title .btn {
  margin-top: 12px;
}
.house-bar .specs {
  float: left;
  width: 151px;
  margin: 0 20px 0 0;
  border: 1px solid #d5e9e8;
  background: #fff;
}
.house-bar .specs dt,
.house-bar .specs dd {
  height: 33px;
  padding: 9px 5px 7px;
  text-align: center;
  font-size: 28px;
  line-height: 33px;
  border-top: 1px solid #d5e9e8;
  box-sizing: content-box;
}
.house-bar .specs dt:first-child,
.house-bar .specs dt:first-child + dd {
  border-top: 0;
}
.house-bar .specs dt {
  float: left;
  width: 66px;
  color: #022c49;
  padding-right: 6px;
  background: #ecf8f9;
  border-right: 1px solid #d5e9e8;
}
.house-bar .specs dd {
  overflow: hidden;
  color: #474747;
  font-weight: 700;
}
.house-bar .specs .icon-bath {
  font-size: 28px;
  vertical-align: -2px;
}
.house-bar + .slide {
  display: none;
}
/*
.more {
	position:relative;
	display:inline-block;
	vertical-align:top;
	padding-right:18px;
	font-size:14px;
	line-height:20px;
	text-transform:uppercase;
	&:after {
		content:"";
		position:absolute;
		right:0;
		top:5px;
		width:7px;
		height:10px;
		overflow:hidden;
		background:url(../images/sprite02.png) no-repeat -24px -1px;
	}
	&:hover {
		&:after {background-position:-36px -1px;}
	}
	strong {font-weight:700 !important;}
	.box & {
		color:@link-decoration;
		text-transform:none;
		strong {font-weight:400 !important;}
		&:after {
			top:5px;
			height:11px;
			background-position:-1px -1px;
		}
		&:hover {
			&:after {background-position:-12px -1px;}
		}
	}
	.popup & {
		&,
		strong {color:#fff !important;}
		text-decoration:none;
		&:hover strong {
			color:@green-light-hover !important;
		}
	}
	.posts-grid &,
	.section-info & {text-decoration:none;}
} */
.aside-panel {
  width: 292px;
}
.aside-panel .box {
  color: #022d4a;
  margin: 26px 0 0;
  padding: 29px 42px 32px 41px;
  border: 4px solid #d5e9e8;
  background: #fff;
  font-size: 15px;
  line-height: 19px;
}
.aside-panel .box:first-child {
  margin-top: 0;
}
.aside-panel .box p {
  margin: 13px 0 0;
}
.aside-panel .box p:first-child {
  margin-top: 0;
}
.aside-panel .box a.link {
  position: relative;
  text-decoration: underline;
  text-transform: none;
  font-size: 15px;
  line-height: 19px !important;
  padding-right: 18px;
  font-weight: 400;
}
.aside-panel .box h3 {
  color: #022d4a;
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.aside-panel .box h4 {
  color: #00a29b;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin: 0 0 13px;
}
.wf-active .aside-panel .box h4 {
  font-size: 19px;
}
.aside-panel .box h5 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin: 23px 0 4px;
  padding-top: 21px;
  border-top: 1px solid #d5e9e8;
  text-transform: uppercase;
}
.aside-panel .box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.aside-panel .box ul:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
.aside-panel .box ul li {
  margin-top: 2px;
  list-style: none outside;
}
.aside-panel .box ul li:first-child {
  margin-top: 0;
}
.aside-panel .box li a {
  color: #022d4a;
  text-decoration: none;
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
}
.aside-panel .box li.active a,
.aside-panel .box li a:hover {
  color: #00a29b;
}
.aside-panel .box-map,
.aside-panel .box-plans {
  padding-top: 27px;
  padding-bottom: 34px;
}
.aside-panel .box-map h4,
.aside-panel .box-plans h4 {
  margin-bottom: 6px;
}
.aside-panel .box-map h3 + h4,
.aside-panel .box-plans h3 + h4 {
  margin-top: -3px;
}
.aside-panel .box-map h3 {
  font-size: 33px;
  line-height: 1;
}
.aside-panel .box-plans h3 + h4 {
  margin-top: -2px;
}
.aside-panel .box-map ul li,
.aside-panel .box-plans ul li {
  border-bottom: 1px solid #d5e9e8;
  font-size: 15px;
  line-height: 17px;
}
.aside-panel .box-map ul strong,
.aside-panel .box-plans ul strong {
  display: block;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
}
.aside-panel .box-map ul span i,
.aside-panel .box-plans ul span i {
  font-size: 6px;
  vertical-align: 0;
  margin-left: 2px;
}
.aside-panel .box-map ul a,
.aside-panel .box-plans ul a {
  position: relative;
  display: block;
  padding: 13px 10px 11px 65px;
}
.aside-panel .box-plans ul a {
  padding-left: 62px;
}
.ico-house,
.ico-location,
.ico-map,
.ico-download {
  position: absolute;
  top: 50%;
  left: 11px;
  width: 34px;
  height: 36px;
  overflow: hidden;
  margin-top: -21px;
}
.ico-house:before,
.ico-location:before,
.ico-map:before,
.ico-download:before,
.ico-house:after,
.ico-location:after,
.ico-map:after,
.ico-download:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../images/sprite.png) no-repeat -1px -82px;
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
}
.ico-house:after,
.ico-location:after,
.ico-map:after,
.ico-download:after {
  opacity: 0;
  background-position: -40px -82px;
}
a:hover .ico-house:before,
a:hover .ico-location:before,
a:hover .ico-map:before,
a:hover .ico-download:before {
  opacity: 0;
}
a:hover .ico-house:after,
a:hover .ico-location:after,
a:hover .ico-map:after,
a:hover .ico-download:after {
  opacity: 1;
}
.ico-location {
  height: 38px;
  margin-top: -19px;
}
.ico-location:before {
  background-position: -1px -144px;
}
.ico-location:after {
  background-position: -40px -144px;
}
.ico-map {
  height: 40px;
}
.ico-map:before {
  background-position: -1px -203px;
}
.ico-map:after {
  background-position: -40px -203px;
}
.ico-download {
  left: 1px;
  width: 48px;
  height: 35px;
  margin-top: -20px;
}
.ico-download:before {
  background-position: -83px -82px;
}
.ico-download:after {
  background-position: -137px -82px;
}
.ico-bed,
.ico-car {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 25px;
  background: url(../images/sprite.png) no-repeat -84px -145px;
}
.ico-car {
  width: 31px;
  height: 23px;
  vertical-align: -2px;
  background-position: -130px -145px;
}
.posts-list {
  padding-top: 57px;
}
.posts-list:first-child {
  padding-top: 0;
}
.posts-list a strong {
  font-weight: 600;
}
.posts-list .post {
  overflow: hidden;
  padding: 40px 0 43px;
  border-bottom: 2px solid #d5e9e8;
}
.posts-list .post:first-child {
  padding-top: 0;
}
.posts-list .image {
  float: right;
  margin: 27px 0 0 30px;
}
.posts-list .image img {
  border-radius: 50%;
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
}
.posts-list .image a:hover img {
  opacity: 0.8;
}
.posts-list .text-holder {
  overflow: hidden;
}
.posts-list .text-holder:first-child {
  padding-right: 40px;
}
.posts-list .title {
  margin: 0 0 9px;
}
.posts-list .title h2 {
  font-size: 33px;
  line-height: 1.212;
  font-weight: 700;
  margin: 0;
}
.posts-list .title p {
  margin: 0 0 8px;
}
.posts-list .info {
  color: #00a29b;
  font-size: 19px;
  line-height: 1.263;
  font-weight: 700;
  text-transform: uppercase;
}
.posts-grid .post {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.posts-grid .image {
  line-height: 96px;
  margin: 0 0 16px;
}
.posts-grid .image img {
  vertical-align: middle;
}
.posts-grid p:last-child {
  margin-bottom: 0;
}
.section-form {
  min-height: 784px;
  padding: 175px 0 0;
  background: #ffffff url(../images/bg-section-intro-alt.jpg) no-repeat 50% 100%;
  background-size: cover;
  text-align: center;
}
.section-form h2 {
  color: #00a29b;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.section-form .page-header {
  padding-left: 30px;
  padding-right: 30px;
}
.section-form .form-box {
  text-align: left;
}
.section-info {
  background: #fff;
  padding: 70px 0 62px;
  text-align: center;
}
.section-info address {
  display: block;
  margin-bottom: 5px;
  padding-top: 1px;
}
.section-info p {
  margin-bottom: 3px;
}
.section-info a > strong {
  font-weight: 400;
}
.section-info .phone {
  color: #00a29b;
  font-size: 33px;
  line-height: 40px;
  font-weight: 700;
}
.section-info .phone:first-child {
  padding-top: 0;
}
.section-info .phone a {
  display: none;
  text-decoration: none;
}
.section-info .phone a:before {
  display: none;
}
.section-info .phone + p {
  margin-top: 0;
}
.section-map {
  position: relative;
  background: #022745;
}
.section-map:after {
  content: "";
  clear: both;
  display: block;
}
.section-map img {
  vertical-align: top;
}
.section-map .map-holder {
  position: relative;
  left: 50%;
  width: 1920px;
  margin-left: -960px;
}
.section-map .popup-holder {
  position: absolute;
  left: 771px;
  bottom: 201px;
}
.section-map .popup {
  color: #fff;
  position: absolute;
  width: 245px;
  bottom: 4px;
  left: 100%;
  margin-left: 28px;
  border: 1px solid #eae9e7;
  background: #022745;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.13);
  padding: 25px 25px 20px;
  font-size: 16px;
  line-height: 22px;
}
.section-map .popup:after {
  content: "";
  position: absolute;
  left: -28px;
  bottom: 15px;
  width: 30px;
  height: 21px;
  overflow: hidden;
  background: url(../images/sprite.png) no-repeat 0 -53px;
}
.section-map .popup .title {
  color: #00a29b;
  display: block;
  font-size: 21px;
  line-height: 22px;
  font-weight: 700;
  margin: 0 0 13px;
  padding-right: 20px;
  text-transform: uppercase;
}
.section-map .popup .ico-close {
  color: #fff;
  position: absolute;
  top: 24px;
  right: 23px;
  width: 12px;
  height: 12px;
  font-size: 12px;
  text-decoration: none;
  -moz-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  -webkit-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s;
}
.section-map .popup .ico-close:hover {
  color: #00a29b !important;
}
.section-map .popup address,
.section-map .popup p {
  line-height: inherit;
  margin-bottom: 12px;
}
.section-map .popup address:last-child,
.section-map .popup p:last-child {
  margin-bottom: 0;
}
.section-map .popup a.link {
  color: #fff;
}
.section-map .popup a.link .icon-arrow:before {
  background-position: -154px -65px;
}
.section-map .popup a.link .icon-arrow:after {
  background-position: -137px -65px;
}
.section-map .popup a.link:hover {
  color: #00a29b;
}
.no-bg-register #main-nav [class*="btn"] {
  color: #00496d;
  display: inline-block;
  vertical-align: top;
  background: none;
  box-shadow: none;
  padding: 0;
  border-radius: 0;
  line-height: 40px;
  margin: 0 24px;
}
.no-bg-register #main-nav [class*="btn"]:hover {
  color: #575757 !important;
}
.section-intro {
  min-height: 805px;
  overflow: hidden;
  padding-bottom: 223px;
  background: #ffffff url(../images/bg-block4a.jpg) no-repeat 50% 100%;
  background-size: 100% auto;
  text-align: center;
}
.section-intro .page-header + .text-block,
.section-intro .headline + .text-block {
  margin-top: -4px;
}
.section-intro h2 {
  color: #00a29b;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.section-intro .btn {
  font-size: 15px;
  letter-spacing: 0.5px;
}
.text-block {
  padding-left: 30px;
  padding-right: 30px;
}
.dislaimer-box {
  line-height: 22px;
}
.dislaimer-box h2 {
  margin-bottom: 20px;
}
.dislaimer-box .page-header {
  margin-bottom: 57px;
}
.dislaimer-box .btn {
  margin-top: 17px;
}
.terms-box {
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  padding-top: 29px;
}
.terms-box:first-child {
  padding-top: 0;
}
.terms-box h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
}
.terms-box h3 {
  color: #022d4a;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  margin: 40px 0 0;
}
.terms-box h3:first-child {
  margin-top: 0;
}
.terms-box h3 + ol {
  margin-top: 0 !important;
}
.terms-box h2,
.terms-box ol > li:before {
  color: #00a29b;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
}
.terms-box ol {
  margin: 36px 0 0;
  padding: 0;
  list-style: none;
  counter-reset: list1;
  padding-bottom: 52px;
  border-bottom: 2px solid #d5e9e8;
}
.terms-box ol h2 {
  margin: 0;
}
.terms-box ol > li {
  margin-top: 52px;
  padding: 38px 0 0;
  border-top: 2px solid #d5e9e8;
  font-size: inherit;
  line-height: inherit;
}
.terms-box ol > li > h2:first-child {
  display: inline;
  vertical-align: top;
}
.terms-box ol > li:first-child {
  margin-top: 0;
}
.terms-box ol > li:before {
  counter-increment: list1;
  content: counter(list1) ". ";
}
.terms-box ol ol {
  margin: 10px 0 0;
  padding-bottom: 0;
  border-bottom: 0;
  counter-reset: list2;
}
.terms-box ol ol > li {
  border: 0;
  padding: 0;
  margin: 20px 0 0;
}
.terms-box ol ol > li:first-child {
  margin-top: 0;
}
.terms-box ol ol > li:before {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
  counter-increment: list2;
  content: counter(list1) "." counter(list2) " ";
}
.terms-box ol ol.start-6 {
  counter-reset: list4 5;
}
.terms-box ol ol.start-6 > li {
  content: counter(list4) ". ";
}
.terms-box ol ol ol {
  margin-top: 0;
  counter-reset: list3;
}
.terms-box ol ol ol > li {
  margin: 0;
  padding: 0;
}
.terms-box ol ol ol > li:before {
  counter-increment: list3;
  content: "(" counter(list3, lower-latin) ") ";
}
.terms-box address {
  display: block;
  margin: 20px 0 0;
  line-height: inherit;
}
.terms-box address:first-child {
  margin-top: 0;
}
.terms-box address a {
  text-decoration: none;
}
.terms-box .btn-primary {
  font-size: 15px;
  margin-top: 24px;
  letter-spacing: 0.5px;
}
.mobile-view {
  display: none;
}
.standalone-form {
  background-color: #ffffff;
}
.standalone-form .form.mapovis-form {
  margin-top: 10px !important;
}
.standalone-form .form.mapovis-form .field-holder {
  margin-bottom: 6px;
}
.standalone-form .form.mapovis-form .field-holder .form-control,
.standalone-form .form.mapovis-form .field-holder .jcf-select {
  border: 1px solid #d5e9e8;
}
.standalone-form .form.mapovis-form .field-holder .jcf-select {
  margin-bottom: 0px;
}
.standalone-form .form.mapovis-form .field-holder .submit {
  width: 100%;
}
.living-options .aside-panel {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.living-options .aside-panel .box-plans h3,
.living-options .aside-panel .box-plans h4 {
  text-align: center;
}
.living-options .aside-panel .box-plans ul {
  margin: 0 auto;
  max-width: 220px;
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  [class*="btn"] {
    font-size: 11px;
    padding: 0 20px;
  }
  #main-nav.section-1b-nav {
    background-color: #ffffff !important;
  }
  #main-nav ul #logo-space {
    max-width: 60px;
  }
  .logo {
    width: 60px;
    height: 60px;
    margin-top: -32px !important;
  }
  .logo-main {
    width: 375px;
    margin-top: 126px;
  }
  .logo-main:before {
    width: 341px;
    height: 341px;
    border-width: 11px;
  }
  .section-1b .text-holder {
    float: right;
    margin: 95px 12% 0 0;
  }
  .section-1b h2 {
    font-size: 60px;
    line-height: 62px;
    margin: 0 0 22px;
  }
  .section-1b h3 {
    font-size: 30px;
    line-height: 34px;
    margin: 0 0 18px;
  }
  .section-1b .date-time {
    right: 50px;
    bottom: 50px;
  }
  .section-1b p {
    margin: 0 0 27px;
  }
  .button-play {
    font-size: 22px;
    line-height: 26px;
  }
  .button-play .icon-play {
    font-size: 46px;
    margin: 0 auto 8px;
  }
  .section-2a {
    font-size: 15px;
    line-height: 1.47;
  }
  .section-2a h2 {
    font-size: 46px;
    line-height: 50px;
    margin: 0 0 2px;
  }
  .section-2a h3 {
    font-size: 30px;
    line-height: 34px;
  }
  .section-2a p {
    margin: 0 0 22px;
  }
  .section-3a img.xlg-max {
    display: block;
    width: 100%;
  }
  .section-3a img.extra-large {
    display: none;
  }
  .section-4a {
    padding-top: 69px;
  }
  .section-4a h2 {
    margin-bottom: 46px;
  }
  .section-4a .icon-book {
    margin-bottom: 8px;
  }
  #sidebar {
    position: static;
    top: auto;
    left: auto;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 257px;
  }
  .forms-widget {
    padding: 36px 29px 29px;
    margin: 0 0 80px;
  }
  .forms-widget .jcf-select,
  .forms-widget .form-control {
    margin-bottom: 10px;
  }
  .forms-widget .btn {
    font-size: 15px;
  }
  .section-gallery .timeline {
    display: none;
  }
  .section-gallery .slide {
    min-height: 934px;
  }
  .section-main:before,
  .section-main:after {
    width: 309px;
    height: 294px;
    background-image: url(../images/bg-section-mobile.png);
  }
  .section-main:after {
    width: 355px;
    height: 334px;
    background-position: -320px 0;
  }
}
@media screen and (max-width: 1023px) {
  #main-nav ul li {
    font-size: 11px;
  }
  .section1:before {
    display: none;
  }
  .section1 .img-placeholder {
    display: none;
  }
  .section-1b .section-skrollable {
    top: 60px;
  }
  .section-1b .text-holder {
    float: none;
    margin: 40px 0 40px 0;
  }
  .section-2a {
    display: block;
    max-width: 456px;
    margin: 0 auto;
  }
  .section-2a [class*="col-"] {
    display: block;
  }
  #sidebar {
    width: auto;
    position: static;
    top: auto;
    left: auto;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    margin: 0 auto;
    max-width: 500px;
  }
  .forms-widget .heading {
    text-align: center;
  }
  .forms-widget h3 {
    font-size: 17px;
  }
  .forms-widget .radio-tabs li {
    font-size: 13px;
    line-height: 16px;
    display: inline-block;
    vertical-align: top;
  }
  .forms-widget .btn {
    margin: 0;
  }
  .post-grid .post {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-view {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  .page-header,
  .headline {
    font-size: 15px;
    line-height: 21px;
  }
  .page-header .label-text,
  .headline .label-text {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 14px;
  }
  .page-header h1,
  .headline h1 {
    font-size: 40px;
    line-height: 38px;
    padding: 2px 0;
    margin-bottom: 16px;
  }
  .section-lifestyle .page-header,
  .section-lifestyle .headline {
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 22px;
  }
  .headline {
    color: #00a19b;
    margin: 15px 0 0;
  }
  .section-lifestyle .headline {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 17px;
  }
  .headline h1,
  .headline h2 {
    color: #022d4a;
    margin-bottom: 13px;
  }
  .headline:first-child {
    margin-top: 0;
  }
  .section-main:before,
  .section-main:after {
    width: 247px;
    height: 222px;
    background-position: 0 -340px;
  }
  .section-main:after {
    width: 293px;
    height: 230px;
    background-position: -382px -362px;
  }
  .posts-grid .post {
    margin-bottom: 30px;
  }
  .posts-list {
    text-align: center;
  }
  .posts-list .image {
    float: none !important;
    text-align: center;
    margin: 0 0 40px;
  }
  .post-grid .post {
    margin-top: 40px;
  }
  .post-grid .post:first-child {
    margin-top: 0;
  }
  .section-info br {
    display: none;
  }
  .section-intro {
    padding-left: 0;
    padding-right: 0;
  }
  .section-intro br {
    display: none;
  }
}

