body 
{
	background-color: #eae9e7;
}

h1
{
	/*font-family: 'ambroise-std', 'Times New Roman', Times, serif;*/
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.header 
{
	background-color: #6a2d83;
	height: 85px;
}

#logo img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px; 

}

.alert-message
{
	padding-top:20px;	
}   

.alert-container
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 80%;
} 

.alert-message
{
	font-size: 16px;	
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.options
{
margin-bottom:20px;

}

.btn
{
height:70px;	
width: 90%;


font-weight: bold;
font-family: 'proxima-nova',Arial,Helvetica,sans-serif;
font-size: 16px;

display: block;
margin-left: auto;
margin-right: auto;
}