#autolocation_help{
    float:right;
    display:block;
    margin-top: 10px;
    width:100%;
}

#element_to_pop_up{
        
   /* width:40%; height:500px;z-index: 9999;
    position:absolute;top:190px;left:710px;
    background-color: #333333;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999999;
    color: #111111;
    min-width: 450px;
    padding: 25px;
    display:none;
    */
}

#setting_pop_up{
        
    width:40%; height:500px;z-index: 9999;
    position:absolute;top:190px;left:710px;
    background-color: #333333;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999999;
    color: #111111;
    min-width: 450px;
    padding: 25px;
    display:none;
    
}

#setting_pop_up h1{
   color:#fcfcfc;
   font-family: 'Lato', sans-serif;
   font-size:27px; 
}

#element_to_pop_up h1{
    color:#fcfcfc;
    font-family: 'Lato', sans-serif;
    font-size:27px;
     
}

#rootwizard{
    background-color: #fcfcfc;
    font-family: 'Lato', sans-serif;
    height: 400px;
    
}

#rootwizard h2{
    font-family: 'Lato', sans-serif;
    font-size:20px;
    color:#333333; 
}

#rootwizard h3{
    font-size:17px;
    font-family: 'Lato', sans-serif;
    color:#333333;
}

#rootwizard #list_content{
    width: 400px;
}

#rootwizard #autolocation_detect{
    width:280px;
}

#rootwizard #list_title{
    width:400px;
}

#rootwizard div#location_map{
    width:550px;
    height: 220px;
    
    
}

#rootwizard ul li.active a{
    
    border:none;
}

#rootwizard ul li.active a:focus{
    outline:none;
}

#rootwizard .span2{
    width:400px;
}

#rootwizard .tab-content select{
    width:320px;
    margin-top: 20px;
}

#rootwizard1{
    background-color: #fcfcfc;
    font-family: 'Lato', sans-serif;
    height: 400px;
    
}

#rootwizard1 h2{
    font-family: 'Lato', sans-serif;
    font-size:20px;
    color:#333333; 
}

#rootwizard1 h3{
    font-size:17px;
    font-family: 'Lato', sans-serif;
    color:#333333;
}

#rootwizard1 #list_content{
    width: 400px;
}

#rootwizard1 #autolocation_detect{
    width:280px;
}

#rootwizard1 #list_title{
    width:400px;
}

/*#rootwizard1 div#location_map{
    width:550px;
    height: 220px;
    
}
*/
#rootwizard1 ul li.active a{
    background: #00ADF2;
    border:none;
}

#rootwizard1 ul li.active a:focus{
    outline:none;
}

#rootwizard1 .span2{
    width:400px;
}

#rootwizard1 .tab-content select{
    width:320px;
    margin-top: 20px;
}


.tab-content #tab2{
    display:block;
    left:-3000px;
    position:absolute;
}
.widget_loginlogout{
   float:right;
   margin-top: 18px;
   margin-left: 10px;    
    
}

.site-header h1  a#post_new_listing{
    
    font-size:13px;
    text-decoration: none;
    float:right;
    margin-left: 10px;
    margin-top: 13px;
}

.site-header h1  a#setting_user{
    
    font-size:13px;
    text-decoration: none;
    float:right;
    margin-left: 10px;
    margin-top: 13px;
}

.widget_loginlogout form{
    display: none;
}

.site-header div.advanced_search{
    float: right; 
    margin-top:6px;
}

.advanced_search li a{
    font-size: 13px;
}

.dropdown-menu .sub-menu {
  left: -98%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
  display: block;
  
}

.icon-blue{
    color:#00adf2;
}

.fb_login{
    float:right;
    height:80px;
    
}
.widget_loginlogout{
    font-size:12px;
}

.widget_loginlogout small{
    font-size: 16px;
}

.according-custom-width{
    width:95%;
}

.according-heading-customcolor{
    background-color:#00adf2;
}

.according-heading-customcolor a{
    color:white;
    font-family: 'Lato', sans-serif;
    text-decoration:none;
    font-size: 17px;
    
}

a:focus{
    outline:none;
    outline-offset:0px;
}

p.contact_detail {
    padding: 10px;
}

.pac-container{
    z-index:10000 !important;
}

.custom-wizard{
    margin-top: 700px;
}



#container{
  
  width:45%; 
  float:right;
  visibility:visible;
  
}

#container .item { 
    width: 150px;
    height: 130px; 
    border:1px solid red; 
    float:left;
    margin-left: 10px;
}

#container .item.w2 {  
    border: 1px solid red;
    height: 295px;
    width: 25%; 
}

div.leftbar{
    float:left;
    width: 7%;
    margin-top: 40px;
    
}

.leftbar ul li{
    margin-bottom: 85px;
}

div.rightbar{
    float:right;
    width:92%;
    
    margin-top:-10px;
    
}

div.map_location{
    float:left;
    width: 100%;
}

div.contact_infos{
    float:left;
    width:100%;
    margin-top:10px;
}

.contact_infos div.contact_data{
    float:left;
    width:30%;
}

div.link{
    float:left;
    width:40px;
}

img.current {
    width: 150px;
    height:150px;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.1;
    
}

.modal {
  top: 30px;
  right: 0;
  width: 40%;
  margin: 100px 30px 30px;
}

.modal.fade {
    top: 0;
}

.modal.fade.in {
    top: 0;
}

#welcome_message_popup{
    height :400px;
    width:500px;
}

.modal-body{
    height:250px;
}
